@model IList<CommitteeActivity>
@{
}

@if (Model.Count() > 0)
{
	<table id="activitiesTable" class="display">
		<thead>
			<tr>
				<th>Activities</th>
			</tr>
		</thead>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					<div class="box">
						<h2 class="boxtitle">@item.Title</h2>
						<div class="boxinfo">
							<ul class="post_meta_links">
								<li class="post_categoty">@item.EventDate</li>
								<li class="post_categoty">@item.EventTime</li>
								@if (!string.IsNullOrWhiteSpace(item.Keywords))
								{
									foreach (string key in item.Keywords.Split(','))
									{
										<li class="post_categoty">@key</li>
									}
								}
							</ul>
							<div class="clearfix margin_top1"></div>
							@item.Description
						</div>
						@if (item.Images.Count() > 1)
						{
							<a href="@Url.Action("Activities", "CampusCommittee", new { id = item.ID })" target="_blank">
								<button class="btn btn-outline-primary">More..</button>
							</a>

						}
						<div class="clearfix margin_top1"></div>
						<ul class="Activitesfile">
							@foreach (var file in item.Files)
							{

								<li>
									@if (file.FileType.ToUpper() == "PDF")
									{
										<a href="javascript:void(0)" onclick="loadPdf('@file.FilePath','@file.Title')">
											<i class="fa fa-file-pdf-o " aria-hidden="true"></i>
											@file.Title
										</a>
									}
									else
									{
										<a href="@Url.Content(file.FilePath)" target="_blank" download>
											<i class="fa @(file.FileType.ToUpper() == "WORD" ? "fa-file-word-o" : "fa-file-excel-o")" aria-hidden="true"></i>
											@file.Title
										</a>
									}
								</li>
							}

						</ul>

					</div>
					<div class="clearfix margin_bottom1"></div>
				</td>
			</tr>
		}
	</table>
}
