@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Administrative";
}

<div class="clearfix"></div>


<div class="page_title3">
    <div class="container">

        <h1>
            Administrative Block <em>Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>
<div class="clearfix"></div>


<div class="content_fullwidth">

    <div class="container">

        <div class="one_half">

            <div id="owl-demo2" class="owl-carousel">

                <div><img src="@Url.Content("~/images/Administrative/College.jpg")" alt="" class="rimg"></div>

                <div><img src="@Url.Content("~/images/Administrative/download.jpg")" alt="" class="rimg"></div>

                <div><img src="@Url.Content("~/images/Administrative/img.jpeg")" alt="" class="rimg"></div>

            </div>

        </div>
        <!-- end section -->

        <div class="one_half last">

            <div class="stcode_title5">
                <h3 class="nmb"><strong>Administrative Block</strong></h3>
            </div>

            @*<h5 class="gray">Will cover many web sites still in their infancy various versions have evo packages over the years.</h5>*@

        <p>The Administrative Block is a well-planned and spacious building that consists of the vast Reception area and the well-laid out corporate sector that includes the the Principal’s office, the Accounts Office, the Executive Office, the Administrative Officer’s office ,the Board Room and the Conference Hall.</p>

            <div class="clearfix marb12"></div>

        </div>
        <!-- end section -->

    </div>
    <!-- end all sections -->




    

            <div id="grid-container" class="cbp-l-grid-fullWidth">

                <div class="cbp-item identity logos">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img1.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Model as Structures</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img1.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Model as Structures <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item web-design">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img2.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Looking Publishing</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img2.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Looking Publishing <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item identity">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img3.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Webpage as Packages</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img3.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Webpage as Packages <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item web-design">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img4.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Software Versions</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img4.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Software Versions <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item graphic">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img5.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Printer took Galley</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img5.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Printer took Galley <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img6.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Popularise Release</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img6.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Popularise Release <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item graphic web-design">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img7.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Classical Through</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img7.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Classical Through <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item logos">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img8.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Alteration Words</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img8.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Alteration Words <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item web-design">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img5.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Printer took Galley</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img5.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Printer took Galley <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item graphic">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img6.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Popularise Release</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img6.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Popularise Release <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item logos web-design">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img7.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Classical Through</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img7.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Classical Through <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item">
                    <div class="cbp-caption graphic">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img8.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Alteration Words</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img8.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Alteration Words <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

            </div>

            <!--<div class="cbp-l-loadMore-text">
                <div data-href="ajax/loadMore.html" class="cbp-l-loadMore-text-link">LOADING...</div>
            </div>-->


        </div>
    </div>
    <!-- end works section -->
    @section scripts{

        @*<script type="text/javascript" src="@Url.Content("~/js/cubeportfolio/jquery.cubeportfolio.min.js")"></script>*@
        <script src="@Url.Content("~/js/loopslider/jquery.loopslider.js")"></script>
        <script>
            $(function () {
                $('#slider').loopSlider({
                    autoMove: true,
                    mouseOnStop: true,
                    turn: 9000,
                    motion: 'swing',
                    delay: 500,
                    width: 750,
                    height: 400,
                    marginLR: 10,
                    viewSize: 100,
                    viewOverflow: 'visible',
                    navPositionBottom: 30,
                    navibotton: true,
                    navbtnImage: ''
                });
            });
        </script>


    }
    @section styles{
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/js/loopslider/style.css")">
    }




