@model IList<GECP_Front_End_Static.Models.FacultyDetailsVM>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Applied Mechanics";
}

<div class="clearfix"></div>


<div class="page_title3 general_title">
    <div class="container">

        <h1>
            Applied Mechanics 
            <div class="line"></div>
        </h1>

    </div>
</div>
<div class="clearfix"></div>


<div class="content_fullwidth">

    <div class="container">

        <div class="one_half">

            <div id="owl-demo2" class="owl-carousel">

                <div><img src="@Url.Content("~/images/Department/General/slider1.png")" alt="" class="rimg"></div>

            </div>

        </div>
        <!-- end section -->

        <div class="one_half last text-justify">

            <div class="stcode_title5">
                <h3 class="nmb"><strong>General</strong></h3>
            </div>

            <p>
                The Applied Mechanics Department is committed to finding solutions to our major sustainability challenges this century and to educating and training the leaders who will have a large impact on our profession and on society. Join us in this important endeavor. The department of Applied Mechanics an independent functioning unit is the backbone of Civil Engineering. The department presents a picture of a small but fully dedicated and developed faculty contributing to all round growth of students, Institute, Industries and Society. While we're equipping our students with the knowledge and tools that can apply to the Civil Engineering and all other Engineering professional skills today,  our real goal is to the coming decades.
            </p>

            <div class="clearfix marb12"></div>

        </div>
        <!-- end section -->
        <div class="margin_top2"> </div>
    </div>
    <!-- end all sections -->
    <!-- end parallax section 12 -->
    <div class="margin_top4"></div>
    <div class="featured_section14">
        <div class="container">

            <div class="one_half animate" data-anim-type="fadeInLeft" data-anim-delay="300">

                <img src="@Url.Content("~/images/Department/Computer/icon-img12.png")" alt="" />
                <br /><br />
                <h3 class="white">Vision</h3>

                <p>To achieve excellence by providing overall development of the student.</p>
                <br /><br />


            </div>
            <!-- end section -->

            <div class="one_half last animate" data-anim-type="fadeInRight" data-anim-delay="300">

                <img src="@Url.Content("~/images/Department/Computer/icon-img13.png")" alt="" />
                <br /><br />
                <h3 class="white">Mission</h3>

                <p>
                    To train graduates according to the needs of industry, government, society and scientific community.
                </p>
                <br /><br />


            </div>
            <!-- end section -->

        </div>
    </div>
    <!-- end featured section 14 -->
    <div class="featured_section3 two">
        <div class="container">

            <div class="onecol_forty"><img src="@Url.Content("~/images/Department/General/HoD.png")" alt="" class="rimg animate" data-anim-type="fadeInLeft" data-anim-delay="300" /></div>
            <div class="onecol_sixty last animate" data-anim-type="fadeInRight" data-anim-delay="300">

                <strong class="color3">HOD MESSAGE</strong>
                <br />
                <p class="bigtfont text-justify">

                    On behalf of our students and faculty, it is my privilege to welcome all of you to the Applied Mechanics Department at Government Engineering College Patan.
                    <br />
                    The general engineering and applied sciences department forms the initial soil for any of the B.Tech degree courses.
                    <br />
                    We take pride in our faculty, a team of highly capable and dedicated professionals, most of whom have academic and industrial experience and degrees from leading universities of the India. We provide ample opportunities to our faculty and students, through in -house trainings, workshops and trainings outside the college campus for further growth and development in their areas of expertise.
                    <br />
                    I congratulate to the team of faculty members and the students for their brilliant and original efforts. I wish all the Students and Faculty a great academic career.
                    <br />
                    <br />
                    - Dr. Paresh Nimodia

                </p>
            </div>
        </div>
    </div>


</div>

<!-- end featured section 3 -->

<div class="margin_top4"></div>
<div id="slider-outline">

    <div id="slider">

        <div id="sl-view" class="clearfix">

            <div id="sl-wrap">


                <!--<div class="sl-div two">

                    <div class="cirpimg"><img src="@Url.Content("~/images/Department/General/dummy.jpg")" alt="" class="dept_faculty_pic"></div>
                    <h4 class="roboto">Dr. Harshavadan Patel <em></em></h4>
                    <h4 class="roboto">Principal <em></em></h4>
                    <br />


                </div>-->
                <!-- end section -->

                <!--<div class="sl-div two">

                    <div class="cirpimg"><img src="@Url.Content("~/images/Department/General/dummy.jpg")" alt="" class="dept_faculty_pic"></div>
                    <h4 class="roboto">Dr. Dipak Varia <em></em></h4>
                    <h4 class="roboto">Assistant Professor <em></em></h4>
                    <br />


                </div>-->
                <!-- end section -->
                 @foreach(var faculty in Model){
                     <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/"+faculty.image)" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">@faculty.Name<em></em></h4>
                        <h4 class="roboto">@faculty.Designation<em></em></h4>
                       @* <div class="roboto">@Html.Raw(faculty.personal_details) </div>*@
                       @* <h4 class="roboto">@faculty.<em></em></h4>*@
                        
                    </div>
                    }

                @*<div class="sl-div two">

                    <div class="cirpimg"><img src="@Url.Content("~/images/Department/General/dummy.jpg")" alt="" class="dept_faculty_pic"></div>
                    <h4 class="roboto">Mr. Hardik Trivedi<em></em></h4>
                    <h4 class="roboto">Assistant Professor<em></em></h4>
                    <br />


                </div>
                <!-- end section -->
                <div class="sl-div two">

                    <div class="cirpimg"><img src="@Url.Content("~/images/Department/General/dummy.jpg")" alt="" class="dept_faculty_pic"></div>
                    <h4 class="roboto">Mr. Paresh Nimodia<em></em></h4>
                    <h4 class="roboto">Assistant Professor<em></em></h4>
                    <br />


                </div>
                <!-- end section -->
                <div class="sl-div two">

                    <div class="cirpimg"><img src="@Url.Content("~/images/Department/General/dummy.jpg")" alt="" class="dept_faculty_pic"></div>
                    <h4 class="roboto">Mr. Jignesh Patel<em></em></h4>
                    <h4 class="roboto">Assistant Professor<em></em></h4>
                    <br />


                </div>
                <!-- end section -->*@

            </div>

        </div>

        <div id="sl-next"><span>&raquo;</span></div>
        <div id="sl-prev"><span>&laquo;</span></div>

    </div>

</div>
<!-- end slider section -->
<div class="clearfix"></div>

<div class="content_fullwidth" style="padding: 0 !important">
    <img src="@Url.Content("~/images/Department/General/gen.jpg")" alt="" />
</div>

<div class="clearfix" style="background: #1a1818 !important"></div>


@section scripts{

    @*<script type="text/javascript" src="@Url.Content("~/js/cubeportfolio/jquery.cubeportfolio.min.js")"></script>*@
    <script src="@Url.Content("~/js/loopslider/jquery.loopslider.js")"></script>
    <script>
        $(function () {
            $('#slider').loopSlider({
                autoMove: true,
                mouseOnStop: true,
                turn: 9000,
                motion: 'swing',
                delay: 500,
                width: 750,
                height: 400,
                marginLR: 10,
                viewSize: 100,
                viewOverflow: 'visible',
                navPositionBottom: 30,
                navibotton: true,
                navbtnImage: ''
            });
        });
    </script>

}

@section styles{
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/js/loopslider/style.css")">
}




