@model IList<GECP_Front_End_Static.Models.FacultyDetailsVM>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Civil";
}

<div class="clearfix"></div>


<div class="page_title3 ce_title">
    <div class="container">

        <h1>
            Civil <em>Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>
<div class="clearfix"></div>


<div class="content_fullwidth">

    <div class="container">

        <div class="one_half">

            <div id="owl-demo2" class="owl-carousel">

                <div><img src="@Url.Content("~/images/Department/Civil/civil.jpg")" alt="" class="rimg"></div>

                @*<div><img src="@Url.Content("~/images/Department/Civil/img.jpeg")" alt="" class="rimg"></div>

                    <div><img src="@Url.Content("~/images/Department/Civil/download.jpg")" alt="" class="rimg"></div>*@

            </div>

        </div>
        <!-- end section -->

        <div class="one_half last text-justify">

            <div class="stcode_title5">
                <h3 class="nmb"><strong>Civil</strong></h3>
            </div>

            @*<h5 class="gray">Will cover many web sites still in their infancy various versions have evo packages over the years.</h5>*@

            <p>
                The Department of Civil Engineering has been in existence since 2009 with intake of 60 seats. Civil Engineering is considered to be the oldest engineering field. It includes the planning, design, construction, maintenance and operation of the infrastructure that surrounds us. Our infrastructure includes roads, airports, railroads, buildings, bridges, water and waste water treatment plans, sewers, drainage, flood control, water supply and many other facilities. Most everything civil engineers do affect our daily lives in many ways.
                <br />
                Our faculty members are assigned with various theory subjects prepare course plans using the standard format provided by the institute with emphasis on 'learning' of the students. The instructional or lecture delivery of the faculty will be through a set of Educational Technology / Tools opted by the faculty.
            </p>

            <div class="clearfix marb12"></div>

        </div>
        <!-- end section -->

    </div>
    <!-- end all sections -->
    <div class="margin_top2"> </div>

    <div class="parallax_section12">
        <div class="container">

            <div class="counters7 animate" data-anim-type="fadeIn" data-anim-delay="300">

                <div class="one_fifth">
                    <i class="fa fa-user"></i> <span id="target21">0</span>
                    <h4>Total Intake</h4>
                </div>
                <!-- end section -->

                <div class="one_fifth">
                    <i class="fa fa-users"></i> <span id="target22">0</span>
                    <h4>Faculties Member</h4>
                </div>
                <!-- end section -->

                <div class="one_fifth">
                    <i class="fa fa-book"></i> <span id="target23">0</span>
                    <h4>Total Subjects</h4>
                </div>
                <!-- end section -->

                <div class="one_fifth">
                    <i class="fa fa-paper-plane"></i> <span id="target24">0</span>
                    <h4>Annual Placement</h4>
                </div>
                <!-- end section -->

                <div class="one_fifth last">
                    <i class="fa fa-building"></i> <span id="target25">0</span>
                    <h4>Labs And Workshops</h4>
                </div>
                <!-- end section -->


            </div>


        </div>
    </div>
    <!-- end parallax section 12 -->
    <div class="featured_section14">
        <div class="container">

            <div class="one_half animate" data-anim-type="fadeInLeft" data-anim-delay="300">

                <img src="@Url.Content("~/images/Department/Civil/icon-img13.png")" alt="" />
                <br /><br />
                <h3 class="white">Vision</h3>

                <p>To mould civil engineering students with an emphasis on value-based education through technological innovations, teamwork, and skills for the growth of society.</p>
                <br /><br />


            </div>
            <!-- end section -->

            <div class="one_half last animate" data-anim-type="fadeInRight" data-anim-delay="300">

                <img src="@Url.Content("~/images/Department/Civil/icon-img12.png")" alt="" />
                <br /><br />
                <h3 class="white">Mission</h3>

                <p>
                    To combine quality education with career focussed learning and the application of knowledge and to mentor students for innovative thinking with relevance to entrepreneurship.
                </p>
                <br /><br />


            </div>
            <!-- end section -->

        </div>
    </div>
    <!-- end featured section 14 -->


    <div class="featured_section3 two">
        <div class="container">

            <div class="onecol_forty"><img src="@Url.Content("~/images/Department/Civil/HoD.png")" alt="" class="rimg animate" data-anim-type="fadeInLeft" data-anim-delay="300" /></div>

            <div class="onecol_sixty last animate" data-anim-type="fadeInRight" data-anim-delay="300">
                <!-- <span><em>HOD Message</em>
                <b>Start Creating a Whole Great</b> -->
                <strong class="color3">HOD MESSAGE</strong>
                <br />
                <p class="bigtfont text-justify">
                    “Engineers are the creators of the new world”. We welcome you to be a part of this creative process. The Department of Civil Engineering of Government Engineering College Patan strives for excellence in teaching and learning and professional development.
                    <br />
                    Our department is committed to provide students with a strong, broad based fundamental engineering education and prepare the students for a career in the industry, teaching and national laboratories. We promote innovative practices in the field of Civil Engineering and mentor students for innovative thinking with relevance to entrepreneurship. We also plan to develop entrepreneurial skills in students through summer internships so that they would drive the spirit of growth of our economy and would be able to generate employment opportunities for other qualified and skilled people.
                    <br />
                    Our graduates are exceptionally well prepared for challenging careers, handling major projects and being on the fast track towards new heights in their careers.
                    <br />
                    Come and join us now and build the Nation!
                    <br /><br />
                    -Mr. Vipul Patel
                </p>
            </div>

        </div>
    </div>
    <div class="margin_top4"></div>
    <!-- end featured section 3 -->

    <div id="slider-outline">

        <div id="slider">

            <div id="sl-view" class="clearfix">

                <div id="sl-wrap">
                     @foreach(var faculty in Model){
                     <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/"+faculty.image)" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">@faculty.Name<em></em></h4>
                        <h4 class="roboto">@faculty.Designation<em></em></h4>
                       @* <div class="roboto">@Html.Raw(faculty.personal_details) </div>*@
                       @* <h4 class="roboto">@faculty.<em></em></h4>*@
                        
                    </div>
                    }

                    @*<div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Civil/vdp.png")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Mr. Vipul Patel<em></em></h4>
                        <h4 class="roboto">Associate Professor <em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->

                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Civil/vmp.jpg")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Dr. Vijendrakumar Patel<em></em></h4>
                        <h4 class="roboto">Assistant Professor <em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->

                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Civil/Manjurali.jpg")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Dr. Manjurali Balya <em></em></h4>
                        <h4 class="roboto">Assistant Professor <em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->
*@

                </div>

            </div>

            <div id="sl-next"><span>&raquo;</span></div>
            <div id="sl-prev"><span>&laquo;</span></div>

        </div>

    </div>
    <!-- end slider section -->
    <!-- end parallax section 10 -->
    <!--<div class="cbp-l-loadMore-text">
        <div data-href="ajax/loadMore.html" class="cbp-l-loadMore-text-link">LOADING...</div>
    </div>-->


</div>
    </div>
    <!-- end works section -->


    <div class="clearfix margin_top2"></div>

    <div class="featured_section38">
        <div class="container">

            <h1 class="animate" data-anim-type="fadeIn" data-anim-delay="200">“The road to success is always under...<b>construction .” ...</b></h1>


        </div>
    </div>


    @section scripts{

        @*<script type="text/javascript" src="@Url.Content("~/js/cubeportfolio/jquery.cubeportfolio.min.js")"></script>*@
        <script src="@Url.Content("~/js/loopslider/jquery.loopslider.js")"></script>
        <script>
            $(function () {
                $('#slider').loopSlider({
                    autoMove: true,
                    mouseOnStop: true,
                    turn: 9000,
                    motion: 'swing',
                    delay: 500,
                    width: 750,
                    height: 400,
                    marginLR: 10,
                    viewSize: 100,
                    viewOverflow: 'visible',
                    navPositionBottom: 30,
                    navibotton: true,
                    navbtnImage: ''
                });
            });
        </script>
        <script>
            (function ($) {
                "use strict";

                $('#target21').animateNumber({
                    number: 60,

                    numberStep: function (now, tween) {
                        var floored_number = Math.floor(now),
                            target = $(tween.elem);

                        target.text(floored_number);
                    }
                },
                    5000
                )

                $('#target22').animateNumber({
                    number: 4,

                    numberStep: function (now, tween) {
                        var floored_number = Math.floor(now),
                            target = $(tween.elem);

                        target.text(floored_number);
                    }
                },
                    5000
                )

                $('#target23').animateNumber({
                    number: 45,

                    numberStep: function (now, tween) {
                        var floored_number = Math.floor(now),
                            target = $(tween.elem);

                        target.text(floored_number);
                    }
                },
                    5000
                )

                $('#target24').animateNumber({
                    number: 20,

                    numberStep: function (now, tween) {
                        var floored_number = Math.floor(now),
                            target = $(tween.elem);

                        target.text(floored_number);
                    }
                },
                    5000
                )

                $('#target25').animateNumber({
                    number: 6,

                    numberStep: function (now, tween) {
                        var floored_number = Math.floor(now),
                            target = $(tween.elem);

                        target.text(floored_number);
                    }
                },
                    5000
                )
            })(jQuery);
        </script>


    }
    @section styles{
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/js/loopslider/style.css")">
    }

