@model IList<GECP_Front_End_Static.Models.FacultyDetailsVM>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Computer";
}



<div class="clearfix"></div>


<div class="page_title3 cs_title">
    <div class="container">

        <h1>
            Computer<em>Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>
<div class="clearfix"></div>


<div class="content_fullwidth">

    <div class="container">

        <div class="one_half">

            <div id="owl-demo2" class="owl-carousel">

                <div><img src="@Url.Content("~/images/Department/Computer/comp1.jpg")" alt="" class="rimg"></div>

                @*<div><img src="@Url.Content("~/images/Department/Computer/comp2.jpg")" alt="" class="rimg"></div>

                    <div><img src="@Url.Content("~/images/Department/Computer/comp3.jpeg")" alt="" class="rimg"></div>*@

            </div>

        </div>
        <!-- end section -->

        <div class="one_half last text-justify">

            <div class="stcode_title5">
                <h3 class="nmb"><strong>Computer</strong></h3>
            </div>

            @*<h5 class="gray">Will cover many web sites still in their infancy various versions have evo packages over the years.</h5>*@

            <p>
                Computer Science & Engineering Department was established in year 2004 intake of 60 and from 2009 intake is increased to 120.  It runs under graduate course in Computer Science & Engineering.
                <br />
                Computer Engineering Laboratories are outfitted with high performance servers and computers with latest configurations. It includes C programming lab, Computer network lab, Database lab, and Advanced computing lab and Microprocessor lab. Entire campus is connected with high speed fiber network having large capacity Data Server and 100 Mbps Internet facility of 24×7 hrs.
                <br />
                Faculty members are dedicated to import quality education in the field of Computer Engineering and active in research & development work to cope with current market trends. Students are imparted knowledge about technology through workshop and expert lectures in order to interact with academia, industries & professionals.
            </p>

            <div class="clearfix marb12"></div>

        </div>
        <!-- end section -->

    </div>
    <!-- end all sections -->
    <div class="margin_top2"> </div>

    <div class="parallax_section12">
        <div class="container">

            <div class="counters7 animate" data-anim-type="fadeIn" data-anim-delay="300">

                <div class="one_fifth">
                    <i class="fa fa-user"></i> <span id="target21">0</span>
                    <h4>Total Intake</h4>
                </div>
                <!-- end section -->

                <div class="one_fifth">
                    <i class="fa fa-users"></i> <span id="target22">0</span>
                    <h4>Faculties Member</h4>
                </div>
                <!-- end section -->

                <div class="one_fifth">
                    <i class="fa fa-book"></i> <span id="target23">0</span>
                    <h4>Total Subjects</h4>
                </div>
                <!-- end section -->

                <div class="one_fifth">
                    <i class="fa fa-paper-plane"></i> <span id="target24">0</span>
                    <h4>Annual Placement</h4>
                </div>
                <!-- end section -->

                <div class="one_fifth last">
                    <i class="fa fa-building"></i> <span id="target25">0</span>
                    <h4>Labs And Workshops</h4>
                </div>
                <!-- end section -->


            </div>


        </div>
    </div>
    <!-- end parallax section 12 -->
    <div class="featured_section14">
        <div class="container">

            <div class="one_half animate" data-anim-type="fadeInLeft" data-anim-delay="300">

                <img src="@Url.Content("~/images/Department/Computer/icon-img12.png")" alt="" />
                <br /><br />
                <h3 class="white">Vision</h3>

                <p>To achieve excellence by providing value-based education in Computer Science and Engineering through innovation, teamwork and ethical practices.</p>
                <br /><br />


            </div>
            <!-- end section -->

            <div class="one_half last animate" data-anim-type="fadeInRight" data-anim-delay="300">

                <img src="@Url.Content("~/images/Department/Computer/icon-img13.png")" alt="" />
                <br /><br />
                <h3 class="white">Mission</h3>

                <p>
                    To train graduates according to the needs of industry, government, society and scientific community.
                </p>
                <br /><br />


            </div>
            <!-- end section -->

        </div>
    </div>
    <!-- end featured section 14 -->

    <div class="featured_section3 two">
        <div class="container">

            <div class="onecol_forty"><img src="@Url.Content("~/images/Department/Computer/HoD.png")" alt="" class="rimg animate" data-anim-type="fadeInLeft" data-anim-delay="300" /></div>
            <div class="onecol_sixty last animate" data-anim-type="fadeInRight" data-anim-delay="300">

                <strong class="color3">HOD MESSAGE</strong>
                <br />
                <p class="bigtfont text-justify">
                    Greetings! On behalf of the faculty members, staff, and students of the Department of Computer Science and Engineering of Government Engineering College Patan, I welcome you all to the creative world of CSE.
                    <br />
                    Our primary objective of this programme is to develop Computer Engineers with knowledge of software and hardware, responsible for wide range of computer system design and development, built them as dedicated and competent professionals for challenging world of varying requirements of automation. During the course, students are able to mould their career, polish their technical skills and also inculcate team spirit with good oral and written communication. Students are supported technically and financially to participate in competitions, hackathons at state, national and international level platforms.
                    <br />
                    Faculty members are encouraged to acquire higher degree and conduct investigation on research in the interest of the technical community. Faculty members are also supported to conduct workshops, symposium and conferences at national and international levels. They are motivated to adopt innovative teaching methodologies and best practices to make classroom a pursuit of learning.
                    <br />
                    I congratulate to the team of faculty members and the students for their brilliant and original efforts. I wish all the Students and Faculty a great academic career.
                    <br />
                    <br />
                    -Dr.Harikrishna Jethva
                </p>
            </div>
        </div>
    </div>

    <!-- end featured section 3 -->

    <div class="margin_top4"></div>
    <div id="slider-outline">

        <div id="slider">

            <div id="sl-view" class="clearfix">

                <div id="sl-wrap">

                     @foreach(var faculty in Model){
                     <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/"+faculty.image)" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">@faculty.Name<em></em></h4>
                        <h4 class="roboto">@faculty.Designation<em></em></h4>
                       @* <div class="roboto">@Html.Raw(faculty.personal_details) </div>*@
                       @* <h4 class="roboto">@faculty.<em></em></h4>*@
                        
                    </div>
                    }
                    @*<div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Computer/Jethva.png")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Dr.Harikrishna Jethva <em></em></h4>
                        <h4 class="roboto">Associate Professor <em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->

                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Computer/dummy.jpg")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Mr. Pinesh Darji<em></em></h4>
                        <h4 class="roboto">Assistant Professor<em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Computer/Adesh.jpg")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Mr. Adesh Panchal<em></em></h4>
                        <h4 class="roboto">Assistant Professor<em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Computer/Harshad.jpg")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Mr. Harshad Chaudhary<em></em></h4>
                        <h4 class="roboto">Assistant Professor<em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Computer/mitul.jpg")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Mr. Mitul Patel<em></em></h4>
                        <h4 class="roboto">Assistant Professor<em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Computer/dummy.jpg")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Ms. Hiralben Rathod<em></em></h4>
                        <h4 class="roboto">Assistant Professor<em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Computer/jay.jpg")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Mr. Jay Patel<em></em></h4>
                        <h4 class="roboto">Assistant Professor<em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Computer/mehul.jpg")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Mr. Mehulkumar Vasava<em></em></h4>
                        <h4 class="roboto">Assistant Professor<em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Computer/sachin.jpg")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Mr. Sachin Makwana <em></em></h4>
                        <h4 class="roboto">Assistant Professor<em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Computer/Haresh.jpg")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Mr. Haresh Chande<em></em></h4>
                        <h4 class="roboto">Assistant Professor<em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->

                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Computer/Divyesh.jpeg")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Mr. Divyeshkumar Bavisa<em></em></h4>
                        <h4 class="roboto">Assistant Professor<em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Computer/payal.jpg")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Miss. Payal Prajapati<em></em></h4>
                        <h4 class="roboto">Assistant Professor<em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Computer/krunal.jpg")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Dr. Krunal Suthar<em></em></h4>
                        <h4 class="roboto">Assistant Professor<em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->



                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Computer/dummy.jpg")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Mr. Bhaveshkumar Patel<em></em></h4>
                        <h4 class="roboto">Assistant Professor<em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->*@

                </div>

            </div>

            <div id="sl-next"><span>&raquo;</span></div>
            <div id="sl-prev"><span>&laquo;</span></div>

        </div>

    </div>
    <!-- end slider section -->





    <div class="clearfix margin_top2"></div>

    <div class="featured_section38">
        <div class="container">

            <h1 class="animate" data-anim-type="fadeIn" data-anim-delay="200">"The computer was born to solve problems that <b>did not exist before..."</b></h1>


        </div>
    </div>
    @section scripts{

        @*<script type="text/javascript" src="@Url.Content("~/js/cubeportfolio/jquery.cubeportfolio.min.js")"></script>*@
        <script src="@Url.Content("~/js/loopslider/jquery.loopslider.js")"></script>
        <script>
            $(function () {
                $('#slider').loopSlider({
                    autoMove: true,
                    mouseOnStop: true,
                    turn: 9000,
                    motion: 'swing',
                    delay: 500,
                    width: 750,
                    height: 400,
                    marginLR: 10,
                    viewSize: 100,
                    viewOverflow: 'visible',
                    navPositionBottom: 30,
                    navibotton: true,
                    navbtnImage: ''
                });
            });
        </script>
        <script>
            (function ($) {
                "use strict";

                $('#target21').animateNumber({
                    number: 120,

                    numberStep: function (now, tween) {
                        var floored_number = Math.floor(now),
                            target = $(tween.elem);

                        target.text(floored_number);
                    }
                },
                    5000
                )

                $('#target22').animateNumber({
                    number: 16,

                    numberStep: function (now, tween) {
                        var floored_number = Math.floor(now),
                            target = $(tween.elem);

                        target.text(floored_number);
                    }
                },
                    5000
                )

                $('#target23').animateNumber({
                    number: 45,

                    numberStep: function (now, tween) {
                        var floored_number = Math.floor(now),
                            target = $(tween.elem);

                        target.text(floored_number);
                    }
                },
                    5000
                )

                $('#target24').animateNumber({
                    number: 50,

                    numberStep: function (now, tween) {
                        var floored_number = Math.floor(now),
                            target = $(tween.elem);

                        target.text(floored_number);
                    }
                },
                    5000
                )

                $('#target25').animateNumber({
                    number: 4,

                    numberStep: function (now, tween) {
                        var floored_number = Math.floor(now),
                            target = $(tween.elem);

                        target.text(floored_number);
                    }
                },
                    5000
                )
            })(jQuery);
        </script>


    }

    @section styles{
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/js/loopslider/style.css")">
    }




