@model DepartmentVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.Title;
    int count = 1;
}



<div class="clearfix"></div>


<div class="page_title3 @Model.TitleImageCSSClass">
    <div class="full-container">

        <h1>
            @Model.Title<em>Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>
<div class="clearfix"></div>

<div class="margin_top10"></div>
<div class="full-container">
    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'About')" id="defaultOpen">About</button>
        @if (Model.Vision != null && Model.Mission != null)
        {
            <button class="tablinks" onclick="openTab(event, 'VisionMission')">Vision & Mission</button>
        }
        @if (Model.PEOs != null && Model.PSOs != null)
        {
            <button class="tablinks" onclick="openTab(event, 'PeoPso')">PEOs & PSOs</button>
        }
        @if (Model.Labs != null)
        {
            <button class="tablinks" onclick="openTab(event, 'Labs')">Labs</button>
        }
        @if (Model.FacultyList != null)
        {
            <button class="tablinks" onclick="openTab(event, 'Staff')">Faculties And Staff</button>
        }
        @if (Model.TimeTable != null)
        {
            <button class="tablinks" onclick="openTab(event, 'TimeTable')">Time Table</button>
        }
        @if (Model.DeptAcademicCalender != null)
        {
            <button class="tablinks" onclick="openTab(event, 'Calender')">Academic Calender</button>
        }
        @if (Model.NoticeBoard != null)
        {
            <button class="tablinks" onclick="openTab(event, 'NoticeBoard')">Notice Board</button>
        }
        <a href="@Url.Action("Achievements","Academics")"><button class="tablinks">Achievements</button></a>
    </div>
    <div id="About" class="tabcontent">
        <div class="full-container">

            <div class="one_half">

                <div id="owl-demo2" class="owl-carousel">
                    @foreach (var item in Model.About_Images)
                    {
                        <div><img src="@Url.Content(item)" alt="" class="rimg"></div>
                    }
                </div>

            </div>
            <!-- end section -->

            <div class="one_half last text-justify">

                <div class="stcode_title5">
                    <h3 class="nmb"><strong>@Model.Title</strong></h3>
                </div>

                <p class="text-justify">
                    @Model.About
                </p>

                <div class="clearfix marb12"></div>

            </div>
            <!-- end section -->

        </div>
        @if (Model.showIntake)
        {
            <div class="margin_top2"> </div>

            <div class="parallax_section12">
                <div class="full-container">

                    <div class="counters7 animate" data-anim-type="fadeIn" data-anim-delay="300">

                        <div class="one_fourth">
                            <i class="fa fa-user"></i> <span id="target21">@Model.Intake</span>
                            <h4>Total Intake</h4>
                        </div>
                        <!-- end section -->

                        <div class="one_fourth">
                            <i class="fa fa-users"></i> <span id="target22">@Model.FacultyList.Count()</span>
                            <h4>Faculties Member</h4>
                        </div>
                        <!-- end section -->
                        @*  <div class="one_fifth">
                    <i class="fa fa-book"></i> <span id="target23">0</span>
                    <h4>Total Subjects</h4>
                    </div> *@
                        <!-- end section -->

                        <div class="one_fourth">
                            <i class="fa fa-paper-plane"></i> <span id="target24">@Model.AnnualPlacementCount</span>
                            <h4>Annual Placement</h4>
                        </div>
                        <!-- end section -->

                        <div class="one_fourth last">
                            <i class="fa fa-building"></i> <span id="target25">@Model.LabWorkshop</span>
                            <h4>Labs And Workshops</h4>
                        </div>
                        <!-- end section -->


                    </div>


                </div>
            </div>
            <!-- end parallax section 12 -->
        }

    </div>
    <div id="VisionMission" class="tabcontent">
        <div class="featured_section14">
            <div class="full-container">

                <div class="one_half animate" data-anim-type="fadeInLeft" data-anim-delay="300">

                    <img src="@Url.Content("~/images/vision.png")" alt="" />
                    <br /><br />
                    <h3 class="white">Vision</h3>

                    <ul class="text-justify">
                        @foreach (var item in Model.Vision)
                        {
                            <li><i class="fa fa fa-hand-o-right" aria-hidden="true"></i> @item</li>
                        }
                    </ul>
                    <br /><br />


                </div>
                <!-- end section -->

                <div class="one_half last animate" data-anim-type="fadeInRight" data-anim-delay="300">

                    <img src="@Url.Content("~/images/mission.png")" alt="" />
                    <br /><br />
                    <h3 class="white">Mission</h3>

                    <ul class="text-justify">
                        @foreach (var item in Model.Mission)
                        {
                            <li><i class="fa fa fa-hand-o-right" aria-hidden="true"></i> @item</li>
                        }
                    </ul>
                    <br /><br />


                </div>
                <!-- end section -->

            </div>
        </div>
        <!-- end featured section 14 -->

    </div>
    <div id="PeoPso" class="tabcontent">
        @if (Model.PEOs != null && Model.PEOs.Any())
        {

<<<<<<< HEAD
            <div class="stcode_title1 last">
                <h3><span class="line"></span><span class="text">PROGRAM EDUCATIONAL OUTCOMES (PEOs)</span></h3>
                <ul class="list-unstyled text-justify">
                    @{
                        count = 1;  // Declare count variable inside the block
                    }
                    @foreach (var item in Model.PEOs)
                    {
                        <li><i class="fa fa fa-hand-o-right" aria-hidden="true"></i> PEO @count: @item</li>
                        count++; // Increment count properly
                    }
                </ul>
            </div>
        }
=======
			<div class="stcode_title1 last">
				<h3><span class="line"></span><span class="text">PROGRAM EDUCATIONAL OBJECTIVES (PEOs)</span></h3>
				<ul class="list-unstyled text-justify">
					@{
						count = 1;  // Declare count variable inside the block
					}
					@foreach (var item in Model.PEOs)
					{
						<li><i class="fa fa fa-hand-o-right" aria-hidden="true"></i> PEO @count: @item</li>
						count++; // Increment count properly
					}
				</ul>
			</div>
		}
>>>>>>> c2545f7ee5507a2cd60aad98a611aeb4dec68e23

        @if (Model.PSOs != null && Model.PSOs.Any())
        {
            <div class="stcode_title1 ">
                <h3><span class="line"></span><span class="text">PROGRAM SPECIFIC OUTCOMES (PSOs)</span></h3>
                <ul class="list-unstyled text-justify">
                    @{
                        count = 1;  // Declare count variable inside the block again
                    }
                    @foreach (var item in Model.PSOs)
                    {
                        <li><i class="fa fa fa-hand-o-right" aria-hidden="true"></i> PSO @count: @item</li>
                        count++; // Increment count properly
                    }
                </ul>
            </div>
        }
    </div>
    <div id="Labs" class="tabcontent">
        @if (Model.Labs != null)
        {
            @foreach (var lab in Model.Labs)
            {
                <div class="boxdetail">
                    <h2 class="boxtitle">@lab.Lab_Name</h2>
                    <div class="one_third">
                        <img src="@Url.Content(lab.Lab_Image)" alt="@lab.Lab_Name" />
                    </div>
                    <div class="two_third last">
                        <div class="lab-content">
                            <p class="text-justify">
                                @if (!string.IsNullOrEmpty(lab.Lab_Details))
                                {
                                    @Html.Raw(lab.Lab_Details)
                                    
                                }
                            </p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            }
        }
    </div>

    <div id="Staff" class="tabcontent">
        <!-- end featured section 3 -->
        @if (Model.FacultyList.Count() > 0)
        {

            count = 1;


            <div class="margin_top4"></div>
           
            @foreach (var data in Model.FacultyList)
            {
                @if (data.IsTeaching)
                {
                    @if(count==1)
                    {
                        <div>
                            <h3>Teaching Staff</h3>
                            <div class="line"></div>
                        </div>
                    }
                    <div class="one_half @(count % 2 == 0 ? "last" : "") animate" data-anim-type="fadeIn" data-anim-delay="300">
                        <div class="faculties_img_div">
                            <img src="@Url.Content("~/" + data.image)" alt="@data.Name" />

                            @{
                                bool hasData = (data.ProfessionalExperiences != null && data.ProfessionalExperiences.Any()) ||
                                (data.EducationalQualifications != null && data.EducationalQualifications.Any()) ||
                                (data.TrainingAndWorkshops != null && data.TrainingAndWorkshops.Any()) ||
                                (data.Publications != null && data.Publications.Any());
                            }
                            @if (hasData)
                            {
                                <a href="javascript:void(0)" onclick="loadFacultyinfo('@Url.Action("FacultyDatas", "faculty", new { id = data.ID })')" class="four faculty_info_link">
                                    <i class="fas fa-external-link-square-alt"></i>
                                </a>
                            }
                        </div>
                        <div class="b-portfolio_info col-sm-6">
                            <div class="b-portfolio_info_title f-primary-b f-portfolio_info_title">
                                <a href="#">@data.Name</a>
                            </div>
                            <hr>
                            <div class="b-portfolio_info_description f-portfolio_info_description">
                                <div class="b-information-box f-information-box f-primary-b">
                                    <ul>
                                        @if (!string.IsNullOrEmpty(data.Designation))
                                        {
                                            <li><strong>Designation:</strong> @data.Designation</li>
                                        }
                                        @if (!string.IsNullOrEmpty(data.Qualification))
                                        {
                                            <li><strong>Qualification:</strong> @data.Qualification</li>
                                        }
                                        @if (data.YearsOfExperience > 0)
                                        {
                                            <li><strong>Experience:</strong> @data.YearsOfExperience Years</li>
                                        }
                                        @if (!string.IsNullOrEmpty(data.Area_of_Interest))
                                        {
                                            <li><strong>Area Of Interest:</strong> @data.Area_of_Interest</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (count % 2 % 2 == 0)
                    {
                        <div class="clearfix margin_top5"></div>
                    }
                    count++;
                }


            }
            <div class="clearfix"></div>
            <div class="margin_top4"></div>
            
                count = 1;
            
           

            @foreach (var data in Model.FacultyList)
            {
                @if (!data.IsTeaching)
                {
                    @if(count==1)
                    {
                        <div>
                            <h3>Non-Teaching Staff</h3>
                            <div class="line"></div>
                        </div>
                    }
                    <div class="one_half @(count % 2 % 2 == 0 ? " last" : "" ) animate" data-anim-type="fadeIn" data-anim-delay="300">
                        <div class="faculties_img_div">
                            <img src="@Url.Content("~/" + data.image)" alt="@data.Name" />

                            @{
                                bool hasData = (data.ProfessionalExperiences != null && data.ProfessionalExperiences.Any()) ||
                                (data.EducationalQualifications != null && data.EducationalQualifications.Any()) ||
                                (data.TrainingAndWorkshops != null && data.TrainingAndWorkshops.Any()) ||
                                (data.Publications != null && data.Publications.Any());
                            }
                            @if (hasData)
                            {
                                <a href="javascript:void(0)" onclick="loadFacultyinfo('@Url.Action("FacultyDatas", "faculty", new { id = data.ID })')" class="four faculty_info_link">
                                    <i class="fas fa-external-link-square-alt"></i>
                                </a>
                            }
                        </div>
                        <div class="b-portfolio_info col-sm-6">
                            <div class="b-portfolio_info_title f-primary-b f-portfolio_info_title">
                                <a href="#">@data.Name</a>
                            </div>
                            <hr>
                            <div class="b-portfolio_info_description f-portfolio_info_description">
                                <div class="b-information-box f-information-box f-primary-b">
                                    <ul>
                                        @if (!string.IsNullOrEmpty(data.Designation))
                                        {
                                            <li><strong>Designation:</strong> @data.Designation</li>
                                        }
                                        @if (!string.IsNullOrEmpty(data.Qualification))
                                        {
                                            <li><strong>Qualification:</strong> @data.Qualification</li>
                                        }
                                        @if (data.YearsOfExperience > 0)
                                        {
                                            <li><strong>Experience:</strong> @data.YearsOfExperience Years</li>
                                        }
                                        @if (!string.IsNullOrEmpty(data.Area_of_Interest))
                                        {
                                            <li><strong>Area Of Interest:</strong> @data.Area_of_Interest</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (count % 2 % 2 == 0)
                    {
                        <div class="clearfix margin_top5"></div>
                    }
                    count++;
                }


            }
        }

    </div>
    <div id="TimeTable" class="tabcontent">
        <div class="client_logos3 animate fadeIn" data-anim-type="fadeIn" data-anim-delay="300">
            <ul>
                @{
                    count = 0;  // Declare count variable inside this block separately
                }
                @foreach (var item in Model.TimeTable)
                {
                    <li class="minheight">
                        <a href="javascript:void(0)" onclick="loadPdf('@item.File','@item.Title')">
                            <i class="fa fa-file-pdf-o fabig" aria-hidden="true"></i>
                            @item.Title
                        </a>
                    </li>
                    count++; // Increment count properly
                }
            </ul>
        </div>
    </div>
    <div id="Calender" class="tabcontent">
        <div class="client_logos3 animate fadeIn" data-anim-type="fadeIn" data-anim-delay="300">
            <ul>
                @{
                    count = 0;  // Declare count variable inside this block separately
                }
                @foreach (var item in Model.DeptAcademicCalender)
                {
                    <li class="minheight">
                        <a href="javascript:void(0)" onclick="loadPdf('@item.File','@item.Title')">
                            <i class="fa fa-file-pdf-o fabig" aria-hidden="true"></i>
                            @item.Title
                        </a>
                    </li>
                    count++; // Increment count properly
                }
            </ul>
        </div>
    </div>

    <div id="NoticeBoard" class="tabcontent">
    </div>

    <div id="Achievements" class="tabcontent">
    </div>
</div>


@if (!string.IsNullOrWhiteSpace(Model.Tagline))
{

    <div class="clearfix margin_top2"></div>

    <div class="featured_section38">
        <div class="full-container">
            @Html.Raw(Model.Tagline)
        </div>
    </div>
}
<a id="lnkPopup" href="#animatedModal" class="popup-trigger hidden" data-target="#popup"></a>
<div id="popup" class="popup">
    <div id="pdfreader" style="height:600px">
    </div>
    <span class="popup-btn-close">&times;</span>
</div>
@section scripts {

    @*<script type="text/javascript" src="@Url.Content("~/js/cubeportfolio/jquery.cubeportfolio.min.js")"></script>*@
    <script src="@Url.Content("~/js/loopslider/jquery.loopslider.js")"></script>
    <script>
        $(function () {
            $('#slider').loopSlider({
                autoMove: true,
                mouseOnStop: true,
                turn: 9000,
                motion: 'swing',
                delay: 500,
                width: 750,
                height: 400,
                marginLR: 10,
                viewSize: 100,
                viewOverflow: 'visible',
                navPositionBottom: 30,
                navibotton: true,
                navbtnImage: ''
            });
        });
    </script>
    <script>
        (function ($) {
            "use strict";
            var target21 = $("#target21").text();
            var target22 = $("#target22").text();
            var target24 = $("#target24").text();
            var target25 = $("#target25").text();

            $('#target21').animateNumber({
                number: target21,

                numberStep: function (now, tween) {
                    var floored_number = Math.floor(now),
                        target = $(tween.elem);

                    target.text(floored_number);
                }
            },
                5000
            )

            $('#target22').animateNumber({
                number: target22,

                numberStep: function (now, tween) {
                    var floored_number = Math.floor(now),
                        target = $(tween.elem);

                    target.text(floored_number);
                }
            },
                5000
            )

            $('#target23').animateNumber({
                number: 45,

                numberStep: function (now, tween) {
                    var floored_number = Math.floor(now),
                        target = $(tween.elem);

                    target.text(floored_number);
                }
            },
                5000
            )

            $('#target24').animateNumber({
                number: target24,

                numberStep: function (now, tween) {
                    var floored_number = Math.floor(now),
                        target = $(tween.elem);

                    target.text(floored_number);
                }
            },
                5000
            )

            $('#target25').animateNumber({
                number: target25,

                numberStep: function (now, tween) {
                    var floored_number = Math.floor(now),
                        target = $(tween.elem);

                    target.text(floored_number);
                }
            },
                5000
            )
        })(jQuery);
    </script>
    <script src="@Url.Content("~/js/pdfobject/pdfobject.min.js")"></script>
    <script>
        function loadFacultyinfo(url) {
            if (url !== '') {
                $("#pdfreader").load(url);
                $("#lnkPopup").click();
            }
        }

        function loadPdf(path, name) {
            if (path !== '') {
                path = path.replace("~", "");
                if (PDFObject.supportsPDFs) {
                    PDFObject.embed(path, "#pdfreader");
                    $("#newsname").text(name);
                    $("#lnkPopup").click();
                } else {
                    window.location.href = path;
                }
            }
        }
        function popupOpenClose(popup) {

            /* Add div inside popup for layout if one doesn't exist */
            if ($(".wrapper", popup).length == 0) {
                $(popup).wrapInner("<div class='wrapper'></div>");
            }
            /* Open popup */
            $(popup).show();
            /* Close popup if user clicks on background */
            $(popup).click(function (e) {
                if (e.target == this) {
                    if ($(popup).is(':visible')) {
                        $(popup).hide();
                        resetPopUpScroll();
                    }
                }
            });
            /* Close popup and remove errors if user clicks on cancel or close buttons */
            $(popup).find(".popup-btn-close").on("click", function () {
                if ($(".formElementError").is(':visible')) {
                    $(".formElementError").remove();
                }
                $(popup).hide();
                resetPopUpScroll();
            });
        }

        $(document).ready(function () {
            $(".popup-trigger").on("click", function () {
                var target = $(this).data('target');
                popupOpenClose($(target));
                resetPopUpScroll();
            });
        });

        function resetPopUpScroll() {
            $("#pdfreader").scrollTop(0);
        }
    </script>

}

@section styles {
    <style>
        .faculties_img_div img {
            margin-right: 0px;
            width: 100%;
            margin-bottom: 20px;
            border-radius: 15px;
        }

        #pdfreader {
            max-height: 600px;
            overflow-y: scroll;
            scrollbar-width: thin;
        }

    </style>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/js/loopslider/style.css")">
    <link rel="stylesheet" href="@Url.Content("~/images/CampusCommittee/Placement/graph.css")" />
}