@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "EC";
}


<div class="clearfix"></div>


<div class="page_title3">
    <div class="container">

        <h1>
            Electronics and Communication <em>Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>
<div class="clearfix"></div>


<div class="content_fullwidth">

    <div class="container">

        <div class="one_half">

            <div id="owl-demo2" class="owl-carousel">

                <div><img src="@Url.Content("~/images/EC/EC.jpg")" alt="" class="rimg"></div>

                <div><img src="@Url.Content("~/images/EC/college.jpeg")" alt="" class="rimg"></div>

                <div><img src="@Url.Content("~/images/EC/download.jpg")" alt="" class="rimg"></div>

            </div>

        </div>

        <!-- end section -->

        <div class="one_half last">

            <div class="stcode_title5">
                <h3 class="nmb"><strong>Electronics And Communication</strong></h3>
            </div>

            @*<h5 class="gray">Will cover many web sites still in their infancy various versions have evo packages over the years.</h5>*@

        <p>The Electronics and Communication Department of GEC, Patan provides technology, rich academic environment, enabling the students to attend the highest levels of excellence as a professional in this area. It offers four years of under graduate course in Electronics and Communication Engineering. 
           <br />
           The department has acquired excellent infrastructure, experienced faculty and  fast facility for research purpose, ensure student to polish their skills and output from their contemporaries. The Electronics and Communication Department established with the institute in 2004.  It is  the most popular branch content maximum number of seats in any states and generating maximum job opportunity.  
           <br /> 
           Electronics and Communication Department comprises of  the subjects mainly AC Analog Electronics,  Digital Electronics, Electrical machines, Analog and Digital communication, Fiber optic communication, Microwave and antenna engineering, Computer hardware and networking, Microprocessor and Microcontroller, Advance and wireless communication, VLSI all above area includes with elective subjects.</p>

            <div class="clearfix marb12"></div>

        </div>
        <!-- end section -->

    </div>
    <!-- end all sections -->


    <div class="parallax_section12">
        <div class="container">

            <div class="counters7 animate" data-anim-type="fadeIn" data-anim-delay="300">

                <div class="one_fifth">
                    <i class="fa fa-user" aria-hidden="true"></i> <span id="target21">150</span>
                    <h4>Total Intake</h4>
                </div>
                <!-- end section -->

                <div class="one_fifth">
                    <i class="fa fa-users"></i> <span id="target22">0</span>
                    <h4>Faculties Member</h4>
                </div>
                <!-- end section -->

                <div class="one_fifth">
                    <i class="fa fa-book"></i> <span id="target23">0</span>
                    <h4>Total Subects</h4>
                </div>
                <!-- end section -->

                <div class="one_fifth">
                    <i class="fa fa-paper-plane"></i> <span id="target24">0</span>
                    <h4>Annual Placement</h4>
                </div>
                <!-- end section -->

                <div class="one_fifth last">
                    <i class="fa fa-building"></i> <span id="target5">0</span>
                    <h4>Labs And Workshops</h4>
                </div>
                <!-- end section -->


            </div>


        </div>
    </div>
    <!-- end parallax section 12 -->

    <div class="featured_section14">
        <div class="container">

            <div class="one_half animate" data-anim-type="fadeInLeft" data-anim-delay="300">

                <img src="@Url.Content("~/images/EC/icon-img13.png")" alt="" />
                <br /><br />
                <h3 class="white">Vision</h3>

                <p>To prepare engineers with essential technical knowledge, value based professional skills for technical up gradation and societal growth. </p>
                <br /><br />


            </div>
            <!-- end section -->

            <div class="one_half last animate" data-anim-type="fadeInRight" data-anim-delay="300">

                <img src="@Url.Content("~/images/EC/icon-img12.png")" alt="" />
                <br /><br />
                <h3 class="white">Mission</h3>

                <p>To prepare the competent engineers with ability to solve industrial problems who can raise the living standards of the society.</p>
                <br /><br />


            </div>
            <!-- end section -->

        </div>
    </div>
    <!-- end featured section 14 -->


    <div class="featured_section3 two">
        <div class="container">

            <div class="onecol_forty"><img src="@Url.Content("~/images/EC/site-img16.png")" alt="" class="rimg animate" data-anim-type="fadeInLeft" data-anim-delay="300" /></div>

            <div class="onecol_sixty last animate" data-anim-type="fadeInRight" data-anim-delay="300">

                <strong class="color3">HOD MESSAGE</strong></span>
                <br />
                <p class="bigtfont">
                    It is my pleasure and honour to welcome you to the Department of Electronics and Communication Engineering of Government Engineering College, Patan. Electronics & Communication Engineering is a constantly changing and widening branch of the engineering profession having applications in every discipline of engineering.
                   <br />
                    The department is committed to teaching students basic concepts and the latest trends through a smart educational process. The Department has excellent lab facilities which are being upgraded from time to time and provide ample opportunities for the students to learn and innovate. Students are also taught critical thinking and problem-solving skills while confidently adapting to the future. In addition to classroom lessons, guide and motivate students to practice the principles learned in the classroom through experiments.
                    <br />
                    I congratulate the team of faculty members and the students for their brilliant and original efforts. I wish all the Students and Faculty a great academic career.

                </p>
           
                    <br /><br /><br />


            </div>

        </div>
    </div>
    <!-- end featured section 3 -->

    <div id="slider-outline">

        <div id="slider">

            <div id="sl-view" class="clearfix">

                <div id="sl-wrap">


                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/EC/sdj1.jpg")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Mr. Sanjaykumar Joshi<em></em></h4>
                        <h4 class="roboto">Associate Professor  <em></em></h4>
                        <br />
                        
                    </div>
                    <!-- end section -->

                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/EC/dummey.jpg")" alt="" class="dept_faculty_pic" /></div>
                        <h4 class="roboto">Mr. Yogeshkumar Ganvit<em></em></h4>
                        <h4 class="roboto">Assisant Professor <em></em></h4>
                        <br />
                        

                    </div>
                    <!-- end section -->

                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/EC/pic-35Kb.jpg")" alt="" class="dept_faculty_pic" /></div>
                        <h4 class="roboto">Ms. Roshniben Chaudhari<em></em></h4>
                        <h4 class="roboto">Assisant Professor <em></em></h4>
                        <br />
                        
                    </div>
                    <!-- end section -->

                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/EC/dummey.jpg")" alt="" class="dept_faculty_pic" /></div>
                        <h4 class="roboto">Mr.Maulikkumar Patel<em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />
                       

                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/EC/dummey.jpg")" alt="" class="dept_faculty_pic" /></div>
                        <h4 class="roboto">Mr.Mehulkumar Patel<em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />
                      

                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/EC/kkp.jpg")" alt="" class="dept_faculty_pic" /></div>
                        <h4 class="roboto">Mr.Kalpeshkumar Patel<em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />
                        

                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/EC/dummey.jpg")" alt="" class="dept_faculty_pic" /></div>
                        <h4 class="roboto">Mr. Hareshkumar judal<em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />
                        

                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/EC/HDN_Photo.jpg")" alt="" class="dept_faculty_pic" /></div>
                        <h4 class="roboto">Mr. Himanshukumar Nayak<em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />
                       

                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/EC/dummey.jpg")" alt="" class="dept_faculty_pic" /></div>
                        <h4 class="roboto">Mr.Mihirkumar Patel<em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />
                        

                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/EC/me1.jpg")" alt="" class="dept_faculty_pic" /></div>
                        <h4 class="roboto">Mr. Jayeshkumar Prajapati<em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />
                       

                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/EC/Photo_shyam.jpg")" alt="" class="dept_faculty_pic" /></div>
                        <h4 class="roboto">Mr.Shyamkumar Pankhaniya<em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />
                       

                    </div>
                    <!-- end section -->


                </div>

            </div>

            <div id="sl-next"><span>&raquo;</span></div>
            <div id="sl-prev"><span>&laquo;</span></div>

        </div>

    </div>
    <!-- end slider section -->

    <div class="clearfix margin_top2"></div>

    <div class="featured_section38">
        <div class="container">

            <h1 class="animate" data-anim-type="fadeIn" data-anim-delay="200">“It is not enough to wire the world if you ...<b>short-circuit the soul. .” ...</b></h1>


        </div>

    </div>

    @section scripts{

        @*<script type="text/javascript" src="@Url.Content("~/js/cubeportfolio/jquery.cubeportfolio.min.js")"></script>*@
        <script src="@Url.Content("~/js/loopslider/jquery.loopslider.js")"></script>
        <script>
            $(function () {
                $('#slider').loopSlider({
                    autoMove: true,
                    mouseOnStop: true,
                    turn: 9000,
                    motion: 'swing',
                    delay: 500,
                    width: 750,
                    height: 400,
                    marginLR: 10,
                    viewSize: 100,
                    viewOverflow: 'visible',
                    navPositionBottom: 30,
                    navibotton: true,
                    navbtnImage: ''
                });
            });
        </script>


    }
    @section styles{
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/js/loopslider/style.css")">
    }

