@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Electrical";
}

<div class="clearfix"></div>


<div class="page_title3">
    <div class="container">

        <h1>
            Electrical <em>Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>
<div class="clearfix"></div>


<div class="content_fullwidth">

    <div class="container">

        <div class="one_half">

            <div id="owl-demo2" class="owl-carousel">

                <div><img src="@Url.Content("~/images/Department/Electrical/elec1.jpg")" alt="" class="rimg"></div>

                <div><img src="@Url.Content("~/images/Department/Electrical/elec2.jpg")" alt="" class="rimg"></div>

                <div><img src="@Url.Content("~/images/Department/Electrical/elec3.jpeg")" alt="" class="rimg"></div>

            </div>

        </div>
        <!-- end section -->

        <div class="one_half last">

            <div class="stcode_title5">
                <h3 class="nmb"><strong>Electrical</strong></h3>
            </div>

            @*<h5 class="gray">Will cover many web sites still in their infancy various versions have evo packages over the years.</h5>*@

            <p>
                The Department of Electrical Engineering was established in the year 2009. It has academic programme with intake of 60 under graduate students. The department is equipped with the latest experimental and computational facilities. It runs to cater to the ever-challenging needs of technical excellence in all areas of electrical engineering such as Power Systems, Electrical Machines,  Control & Automation, Integrated Electronics & circuits and Power Electronics.
                <br />
                The Department is dynamic and has a scholarly environment wherein students learn independently and in collaboration with others to develop a disciplined yet innovative approach to their careers as professional engineers, researchers or teachers and offers a four-year program in Electrical Engineering. It is geared up with outcome-based education imparted to the students. Students at the department are consistently provided with opportunities to upgrade their technical knowledge and develop skills that make them best employable, qualified for higher education or develop them as a strong entrepreneur.

            </p>

            <div class="clearfix marb12"></div>

        </div>
        <!-- end section -->

    </div>
    <!-- end all sections -->


    <div class="parallax_section12">
        <div class="container">

            <div class="counters7 animate" data-anim-type="fadeIn" data-anim-delay="300">

                <div class="one_fifth">
                    <i class="fa fa-user"></i> <span id="target21">0</span>
                    <h4>Total Intake</h4>
                </div>
                <!-- end section -->

                <div class="one_fifth">
                    <i class="fa fa-users"></i> <span id="target22">0</span>
                    <h4>Faculties Member</h4>
                </div>
                <!-- end section -->

                <div class="one_fifth">
                    <i class="fa fa-book"></i> <span id="target23">0</span>
                    <h4>Total Subects</h4>
                </div>
                <!-- end section -->

                <div class="one_fifth">
                    <i class="fa fa-paper-plane"></i> <span id="target24">0</span>
                    <h4>Annual Placement</h4>
                </div>
                <!-- end section -->

                <div class="one_fifth last">
                    <i class="fa fa-building"></i> <span id="target25">0</span>
                    <h4>Labs And Workshops</h4>
                </div>
                <!-- end section -->


            </div>


        </div>
    </div>
    <!-- end parallax section 12 -->
    <div class="featured_section14">
        <div class="container">

            <div class="one_half animate" data-anim-type="fadeInLeft" data-anim-delay="300">

                <img src="@Url.Content("~/images/Department/Electrical/icon-img13.png")" alt="" />
                <br /><br />
                <h3 class="white">Vision</h3>

                <p>To foster learning environment for electrical engineering education having high technical skills, ethical values and overall global competence.</p>
                <br /><br />


            </div>
            <!-- end section -->

            <div class="one_half last animate" data-anim-type="fadeInRight" data-anim-delay="300">

                <img src="@Url.Content("~/images/Department/Electrical/icon-img12.png")" alt="" />
                <br /><br />
                <h3 class="white">Mission</h3>

                <p>
                    To provide high quality graduate program in electrical engineering so that it prepares students for liflong learning to meet professional, intellectual and ethical tasks.
                </p>
                <br /><br />


            </div>
            <!-- end section -->

        </div>
    </div>
    <!-- end featured section 14 -->


    <div class="featured_section3 two">
        <div class="container">

            <div class="onecol_forty"><img src="@Url.Content("~/images/Department/Electrical/HoD.png")" alt="" class="rimg animate" data-anim-type="fadeInLeft" data-anim-delay="300" /></div>

            <div class="onecol_sixty last animate" data-anim-type="fadeInRight" data-anim-delay="300">
                <!-- <span><em>HOD Message</em>
                <b>Start Creating a Whole Great</b> -->
                <strong class="color3">HOD MESSAGE</strong>
                <br />
                <p class="bigtfont">
                    On behalf of our students and faculty, it is my privilege to welcome all of you to the Department of Electrical Engineering at Government Engineering College Patan. We take pride in our faculty, a team of highly capable and dedicated professionals, most of whom have academic and industrial experience and degrees from leading universities of the India. We provide ample opportunities to our faculty and students, through in -house trainings, workshops and trainings outside the college campus for further growth and development in their areas of expertise.
                    <br />
                    Our primary objective to provide high quality graduate program in electrical engineering so that it prepares students for industry and  managerial skills to be highly competent Electrical Engineers.
                    <br />
                    Students are trained in a way that they inculcate research capabilities in different areas of Electrical Engineering to identify, comprehend and solve problems and adapt themselves in a world of constantly evolving technology.
                    <br />
                    I congratulate to the team of faculty members and the students for their brilliant and original efforts. I wish all the Students and Faculty a great academic career.
                    <br /><br />
                    -Mr. Gunvantbhai Patel
                </p>
                <br /><br /><br />


            </div>

        </div>
    </div>
    <!-- end featured section 3 -->
    <div class="margin_top4"></div>

    <div id="slider-outline">

        <div id="slider">

            <div id="sl-view" class="clearfix">

                <div id="sl-wrap">


                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Electrical/GUNVANT.png")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Mr. Gunvantbhai Patel <em></em></h4>
                        <h4 class="roboto">Associate Professor <em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->

                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Electrical/dummy.jpg")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Mr. Harshadkumar Patel<em></em></h4>
                        <h4 class="roboto">Assisant Professor <em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->

                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Electrical/ANIL.png")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Mr. Anilkumar Patel<em></em></h4>
                        <h4 class="roboto">Assisant Professor <em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->

                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Electrical/Vijay.png")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Mr. Vijaykumar Prajapati <em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Electrical/dummy.jpg")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Mr. Naran Dabhi<em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Electrical/MANISH.png")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Mr. Manishkumar Patel<em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Electrical/PRAVIN.png")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Mr. Pravinkumar Patel<em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Electrical/SOHAN_IMG.jpg")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Mr. Sohankumar Prajapati<em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->

                </div>

            </div>

            <div id="sl-next"><span>&raquo;</span></div>
            <div id="sl-prev"><span>&laquo;</span></div>

        </div>

    </div>
    <!-- end slider section -->

    <div class="clearfix margin_top2"></div>

    <div class="featured_section38">
        <div class="container">

            <h1 class="animate" data-anim-type="fadeIn" data-anim-delay="200">“Have no fear ...<b>electrician is here. .” ...</b></h1>


        </div>
    </div>


    @section scripts{

        @*<script type="text/javascript" src="@Url.Content("~/js/cubeportfolio/jquery.cubeportfolio.min.js")"></script>*@
        <script src="@Url.Content("~/js/loopslider/jquery.loopslider.js")"></script>
        <script>
            $(function () {
                $('#slider').loopSlider({
                    autoMove: true,
                    mouseOnStop: true,
                    turn: 9000,
                    motion: 'swing',
                    delay: 500,
                    width: 750,
                    height: 400,
                    marginLR: 10,
                    viewSize: 100,
                    viewOverflow: 'visible',
                    navPositionBottom: 30,
                    navibotton: true,
                    navbtnImage: ''
                });
            });
        </script>
        <script>
            (function ($) {
                "use strict";

                $('#target21').animateNumber({
                    number: 60,

                    numberStep: function (now, tween) {
                        var floored_number = Math.floor(now),
                            target = $(tween.elem);

                        target.text(floored_number);
                    }
                },
                    5000
                )

                $('#target22').animateNumber({
                    number: 11,

                    numberStep: function (now, tween) {
                        var floored_number = Math.floor(now),
                            target = $(tween.elem);

                        target.text(floored_number);
                    }
                },
                    5000
                )

                $('#target23').animateNumber({
                    number: 45,

                    numberStep: function (now, tween) {
                        var floored_number = Math.floor(now),
                            target = $(tween.elem);

                        target.text(floored_number);
                    }
                },
                    5000
                )

                $('#target24').animateNumber({
                    number: 8,

                    numberStep: function (now, tween) {
                        var floored_number = Math.floor(now),
                            target = $(tween.elem);

                        target.text(floored_number);
                    }
                },
                    5000
                )

                $('#target25').animateNumber({
                    number: 4,

                    numberStep: function (now, tween) {
                        var floored_number = Math.floor(now),
                            target = $(tween.elem);

                        target.text(floored_number);
                    }
                },
                    5000
                )
            })(jQuery);
        </script>

    }
    @section styles{
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/js/loopslider/style.css")">
    }

