@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="clearfix"></div>


<div class="page_title3">
    <div class="container">

        <h1>
            Mechanical<em>Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>
<div class="clearfix"></div>


<div class="content_fullwidth">

    <div class="container">

        <div class="one_half">

            <div id="owl-demo2" class="owl-carousel">

                <div><img src="@Url.Content("~/images/Mechanical/Ec.png")" alt="" class="rimg"></div>

                <div><img src="@Url.Content("~/images/Mechanical/download.jpg")" alt="" class="rimg"></div>

                <div><img src="@Url.Content("~/images/Mechanical/img1.jpeg")" alt="" class="rimg"></div>

            </div>

        </div>
        <!-- end section -->

        <div class="one_half last">

            <div class="stcode_title5">
                <h3 class="nmb"><strong>Mechnanical</strong></h3>
            </div>

            <h5 class="gray">Will cover many web sites still in their infancy various versions have evo packages over the years.</h5>

            <p>Mechanical Engineering encompasses areas such as energy, fluid mechanics, dynamics, combustion, vibration, design, manufacturing processes, systems modeling and simulation, mechatronics, robotics, mechanics of material, rapid prototyping and composites. It deals with all aspects of the conversion of thermal energy into useful work and the machines that make this possible. Mechanical engineering is also referred to as the ‘mother’ of all engineering branches.</p>

            <div class="clearfix marb12"></div>

        </div>
        <!-- end section -->

    </div>
    <!-- end all sections -->


    <div class="parallax_section12">
        <div class="container">

            <div class="counters7 animate" data-anim-type="fadeIn" data-anim-delay="300">

                <div class="one_fifth">
                    <i class="fa fa-user"></i> <span id="target21">0</span>
                    <h4>Total Intake</h4>
                </div>
                <!-- end section -->

                <div class="one_fifth">
                    <i class="fa fa-users"></i> <span id="target22">0</span>
                    <h4>Faculties Member</h4>
                </div>
                <!-- end section -->

                <div class="one_fifth">
                    <i class="fa fa-book"></i> <span id="target23">0</span>
                    <h4>Total Subects</h4>
                </div>
                <!-- end section -->

                <div class="one_fifth">
                    <i class="fa fa-paper-plane"></i> <span id="target24">0</span>
                    <h4>Annual Placement</h4>
                </div>
                <!-- end section -->

                <div class="one_fifth last">
                    <i class="fa fa-building"></i> <span id="target5">0</span>
                    <h4>Labs And Workshops</h4>
                </div>
                <!-- end section -->


            </div>


        </div>
    </div>
    <!-- end parallax section 12 -->
    <div class="featured_section14">
        <div class="container">

            <div class="one_half animate" data-anim-type="fadeInLeft" data-anim-delay="300">

                <img src="@Url.Content("~/images/Mechanical/icon-img13.png")" alt="" />
                <br /><br />
                <h3 class="white">Vision</h3>

                <p>To prepare self-driven, environmental friendly, self-esteemed, inventive and oriented mechanical engineers with virtuous knowledge, proper analytical perceptive and good communication skills.</p>
                <br /><br />


            </div>
            <!-- end section -->

            <div class="one_half last animate" data-anim-type="fadeInRight" data-anim-delay="300">

                <img src="@Url.Content("~/images/Mechanical/icon-img12.png")" alt="" />
                <br /><br />
                <h3 class="white">Mission</h3>

                <p>
                    Teaching Mechanical Engineering knowledge through highly qualified and trained faculty in encouraging environment.
                    Creating awareness about the needs of industries and society through alumni and Industry-Institute interaction .
                    Encouraging them to think inventively and introduce them to various research activities through advanced project works related to Mechanical Engineering.
                    Supporting them to prepare in all aspects like communication, entrepreneurship and interpersonal skills.
                </p>
                <br /><br />


            </div>
            <!-- end section -->

        </div>
    </div>
    <!-- end featured section 14 -->


    <div class="featured_section3 two">
        <div class="container">

            <div class="onecol_forty"><img src="@Url.Content("~/images/Mechanical/site-img16.png")" alt="" class="rimg animate" data-anim-type="fadeInLeft" data-anim-delay="300" /></div>

            <div class="onecol_sixty last animate" data-anim-type="fadeInRight" data-anim-delay="300">
                <!-- <span><em>HOD Message</em>
                <b>Start Creating a Whole Great</b> -->
                <strong class="color3">HOD MESSAGE</strong></span>
                <p class="bigtfont">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour randomised words enerators onthe Internet tend to repea predefined chunks as necessary making
                    words combine with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable generated Lorem Ipsum is therefore always.
                </p>
                <p class="bigtfont">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour randomised words enerators onthe Internet tend to repea predefined chunks as necessary making
                    words combine with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable generated Lorem Ipsum is therefore always.
                </p>
                <p class="bigtfont">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour randomised words enerators onthe Internet tend to repea predefined chunks as necessary making
                    words combine with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable generated Lorem Ipsum is therefore always.
                </p>
                <p class="bigtfont">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour randomised words enerators onthe Internet tend to repea predefined chunks as necessary making
                    words combine with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable generated Lorem Ipsum is therefore always.
                </p>


                <br /><br /><br />


            </div>

        </div>
    </div>
    <!-- end featured section 3 -->

    <div id="slider-outline">

        <div id="slider">

            <div id="sl-view" class="clearfix">

                <div id="sl-wrap">


                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Mechanical/anand.png")" alt="" style="width:200.6px; height:199.783px"></div>
                        <h4 class="roboto">Mr. Anand Dhruv<em></em></h4>
                        <h4 class="roboto">Professor <em></em></h4>
                        <br />
                        <a href="cse_faculty.html" class="but_calendar"><i class="fa fa-hand-o-right fa-lg"></i>&nbsp; Read more</a>

                    </div>
                    <!-- end section -->

                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Mechanical/chirag.png")" alt="" style="width:200.6px; height:199.783px"></div>
                        <h4 class="roboto">Mr. Chiragkumar Patel<em></em></h4>
                        <h4 class="roboto">Assisant Professor <em></em></h4>
                        <br />
                        <a href="cse_faculty.html" class="but_calendar"><i class="fa fa-hand-o-right fa-lg"></i>&nbsp; Read more</a>

                    </div>
                    <!-- end section -->

                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Mechanical/kamlesh.png")" alt="" style="width:200.6px; height:199.783px"></div>
                        <h4 class="roboto">Mr. Kamleskumar Pansal<em></em></h4>
                        <h4 class="roboto">Assisant Professor <em></em></h4>
                        <br />
                        <a href="cse_faculty.html" class="but_calendar"><i class="fa fa-hand-o-right fa-lg"></i>&nbsp; Read more</a>

                    </div>
                    <!-- end section -->

                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Mechanical/mitesh.png")" alt="" style="width:200.6px; height:199.783px"></div>
                        <h4 class="roboto">Mr. Miteshkumar Patel<em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />
                        <a href="cse_faculty.html" class="but_calendar"><i class="fa fa-hand-o-right fa-lg"></i>&nbsp; Read more</a>

                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Mechanical/Bhargav.jpg")" alt="" style="width:200.6px; height:199.783px"></div>
                        <h4 class="roboto">Mr. Bhargavkumar Patel<em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />
                        <a href="cse_faculty.html" class="but_calendar"><i class="fa fa-hand-o-right fa-lg"></i>&nbsp; Read more</a>

                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Mechanical/kiran.png")" alt="" style="width:200.6px; height:199.783px"></div>
                        <h4 class="roboto">Mr. Kirankumar Rabari<em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />
                        <a href="cse_faculty.html" class="but_calendar"><i class="fa fa-hand-o-right fa-lg"></i>&nbsp; Read more</a>

                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Mechanical/chirag1.png")" alt="" style="width:200.6px; height:199.783px"></div>
                        <h4 class="roboto">Mr. Chirag Kadiya<em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />
                        <a href="cse_faculty.html" class="but_calendar"><i class="fa fa-hand-o-right fa-lg"></i>&nbsp; Read more</a>

                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Mechanical/dinesh.png")" alt="" style="width:200.6px; height:199.783px"></div>
                        <h4 class="roboto">Dr. Dineshkumar Patel<em></em></h4>
                        <h4 class="roboto">Professor<em></em></h4>
                        <br />
                        <a href="cse_faculty.html" class="but_calendar"><i class="fa fa-hand-o-right fa-lg"></i>&nbsp; Read more</a>

                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Mechanical/giresh.png")" alt="" style="width:200.6px; height:199.783px"></div>
                        <h4 class="roboto">Mr. Girishkumar Patel<em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />
                        <a href="cse_faculty.html" class="but_calendar"><i class="fa fa-hand-o-right fa-lg"></i>&nbsp; Read more</a>

                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Mechanical/kamlesh.png")" alt="" style="width:200.6px; height:199.783px"></div>
                        <h4 class="roboto">Mr. kamlesh Thakkar<em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />
                        <a href="cse_faculty.html" class="but_calendar"><i class="fa fa-hand-o-right fa-lg"></i>&nbsp; Read more</a>

                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Mechanical/kalpesh.png")" alt="" style="width:200.6px; height:199.783px"></div>
                        <h4 class="roboto">Mr. Kalpeshkumar Patel<em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />
                        <a href="cse_faculty.html" class="but_calendar"><i class="fa fa-hand-o-right fa-lg"></i>&nbsp; Read more</a>

                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Mechanical/VIPUL_PHOTO.jpg")" alt="" style="width:200.6px; height:199.783px"></div>
                        <h4 class="roboto">Mr. Vipulkumar Patel<em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />
                        <a href="cse_faculty.html" class="but_calendar"><i class="fa fa-hand-o-right fa-lg"></i>&nbsp; Read more</a>

                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Mechanical/sandip.png")" alt="" style="width:200.6px; height:199.783px"></div>
                        <h4 class="roboto">Mr. Sandipkumar Patel<em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />
                        <a href="cse_faculty.html" class="but_calendar"><i class="fa fa-hand-o-right fa-lg"></i>&nbsp; Read more</a>

                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Mechanical/narendra.png")" alt="" style="width:200.6px; height:199.783px"></div>
                        <h4 class="roboto">Mr. narendrasinh Makvana<em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />
                        <a href="cse_faculty.html" class="but_calendar"><i class="fa fa-hand-o-right fa-lg"></i>&nbsp; Read more</a>

                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Mechanical/rakesh.png")" alt="" style="width:200.6px; height:199.783px"></div>
                        <h4 class="roboto">Mr. rakeshkumar Oza<em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />
                        <a href="cse_faculty.html" class="but_calendar"><i class="fa fa-hand-o-right fa-lg"></i>&nbsp; Read more</a>

                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Mechanical/kaushik.png")" alt="" style="width:200.6px; height:199.783px"></div>
                        <h4 class="roboto">Mr. Kaushikkumar Patel<em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />
                        <a href="cse_faculty.html" class="but_calendar"><i class="fa fa-hand-o-right fa-lg"></i>&nbsp; Read more</a>

                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Mechanical/Dharmesh_photo.jpg")" alt="" style="width:200.6px; height:199.783px"></div>
                        <h4 class="roboto">Mr. Dharmesh Patel<em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />
                        <a href="cse_faculty.html" class="but_calendar"><i class="fa fa-hand-o-right fa-lg"></i>&nbsp; Read more</a>

                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Mechanical/sachin.png")" alt="" style="width:200.6px; height:199.783px"></div>
                        <h4 class="roboto">Mr. Sachin Patel<em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />
                        <a href="cse_faculty.html" class="but_calendar"><i class="fa fa-hand-o-right fa-lg"></i>&nbsp; Read more</a>

                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Mechanical/Hitesh_pic_2.jpg")" alt="" style="width:200.6px; height:199.783px"></div>
                        <h4 class="roboto">Dr. Hitesh Panchal<em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />
                        <a href="cse_faculty.html" class="but_calendar"><i class="fa fa-hand-o-right fa-lg"></i>&nbsp; Read more</a>

                    </div>
                    <!-- end section -->


                </div>

            </div>

            <div id="sl-next"><span>&raquo;</span></div>
            <div id="sl-prev"><span>&laquo;</span></div>

        </div>

    </div>
    <!-- end slider section -->
    <!-- end parallax section 10 -->
    <div class="margin_top2"></div>
    <div class="works01">
        <div class="container">

            <div id="filters-container" class="cbp-l-filters-button">
                <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
                    All
                    <div class="cbp-filter-counter"></div>
                </div>
                <div data-filter=".identity" class="cbp-filter-item">
                    Seminars Hall
                    <div class="cbp-filter-counter"></div>
                </div>
                <div data-filter=".web-design" class="cbp-filter-item">
                    Lab
                    <div class="cbp-filter-counter"></div>
                </div>
                <div data-filter=".graphic" class="cbp-filter-item">
                    Workshops
                    <div class="cbp-filter-counter"></div>
                </div>
                <div data-filter=".logos" class="cbp-filter-item">
                    Department
                    <div class="cbp-filter-counter"></div>
                </div>
            </div>


            <div id="grid-container" class="cbp-l-grid-fullWidth">

                <div class="cbp-item identity logos">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img1.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Model as Structures</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img1.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Model as Structures <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item web-design">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img2.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Looking Publishing</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img2.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Looking Publishing <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item identity">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img3.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Webpage as Packages</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img3.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Webpage as Packages <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item web-design">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img4.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Software Versions</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img4.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Software Versions <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item graphic">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img5.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Printer took Galley</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img5.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Printer took Galley <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img6.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Popularise Release</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img6.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Popularise Release <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item graphic web-design">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img7.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Classical Through</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img7.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Classical Through <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item logos">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img8.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Alteration Words</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img8.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Alteration Words <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item web-design">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img5.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Printer took Galley</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img5.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Printer took Galley <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item graphic">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img6.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Popularise Release</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img6.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Popularise Release <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item logos web-design">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img7.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Classical Through</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img7.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Classical Through <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item">
                    <div class="cbp-caption graphic">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img8.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Alteration Words</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img8.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Alteration Words <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

            </div>

            <!--<div class="cbp-l-loadMore-text">
                <div data-href="ajax/loadMore.html" class="cbp-l-loadMore-text-link">LOADING...</div>
            </div>-->


        </div>
    </div>
    <!-- end works section -->

