@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Mechanical";
}

<div class="clearfix"></div>


<div class="page_title3">
    <div class="container">

        <h1>
            Mechanical<em>Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>
<div class="clearfix"></div>


<div class="content_fullwidth">

    <div class="container">

        <div class="one_half">

            <div id="owl-demo2" class="owl-carousel">

                <div><img src="@Url.Content("~/images/Department/Mechanical/mech1.png")" alt="" class="rimg"></div>

                <div><img src="@Url.Content("~/images/Department/Mechanical/mech2.jpg")" alt="" class="rimg"></div>

                <div><img src="@Url.Content("~/images/Department/Mechanical/mech3.jpeg")" alt="" class="rimg"></div>

            </div>

        </div>
        <!-- end section -->

        <div class="one_half last">

            <div class="stcode_title5">
                <h3 class="nmb"><strong>Mechnanical</strong></h3>
            </div>

            @*<h5 class="gray">Will cover many web sites still in their infancy various versions have evo packages over the years.</h5>*@

            <p>
                Our strong academic performance in high school enables you to pursue a range of educational opportunities. One avenue you'll want to explore is mechanical engineering. Studying mechanical engineering at Government Engineering College Patan will equip you with a broad education, preparing you for a variety of career paths graduation and  providing  a solid foundation for continuing education.
                <br />
                Mechanical engineering encompasses many areas.  In short,  anything that involves the design and  or manufacturing of  mechanical,  thermal or  electronic devices and  or processes falls entrepreneurs, chief engineers, astronauts, faculty, physicians and patent attorneys, among other occupations. The field includes activities such as designing, developing, manufacturing, managing, researching and controlling engineering systems and their components.
            </p>

            <div class="clearfix marb12"></div>

        </div>
        <!-- end section -->

    </div>
    <!-- end all sections -->


    <div class="parallax_section12">
        <div class="container">

            <div class="counters7 animate" data-anim-type="fadeIn" data-anim-delay="300">

                <div class="one_fifth">
                    <i class="fa fa-user"></i> <span id="target21">0</span>
                    <h4>Total Intake</h4>
                </div>
                <!-- end section -->

                <div class="one_fifth">
                    <i class="fa fa-users"></i> <span id="target22">0</span>
                    <h4>Faculties Member</h4>
                </div>
                <!-- end section -->

                <div class="one_fifth">
                    <i class="fa fa-book"></i> <span id="target23">0</span>
                    <h4>Total Subects</h4>
                </div>
                <!-- end section -->

                <div class="one_fifth">
                    <i class="fa fa-paper-plane"></i> <span id="target24">0</span>
                    <h4>Annual Placement</h4>
                </div>
                <!-- end section -->

                <div class="one_fifth last">
                    <i class="fa fa-building"></i> <span id="target5">0</span>
                    <h4>Labs And Workshops</h4>
                </div>
                <!-- end section -->


            </div>


        </div>
    </div>
    <!-- end parallax section 12 -->
    <div class="featured_section14">
        <div class="container">

            <div class="one_half animate" data-anim-type="fadeInLeft" data-anim-delay="300">

                <img src="@Url.Content("~/images/Department/Mechanical/icon-img13.png")" alt="" />
                <br /><br />
                <h3 class="white">Vision</h3>

                <p>To deliver total quality education in mechanical engineering through research in cutting edge technologies, human values, a culture of carrying trust and continuous learning to meet expectation of students, industries and society at large.</p>
                <br /><br />


            </div>
            <!-- end section -->

            <div class="one_half last animate" data-anim-type="fadeInRight" data-anim-delay="300">

                <img src="@Url.Content("~/images/Department/Mechanical/icon-img12.png")" alt="" />
                <br /><br />
                <h3 class="white">Mission</h3>

                <p>
                    To educate the students in the field of Mechanical engineering, with the professional skills and ethical values through holistic teaching-learning process.
                </p>
                <br /><br />


            </div>
            <!-- end section -->

        </div>
    </div>
    <!-- end featured section 14 -->


    <div class="featured_section3 two">
        <div class="container">

            <div class="onecol_forty"><img src="@Url.Content("~/images/Department/Mechanical/HoD.png")" alt="" class="rimg animate" data-anim-type="fadeInLeft" data-anim-delay="300" /></div>

            <div class="onecol_sixty last animate" data-anim-type="fadeInRight" data-anim-delay="300">
                <!-- <span><em>HOD Message</em>
                <b>Start Creating a Whole Great</b> -->
                <strong class="color3">HOD MESSAGE</strong>
                <br />
                <p class="bigtfont">

                    Welcome to the Department of Mechanical Engineering at Government Engineering College Patan. The primary focus of our curriculum is to impart technical know-how to students, promote their problem-solving skills and innovation of new technologies. In today’s fast-changing world with ever-growing challenges of limited resources and rapid climate changes, a new generation of Mechanical Engineers nurtured with necessary skills and innovative spirit is needed.
                    <br />
                    Students are encouraged to undertake various research projects. The course contents are periodically updated for introducing new scientific and technological developments.  Undergraduate students are encouraged to undertake various research projects and encouraged to spend time in neighbouring industry.
                    <br />
                    Faculty members have excellent academic credentials and are highly regarded. We hope that whether you are a prospective undergraduate or graduate student, or work in the industry, or another university, or a visitor, you will find this website to be informative.
                    <br />
                    Welcome to this world of machines.
                    <br />
                    -Mr. Anand Dhruv
                </p>

                <br /><br /><br />


            </div>

        </div>
    </div>
    <!-- end featured section 3 -->
    <div class="margin_top4"></div>

    <div id="slider-outline">

        <div id="slider">

            <div id="sl-view" class="clearfix">

                <div id="sl-wrap">


                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Mechanical/dummy.jpg")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Mr. Anand Dhruv<em></em></h4>
                        <h4 class="roboto">Professor <em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->

                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Mechanical/chirag.png")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Mr. Chiragkumar Patel<em></em></h4>
                        <h4 class="roboto">Assisant Professor <em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->

                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Mechanical/kamlesh1.png")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Mr. Kamleskumar Pansal<em></em></h4>
                        <h4 class="roboto">Assisant Professor <em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->

                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Mechanical/dummy.jpg")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Mr. Miteshkumar Patel<em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Mechanical/Bhargav.jpg")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Mr. Bhargavkumar Patel<em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Mechanical/kiran.png")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Mr. Kirankumar Rabari<em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Mechanical/dummy.jpg")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Mr. Chirag Kadiya<em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Mechanical/dummy.jpg")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Dr. Dineshkumar Patel<em></em></h4>
                        <h4 class="roboto">Professor<em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Mechanical/giresh.png")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Mr. Girishkumar Patel<em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Mechanical/kamlesh.png")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Mr. kamlesh Thakkar<em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Mechanical/kalpesh.png")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Mr. Kalpeshkumar Patel<em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Mechanical/vipul.jpg")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Mr. Vipulkumar Patel<em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Mechanical/dummy.jpg")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Mr. Sandipkumar Patel<em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Mechanical/dummy.jpg")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Mr. narendrasinh Makvana<em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Mechanical/rakesh.png")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Mr. rakeshkumar Oza<em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Mechanical/kaushik.png")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Mr. Kaushikkumar Patel<em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Mechanical/dummy.jpg")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Mr. Dharmesh Patel<em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Mechanical/sachin.png")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Mr. Sachin Patel<em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->
                    <div class="sl-div two">

                        <div class="cirpimg"><img src="@Url.Content("~/images/Department/Mechanical/Hitesh.jpg")" alt="" class="dept_faculty_pic"></div>
                        <h4 class="roboto">Dr. Hitesh Panchal<em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />


                    </div>
                    <!-- end section -->


                </div>

            </div>

            <div id="sl-next"><span>&raquo;</span></div>
            <div id="sl-prev"><span>&laquo;</span></div>

        </div>

    </div>
    <!-- end slider section -->
</div>
<!-- end works section -->
@section scripts{

    @*<script type="text/javascript" src="@Url.Content("~/js/cubeportfolio/jquery.cubeportfolio.min.js")"></script>*@
    <script src="@Url.Content("~/js/loopslider/jquery.loopslider.js")"></script>
    <script>
        $(function () {
            $('#slider').loopSlider({
                autoMove: true,
                mouseOnStop: true,
                turn: 9000,
                motion: 'swing',
                delay: 500,
                width: 750,
                height: 400,
                marginLR: 10,
                viewSize: 100,
                viewOverflow: 'visible',
                navPositionBottom: 30,
                navibotton: true,
                navbtnImage: ''
            });
        });
    </script>
    <script>
        (function ($) {
            "use strict";

            $('#target21').animateNumber({
                number: 90,

                numberStep: function (now, tween) {
                    var floored_number = Math.floor(now),
                        target = $(tween.elem);

                    target.text(floored_number);
                }
            },
                5000
            )

            $('#target22').animateNumber({
                number: 19,

                numberStep: function (now, tween) {
                    var floored_number = Math.floor(now),
                        target = $(tween.elem);

                    target.text(floored_number);
                }
            },
                5000
            )

            $('#target23').animateNumber({
                number: 45,

                numberStep: function (now, tween) {
                    var floored_number = Math.floor(now),
                        target = $(tween.elem);

                    target.text(floored_number);
                }
            },
                5000
            )

            $('#target24').animateNumber({
                number: 15,

                numberStep: function (now, tween) {
                    var floored_number = Math.floor(now),
                        target = $(tween.elem);

                    target.text(floored_number);
                }
            },
                5000
            )

            $('#target25').animateNumber({
                number: 8,

                numberStep: function (now, tween) {
                    var floored_number = Math.floor(now),
                        target = $(tween.elem);

                    target.text(floored_number);
                }
            },
                5000
            )
        })(jQuery);
    </script>

}
@section styles{
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/js/loopslider/style.css")">
}