@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "TEQIP";
}

<div class="clearfix"></div>


<div class="page_title3">
    <div class="container">

        <h1>
            TEQIP<em>Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>
<div class="clearfix"></div>


<div class="content_fullwidth">

    <div class="container">

        <div class="one_half">

            <div id="owl-demo2" class="owl-carousel">

                <div><img src="@Url.Content("~/images/TEQIP/Government-Engineering-College-Patan-01.jpg")" alt="" class="rimg"></div>

                <div><img src="@Url.Content("~/images/TEQIP/download.jpg")" alt="" class="rimg"></div>

                <div><img src="@Url.Content("~/images/TEQIP/college.jpeg")" alt="" class="rimg"></div>

            </div>

        </div>
        <!-- end section -->

        <div class="one_half last">

            <div class="stcode_title5">
                <h3 class="nmb"><strong>TEQIP</strong></h3>
            </div>

            <h5 class="gray">Will cover many web sites still in their infancy various versions have evo packages over the years.</h5>

            <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage
                of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator
                on the Internet anything embarrassing hidden in the middle many web sites. generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful embarrassing hidden in the middle of model sentence structures,
                to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always.
            </p>

            <div class="clearfix marb12"></div>

        </div>
        <!-- end section -->

    </div>
    <!-- end all sections -->

    <div class="featured_section14">
        <div class="container">

            <div class="one_half animate" data-anim-type="fadeInLeft" data-anim-delay="300">

                <img src="@Url.Content("~/images/TEQIP/icon-img13.png")" alt="" />
                <br /><br />
                <h3 class="white">Vision</h3>

                <p>Simply dummy text of the printing and typesettin industry has been the industrys standard dummy text where ever since the when printer took galley it to make a specimen book.</p>
                <br /><br />


            </div>
            <!-- end section -->

            <div class="one_half last animate" data-anim-type="fadeInRight" data-anim-delay="300">

                <img src="@Url.Content("~/images/TEQIP/icon-img12.png")" alt="" />
                <br /><br />
                <h3 class="white">Mission</h3>

                <p>Simply dummy text of the printing and typesettin industry has been the industrys standard dummy text where ever since the when printer took galley it to make a specimen book.</p>
                <br /><br />


            </div>
            <!-- end section -->

        </div>
    </div>
    <!-- end featured section 14 -->


    <div class="parallax_section10">
        <div class="container">
            <div class="featured_section13">

                <h1 class="title22 animate" data-anim-type="fadeIn" data-anim-delay="100" style="color: white;">
                    Faculties

                </h1>
            </div>
            <div class="one_fourth animate" data-anim-type="fadeInLeft" data-anim-delay="300">

                <img src="images/peop-img37.jpg" alt="" />
                <h5 class="roboto caps"><a href="#"><strong>Mark Johnson</strong></a></h5>
                <p>Co-ordinator</p>


            </div>

            <!-- end section -->

            <div class="one_fourth animate" data-anim-type="fadeInLeft" data-anim-delay="100">

                <img src="images/peop-img38.jpg" alt="" />
                <h5 class="roboto caps"><a href="faculty_tab.html"><strong>Marie Jalin</strong></a></h5>
                <p>HOD</p>


            </div>
            <!-- end section -->

            <div class="one_fourth animate" data-anim-type="fadeInRight" data-anim-delay="100">

                <img src="images/peop-img39.jpg" alt="" />
                <h5 class="roboto caps"><a href="faculty_tab.html"><strong>Gaige Leroy</strong></a></h5>
                <p>Assistant Professor</p>


            </div>
            <!-- end section -->

            <div class="one_fourth last animate" data-anim-type="fadeInRight" data-anim-delay="300">

                <img src="images/peop-img40.jpg" alt="" />
                <h5 class="roboto caps"><a href="faculty_tab.html"><strong>Carla Larissa</strong></a></h5>
                <p>Assistant Professor</p>


            </div>
            <!-- end section -->
            ---->
        </div>
    </div>
    

            <div id="grid-container" class="cbp-l-grid-fullWidth">

                <div class="cbp-item identity logos">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img1.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Model as Structures</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img1.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Model as Structures <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item web-design">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img2.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Looking Publishing</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img2.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Looking Publishing <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item identity">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img3.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Webpage as Packages</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img3.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Webpage as Packages <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item web-design">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img4.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Software Versions</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img4.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Software Versions <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item graphic">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img5.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Printer took Galley</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img5.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Printer took Galley <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img6.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Popularise Release</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img6.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Popularise Release <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item graphic web-design">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img7.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Classical Through</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img7.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Classical Through <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item logos">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img8.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Alteration Words</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img8.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Alteration Words <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item web-design">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img5.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Printer took Galley</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img5.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Printer took Galley <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item graphic">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img6.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Popularise Release</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img6.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Popularise Release <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item logos web-design">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img7.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Classical Through</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img7.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Classical Through <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item">
                    <div class="cbp-caption graphic">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img8.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Alteration Words</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img8.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Alteration Words <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

            </div>

            <!--<div class="cbp-l-loadMore-text">
                <div data-href="ajax/loadMore.html" class="cbp-l-loadMore-text-link">LOADING...</div>
            </div>-->


        </div>
    </div>
    <!-- end works section -->


   