
<div class="clearfix"></div>


<footer class="footer4">
    <div class="container">

        <div class="fmlinks">
        <a href="@Url.Action("Index","Home")">Home</a> 
        <a href="@Url.Action("AboutUs","Institute")">Institute</a> 
        <a href="@Url.Action("Gallery","CampusLife")">Gallery</a> 
        <a href="@Url.Action("Achievements","Academics")">Achievements</a> 
        <a href="@Url.Action("Index","ContactUs")">Contact</a>
        </div>

        Copyright © 2020 Government Engineering College. All rights reserved. <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a>

        <div class="footer_social_links4">
            <a href="#" class="animate" data-anim-type="zoomIn" data-anim-delay="100"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="animate" data-anim-type="zoomIn" data-anim-delay="150"><i class="fab fa-twitter"></i></a>
            <a href="#" class="animate" data-anim-type="zoomIn" data-anim-delay="100"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="animate" data-anim-type="zoomIn" data-anim-delay="150"><i class="fab fa-linkedin-in"></i></a>
            <a href="#" class="animate" data-anim-type="zoomIn" data-anim-delay="100"><i class="fas fa-rss"></i></a>
        </div>


    </div>
    <!-- end footer -->
</footer>