@{
    string controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    string actionName = this.ViewContext.RouteData.Values["action"].ToString();
    int id = this.ViewContext.RouteData.Values["id"]!=null ? Convert.ToInt32(this.ViewContext.RouteData.Values["id"].ToString()) : 0;
}
<div class="top_section2">
    <div class="container">


        <div class="left">

            <!-- Logo -->
            <div>
                <a href="@Url.Action("Index","Home")"> <img src="@Url.Content("~/images/logo_1.png")" class="rimg" /></a>
            </div>

        </div>
        <!-- end left -->

        <div class="right">

            <ul class="tinfo last">
                <li><i class="fa fa-phone"></i></li>
                <li>
                    <em>Call Us</em>
                    <strong>2766297735, 2766297736</strong>
                </li>

            </ul>

            <ul class="tinfo">
                <li><i class="fa fa-envelope"></i></li>
                <li>
                    <em>Mail Us</em>
                    <strong><a href="mailto:principalgecpatan@gmail.com">principalgecpatan@gmail.com</a></strong>
                </li>
            </ul>

        </div>
        <!-- end right -->

    </div>
</div>
<!-- end top navigation links -->


<div class="clearfix"></div>


<header class="header">

    <div class="container">

        <!-- Navigation Menu -->
        <div class="menu_main_full2">

            <div class="navbar yamm navbar-default">

                <div class="navbar-header">
                    <div class="navbar-toggle .navbar-collapse .pull-right " data-toggle="collapse" data-target="#navbar-collapse-1">
                        <span>Menu</span>
                        <button type="button"> <i class="fa fa-bars"></i></button>
                    </div>
                </div>

                <div id="navbar-collapse-1" class="navbar-collapse collapse">
                    <nav>

                        <ul class="nav navbar-nav">

                            <li class="dropdown yamm-fw">
                                <a href="@Url.Action("Index","Home")" class="dropdown-toggle @( controllerName == "Home" ? "active" : "")">Home</a>
                            </li>


                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle @( controllerName == "Institute"||id==6 ? "active" : "")">Institute</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class=" @( actionName=="AboutUs" ? "active" : "")"><a href="@Url.Action("AboutUs","Institute")">About Us</a></li>
                                    <li class=" @( actionName=="CoE" ? "active" : "")"><a href="@Url.Action("CoE","Institute")">Center Of Excellence</a></li>
                                    <li class=" @( actionName=="NewsLetter" ? "active" : "")"><a href="@Url.Action("NewsLetter","Institute")">Newsletter</a></li>
                                    <li class=" @( actionName=="Tenders" ? "active" : "")"><a href="@Url.Action("Tenders","Institute")">Tenders</a></li>
                                    <li class=" @( actionName=="ImportantDocuments" ? "active" : "")"><a href="@Url.Action("ImportantDocuments","Institute")">Important Documents</a></li>
                                    <li class=" @( actionName=="MoU" ? "active" : "")"><a href="@Url.Action("MoU","Institute")">MoU</a></li>
                                    <li class=" @( id==6 ? "active" : "")"><a href="@Url.Action("CommitteePage","CampusCommittee",new{@id=6})">RTI</a></li> 
                                </ul>
                            </li>


                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle @( controllerName == "Academics" ? "active" : "")">Academics</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class=" @( actionName=="AcademicCalender" ? "active" : "")"><a href="@Url.Action("AcademicCalender","Academics")">Academic Calender</a></li>

                                    <li class=" @( actionName=="AdmissionProcess" ? "active" : "")"><a href="@Url.Action("AdmissionProcess","Academics")">Admission Process</a></li>
                                    <li class=" @( actionName=="Achievements" ? "active" : "")"><a href="@Url.Action("Achievements","Academics")">Achievements</a></li>

                                </ul>
                            </li>


                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle @( controllerName == "Department" ? "active" : "")">Departments</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="@( actionName == "Applied" ? "active" : "")"><a href="@Url.Action("Applied", "Department")">Applied Mechanics</a></li>
                                    <li class="@( actionName == "EC" ? "active" : "")"><a href="@Url.Action("EC", "Department")">Electronics & Communication</a></li>
                                    <li class="@( actionName == "Computer" ? "active" : "")"><a href="@Url.Action("Computer", "Department")">Computer Science & Engineering</a></li>
                                    <li class="@( actionName == "Electrical" ? "active" : "")"><a href="@Url.Action("Electrical", "Department")">Electrical</a></li>
                                    <li class="@( actionName == "Civil" ? "active" : "")"><a href="@Url.Action("Civil", "Department")">Civil</a></li>
                                    <li class="@( actionName == "Mechanical" ? "active" : "")"><a href="@Url.Action("Mechanical", "Department")">Mechanical</a></li>
                                    <li class="@( actionName == "Library" ? "active" : "")"><a href="@Url.Action("Library", "Department")">Library</a></li>
                                    <li class="@( actionName == "Administrative" ? "active" : "")"><a href="@Url.Action("Administrative", "Department")">Administrative Block</a></li>
                                    <li class="@( actionName == "TEQIP" ? "active" : "")"><a href="@Url.Action("TEQIP", "Department")">TEQIP</a></li>
                                    <li class="@(actionName == "General" ? "active" : "")"><a href="@Url.Action("General","Department")">General</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle">Staff</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="@(actionName == "Applied" && controllerName=="Faculty" ? "active" : "")"><a href="@Url.Action("Applied","Faculty")">Applied Mechanics</a></li>
                                    <li class="@(actionName == "Electronics" && controllerName=="Faculty" ? "active" : "")"><a href="@Url.Action("Electronics","Faculty")">Electronics & Communication</a></li>
                                    <li class="@(actionName == "Computer" && controllerName=="Faculty" ? "active" : "")"><a href="@Url.Action("Computer","Faculty")">Computer Science & Engineering</a></li>
                                    <li class="@(actionName == "Electrical" && controllerName=="Faculty" ? "active" : "")"><a href="@Url.Action("Electrical","Faculty")">Electrical</a></li>
                                    <li class="@(actionName == "Civil" && controllerName=="Faculty" ? "active" : "")"><a href="@Url.Action("Civil","Faculty")">Civil</a></li>
                                    <li class="@(actionName == "Mechanical" && controllerName=="Faculty" ? "active" : "")"><a href="@Url.Action("Mechanical","Faculty")">Mechanical</a></li>
                                    <li class="@(actionName == "Administration" && controllerName=="Faculty" ? "active" : "")"><a href="@Url.Action("Administration","Faculty")">Administrative Block </a></li>
                                    <li class="@(actionName == "General" && controllerName=="Faculty" ? "active" : "")"><a href="@Url.Action("General","Faculty")">General </a></li>
                                </ul>
                            </li>
                            @*<li class="dropdown yamm-fw">
                            <a href="@Url.Action("PlacementCell","CampusCommittee")" class="dropdown-toggle @( actionName == "PlacementCell" ? "active" : "")">Placement</a>
                            </li>*@
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle @( controllerName == "CampusCommittee" && (actionName == "PlacementCell" || actionName == "PlacementStatistics") ? "active" : "")">Placement</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="@( actionName == "PlacementCell" ? "active" : "")"><a href="@Url.Action("PlacementCell","CampusCommittee")">About Placement Cell</a></li>
                                    <li class="@( actionName == "PlacementStatistics" ? "active" : "")"><a href="@Url.Action("PlacementStatistics","CampusCommittee")">Placement Statistics</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                @* <a href="#" class="dropdown-toggle @( controllerName == "CampusCommittee" && (actionName != "PlacementCell" && actionName != "PlacementStatistics") ? "active" : "")">Campus Committees</a> *@
                                <a href="#" class="dropdown-toggle @( id>0 && id<6 && controllerName == "CampusCommittee"  ? "active" : "")">Campus Committees</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="@( id==1 ? "active" : "")"><a href="@Url.Action("CommitteePage","CampusCommittee",new{@id=1})">Women Cell</a></li>
                                    <li class="@( id==2 ? "active" : "")"><a href="@Url.Action("CommitteePage","CampusCommittee",new{@id=2})">SSIP Cell</a></li>
                                    <li class="@( id==3 ? "active" : "")"><a href="@Url.Action("CommitteePage","CampusCommittee",new{@id=3})">National Service Scheme(NSS)</a></li>
                                    <li class="@( id==4 ? "active" : "")"><a href="@Url.Action("CommitteePage","CampusCommittee",new{@id=4})">Anti Ragging Cell</a></li>
                                    <li class="@( id==5 ? "active" : "")"><a href="@Url.Action("CommitteePage","CampusCommittee",new{@id=5})">Grievence Cell</a></li>
                                    @* <li class=" @( actionName=="RTI" ? "active" : "")"><a href="@Url.Action("CommitteePage","CampusCommittee",new{@id=6})">RTI</a></li>  *@
                                    @*<li class="@( actionName == "PlacementCell" ? "active" : "")"><a href="@Url.Action("PlacementCell","CampusCommittee")">Placement Cell</a></li>*@
                                </ul>
                            </li>
                            <li class="dropdown yamm-fw">
                                <a href="@Url.Action("Index","Alumni")" class="dropdown-toggle @( controllerName == "Alumni" ? "active" : "")">Alumni</a>
                            </li>
                            @*<li class="dropdown">
                                <a href="#" class="dropdown-toggle @( controllerName == "CampusLife" ? "active" : "") ">Campus Life</a>
                                <ul class="dropdown-menu" role="menu">

                                    <li class="@( actionName == "Gallery" ? "active" : "")"><a href="@Url.Action("Gallery","CampusLife")">Gallery</a></li>
                                    <li class="@( actionName == "Canteen" ? "active" : "")"><a href="@Url.Action("Canteen","CampusLife")">Canteen</a></li>
                                    <li class="@( actionName == "CampusMap" ? "active" : "")"><a href="@Url.Action("CampusMap","CampusLife")">CampusMap</a></li>
                                </ul>
                            </li>*@


                            <li class="dropdown yamm-fw">
                                <a href="@Url.Action("Index","ContactUs")" class="dropdown-toggle @( controllerName == "ContactUs" ? "active" : "")">Contact</a>
                            </li>






                        </ul>
                    </nav>

                </div>
            </div>


        </div>

    </div>

</header>

<!-- end Navigation Menu -->