@model List<MenuVM>
@{
    var currentController = ViewBag.CurrentController?.ToString();
    var currentAction = ViewBag.CurrentAction?.ToString();
    var dynamicID = ViewBag.DynamicID as int?;
}

<div class="full-container">
    <!-- Navigation Menu -->
    <div class="menu_main_full2">
        <div class="navbar yamm navbar-default">
            <div class="navbar-header">
                <div class="navbar-toggle .navbar-collapse .pull-right" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span>Menu</span>
                    <button type="button"><i class="fa fa-bars"></i></button>
                </div>
            </div>

            <div id="navbar-collapse-1" class="navbar-collapse collapse">
                <nav>
                    <ul class="nav navbar-nav">
                        @foreach (var item in Model.Where(m => m.isVisible).OrderBy(m => m.position))
                        {
                            if (item.ChildMenuVMs.Where(m => m.isVisible).Any())
                            {
                                <li class="dropdown" style="@MenuBg(item.Color)">
                                    <a href="#" class="dropdown-toggle" style="@MenuColorFont(item.ColorFont)">
                                        @item.MenuText
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        @foreach (var childItem in item.ChildMenuVMs.Where(m => m.isVisible).OrderBy(m => m.position))
                                        {
                                            @if (childItem.ChildMenuVMs != null && childItem.ChildMenuVMs.Any(m => m.isVisible))
                                            {
                                                <li class="dropdown-submenu">
                                                    <a href="#">@childItem.MenuText</a>
                                                    <ul class="dropdown-menu">
                                                        @foreach (var subChild in childItem.ChildMenuVMs.Where(m => m.isVisible).OrderBy(m => m.position))
                                                        {
                                                            <li>
                                                                @if (subChild.dynamicID != null)
                                                                {
                                                                    <a href="@Url.Action(subChild.ActionName, subChild.ControllerName, new { id = subChild.dynamicID })">
                                                                        @subChild.MenuText
                                                                    </a>
                                                                }
                                                                else if (!string.IsNullOrWhiteSpace(subChild.Link))
                                                                {
                                                                    <a href="@subChild.Link" target="_blank">
                                                                        @subChild.MenuText
                                                                    </a>
                                                                }
                                                                else
                                                                {
                                                                    <a href="@Url.Action(subChild.ActionName, subChild.ControllerName)">
                                                                        @subChild.MenuText
                                                                    </a>
                                                                }
                                                            </li>
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    @if (childItem.dynamicID != null)
                                                    {
                                                        <a href="@Url.Action(childItem.ActionName, childItem.ControllerName, new { id = childItem.dynamicID })">
                                                            @childItem.MenuText
                                                        </a>
                                                    }
                                                    else if (!string.IsNullOrWhiteSpace(childItem.Link))
                                                    {
                                                        <a href="@childItem.Link" target="_blank">
                                                            @childItem.MenuText
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a href="@Url.Action(childItem.ActionName, childItem.ControllerName)">
                                                            @childItem.MenuText
                                                        </a>
                                                    }
                                                </li>
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li class="dropdown yamm-fw">
                                    @if (item.dynamicID != null)
                                    {
                                        <a href="@Url.Action(item.ActionName, item.ControllerName, new { id = item.dynamicID })">
                                            @item.MenuText
                                        </a>
                                    }
                                    else if (string.IsNullOrWhiteSpace(item.ActionName))
                                    {
                                        <a href="javascript:void(0)">
                                            @item.MenuText
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action(item.ActionName, item.ControllerName)" class="dropdown-toggle">
                                            @item.MenuText
                                        </a>
                                    }
                                </li>
                            }
                        }
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</div>
@functions {
    string MenuColorFont(string colorFont)
    {
        return string.IsNullOrWhiteSpace(colorFont) ? "" : $"color:{colorFont};";
    }
}
@functions {
    string MenuBg(string color)
    {
        return string.IsNullOrWhiteSpace(color)
            ? ""
            : $"background-color:{color};";
    }
}



