<div class="top_section2">
    <div class="container">


        <div class="left">

            <!-- Logo -->
            <div>
                <a href="index.html" id="logo"> GEC, Patan</a>
            </div>

        </div>
        <!-- end left -->

        <div class="right">

            <ul class="tinfo last">
                <li><i class="fa fa-phone"></i></li>
                <li>
                    <em>Call Us</em>
                    <strong>+1 123-456-789000</strong>
                </li>

            </ul>

            <ul class="tinfo">
                <li><i class="fa fa-envelope"></i></li>
                <li>
                    <em>Mail Us</em>
                    <strong><a href="mailto:info@websitename.com">info@websitename.com</a></strong>
                </li>
            </ul>

        </div>
        <!-- end right -->

    </div>
</div>
<!-- end top navigation links -->


<div class="clearfix"></div>


<header class="header">

    <div class="container">

        <!-- Navigation Menu -->
        <div class="menu_main_full2">

            <div class="navbar yamm navbar-default">

                <div class="navbar-header">
                    <div class="navbar-toggle .navbar-collapse .pull-right " data-toggle="collapse" data-target="#navbar-collapse-1">
                        <span>Menu</span>
                        <button type="button"> <i class="fa fa-bars"></i></button>
                    </div>
                </div>

                <div id="navbar-collapse-1" class="navbar-collapse collapse">
                    <nav>

                        <ul class="nav navbar-nav">

                            <li class="dropdown yamm-fw">
                                <a href="@Url.Action("Index","Home")" class="dropdown-toggle active">Home</a>


                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle">Institute</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="@Url.Action("AboutUs","Institute")">About Us</a></li>
                                    <li><a href="@Url.Action("CoE","Institute")">Center Of Excellense</a></li>
                                    <li><a href="@Url.Action("NewsLetter","Institute")">Newsletter</a></li>
                                    <li><a href="@Url.Action("RTI","Institute")">RTI</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle">Academics</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="calender.html">Academic Calender</a></li>

                                    <li><a href="admission_process.html">Admission Process</a></li>
                                    <li><a href="achievements.html">Achievements</a></li>



                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle">Departments</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="ec.html">Electronics And Communication</a></li>
                                    <li><a href="cse.html">Computer</a></li>
                                    <li><a href="electrical.html">Electrical</a></li>
                                    <li><a href="civil.html">Civil</a></li>
                                    <li><a href="mechanical.html">Mechanical</a></li>
                                    <li><a href="library.html">Library</a></li>
                                    <li><a href="general.html">Administrative Block</a></li>
                                    <li><a href="teqip.html">TEQIP</a></li>



                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle">Faculty</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="cse_faculty.html">Electronics And Communication Faculties</a></li>
                                    <li><a href="cse_faculty.html">Computer Faculties</a></li>
                                    <li><a href="cse_faculty.html">Electrical Faculties</a></li>
                                    <li><a href="cse_faculty.html">Civil Faculties</a></li>
                                    <li><a href="cse_faculty.html">Mechanical Faculties</a></li>
                                    <li><a href="cse_faculty.html">Library Faculties</a></li>
                                    <li><a href="cse_faculty.html">Administrative Block Faculties</a></li>
                                    <li><a href="cse_faculty.html">TEQIP Faculties</a></li>



                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle">Campus Committees</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="womencell.html">Women Cell</a></li>
                                    <li><a href="ssip.html">SSIP Cell</a></li>
                                    <li><a href="nss.html">National Service Scheme(NSS)</a></li>
                                    <li><a href="antiragging.html">Anti Ragging Cell</a></li>
                                    <li><a href="grievence.html">Grievence Cell</a></li>
                                    <li><a href="placementcell.html">Placement Cell</a></li>




                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle">Campus Life</a>
                                <ul class="dropdown-menu" role="menu">

                                    <li><a href="gallery.html">Gallery</a></li>
                                    <li><a href="canteen.html">Canteen</a></li>
                                    <li><a href="campusmap.html">Campus Map</a></li>





                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="contact.html" class="dropdown-toggle">Contact</a>

                            </li>


                        </ul>
                    </nav>

                </div>
            </div>


        </div>

    </div>

</header>

<!-- end Navigation Menu -->