@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Grievence";
}

<div class="clearfix"></div>


<div class="page_title3">
    <div class="container">

        <h1>
            Grievence Cell <em>Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>
<div class="clearfix"></div>

<div class="content_fullwidth">
    <div class="featured_section55 animate" data-anim-type="fadeIn" data-anim-delay="100">
        <div class="container">

            <h2 class="caps">About GECP Grievence</h2>

            <br /><br />

            <div class="one_third">

                <h4 class="color3 margin_bottom2">GECP Grievence Cell</h4>
                <p class="bigtfont">
                    Making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is
                    therefore always.
                </p>

            </div>

            <!-- end section -->

            <div class="one_third">

                <img src="@Url.Content("~/images/grievence.jpg")" alt="" width="358.6px" height="199.783px">

            </div>

            <!-- end section -->

            <div class="one_third last">

                <h4 class="color3 margin_bottom2">GECP Measures</h4>
                <p class="bigtfont">
                    Making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is
                    therefore always.
                </p>

            </div>



        </div>
    </div>

</div>


<div class="margin_top2"></div>
<div class="featured_section14">
    <div class="container">

        <div class="one_half animate" data-anim-type="fadeInLeft" data-anim-delay="300">

            <img src="@Url.Content("~/images/icon-img13.png")" alt="" />
            <br /><br />
            <h3 class="white">Vision</h3>

            <p>Simply dummy text of the printing and typesettin industry has been the industrys standard dummy text where ever since the when printer took galley it to make a specimen book.</p>
            <br /><br />


        </div>

        <!-- end section -->


        <div class="one_half last animate" data-anim-type="fadeInRight" data-anim-delay="300">

            <img src="@Url.Content("~/images/icon-img12.png")" alt="" />
            <br /><br />
            <h3 class="white">Mission</h3>

            <p>Simply dummy text of the printing and typesettin industry has been the industrys standard dummy text where ever since the when printer took galley it to make a specimen book.</p>
            <br /><br />


        </div>



    </div>
</div>

<!-- end featured section 14 -->


<div class="featured_section8 animate" data-anim-type="fadeIn" data-anim-delay="200">

    <div class="puhtext">
        <div class="logregform two">
            <div class="feildcont">

                <form role="form">

                    <label>Name <em>*</em></label>
                    <input type="text">
                    <div class="one_half">
                        <label>Email <em>*</em></label>
                        <input type="text">
                    </div>
                    <div class="one_half last">
                        <label>Mobile No <em>*</em></label>
                        <input type="text">
                    </div>

                    <div class="one_half">
                        <label>Department</label>

                        <select>
                            <option value="0">- Select -</option>
                            <option value="usa">EC</option>
                            <option value="india">Computer</option>
                            <option value="china">Electrical</option>
                            <option value="uk">Civil</option>
                            <option value="australia">Mechanical</option>


                        </select>
                    </div>

                    <div class="one_half last">
                        <label>Enrollment<em>*</em></label>
                        <input type="password">
                    </div>


                    <div class="one_third radiobut">
                        <label>Gender</label>
                        <input class="one" type="radio" name="sex" value="male" checked>
                        <span class="onelb">Male</span>
                        <input class="two" type="radio" name="sex" value="female">
                        <span class="onelb">Female</span>
                    </div>


                    <label>Complaint Message</label>
                    <input type="textbox">



                    <div class="checkbox">
                        <label>
                            <input type="checkbox">
                        </label>
                        <label>I agree the User Agreement and<a href="#">Terms &amp; Condition.</a></label>
                    </div>

                    <a href="#" class="fbut">Send Message</a>


                </form>

            </div>
        </div>

        <!-- <div class="hsmline3 margin_top4 animate" data-anim-type="fadeInRight" data-anim-delay="500"></div> -->

    </div>

</div>

<!-- end featured section 8 -->


<div class="featured_section19">
    <div class="container">

        <div class="who animate" data-anim-type="fadeInLeft" data-anim-delay="400"><img src="@Url.Content("~/images/site-img16.png")" alt="" /></div>

        <div class="text animate" data-anim-type="fadeIn" data-anim-delay="500">

            <h1>Grievence Head Message</h1>

            <p>
                Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for lorem ipsum evolved over the years somietimes by accident sometimes on purpose.
                <br /><br /> Where are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are Ipsum
                generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
            </p>
            <h2>Darin Matthew.</h2>

        </div>

    </div>
</div>

<!-- end featured section 19 -->

<div class="parallax_section10">
    <div class="container">
        <div class="featured_section13">

            <h1 class="title22 animate" data-anim-type="fadeIn" data-anim-delay="100" style="color: white;">
                Committee Members

            </h1>
        </div>
        <div class="one_fourth animate" data-anim-type="fadeInLeft" data-anim-delay="300">

            <img src="@Url.Content("~/images/peop-img37.jpg")" alt="" />
            <h5 class="roboto caps"><a href="#"><strong>Mark Johnson</strong></a></h5>
            <p>Co-ordinator</p>


        </div>

        <!-- end section -->


        <div class="one_fourth animate" data-anim-type="fadeInLeft" data-anim-delay="100">

            <img src="@Url.Content("~/images/peop-img38.jpg")" alt="" />
            <h5 class="roboto caps"><a href="#"><strong>Marie Jalin</strong></a></h5>
            <p>Convorner</p>


        </div>

        <!-- end section -->

        <div class="one_fourth animate" data-anim-type="fadeInRight" data-anim-delay="100">

            <img src="@Url.Content("~/images/peop-img39.jpg")" alt="" />
            <h5 class="roboto caps"><a href="#"><strong>Gaige Leroy</strong></a></h5>
            <p>SupportingMember</p>


        </div>

        <!-- end section -->


        <div class="one_fourth last animate" data-anim-type="fadeInRight" data-anim-delay="300">

            <img src="@Url.Content("~/images/peop-img40.jpg")" alt="" />
            <h5 class="roboto caps"><a href="#"><strong>Carla Larissa</strong></a></h5>
            <p>Supporting Member</p>


        </div>

        <!-- end section -->

    </div>
</div>

<!-- end parallax section 10 -->

<div class="featured_section38">
    <div class="container">

        <h1 class="animate" data-anim-type="fadeIn" data-anim-delay="200">“Share your Grievence move forward <b>And Grow.” ...</b></h1>


    </div>
</div>
