@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "NSS";
}

<div class="clearfix"></div>


<div class="page_title3">
    <div class="container">

        <h1>
            National Service Scheme <em>Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>
<div class="clearfix"></div>


<div class="content_fullwidth">
    <div class="featured_section55 animate" data-anim-type="fadeIn" data-anim-delay="100">
        <div class="container">

            <h2 class="caps">About GECP NSS</h2>

            <br /><br />

            <div class="one_third">

                <h4 class="color3 margin_bottom2">GECP NSS</h4>
                <p class="bigtfont">
                    The National Service Scheme (NSS) is a Central Sector Scheme of Government of India, Ministry of Youth Affairs & Sports. It provides opportunity to the student youth of Technical Institution, Graduate & Post Graduate at colleges and University level of India to take part in various government led community service activities & programmes. The sole aim of the NSS is to provide hands on experience to young students in delivering community service.
                </p>

            </div>
            <!-- end section -->

            <div class="one_third">

                <img src="@Url.Content("~/images/nss.png")" alt="" width="358.6px" height="199.783px">

            </div>
            <!-- end section -->

            <div class="one_third last">

                <h4 class="color3 margin_bottom2">GECP Measures</h4>
                <p class="bigtfont">
                    The programme aims to inculcate social welfare in students and to provide service to society without bias. NSS volunteers work to ensure that everyone who is needy gets help to enhance their standard of living and lead a life of dignity. In doing so, volunteers learn from people in villages how to lead a good life despite a scarcity of resources. it also provides help in natural and man-made disasters by providing food, clothing and first aid to the disaster victims.
                </p>

            </div>
            <!-- end section -->

        </div>
    </div>
</div>
<!-- end featured section 55 -->
<div class="margin_top2"></div>
<div class="featured_section14">
    <div class="container">

        <div class="one_half animate" data-anim-type="fadeInLeft" data-anim-delay="300">

            <img src="@Url.Content("~/images/icon-img13.png")" alt="" />
            <br /><br />
            <h3 class="white">Vision</h3>

            <p>The vision is to build the youth with the mind and spirit to serve the society and work for the social uplift of the down-trodden masses of our nation as a movement.</p>
            <br /><br />


        </div>
        <!-- end section -->

        <div class="one_half last animate" data-anim-type="fadeInRight" data-anim-delay="300">

            <img src="@Url.Content("~/images/icon-img12.png")" alt="" />
            <br /><br />
            <h3 class="white">Mission</h3>

            <p>he National Service Scheme has been functioning with the motto “NOT ME BUT YOU” in view of making the youth inspired in service of the people and hence NSS Aims Education through Community Service and Community Service through Education.</p>
            <br /><br />


        </div>
        <!-- end section -->

    </div>
</div>
<!-- end featured section 14 -->

<div class="parallax_section18">
    <div class="container">

        <div class="one_half">

            <img src="@Url.Content("~/images/site-img160.jpg")" alt="" class="rimg animate" data-anim-type="fadeInLeft" data-anim-delay="200" />

        </div>
        <!-- end section -->

        <div class="one_half last animate" data-anim-type="fadeInRight" data-anim-delay="200">

            <div id="st-accordion-three" class="st-accordion-two">

                <ul>

                    <li>
                        <a href="#">View Notice<span class="st-arrow">Open or Close</span></a>
                        <div class="st-content">

                            <p>
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going
                                to use a passage of Lorem Ipsum, you need to be sure there anything hidden in the middle of text repeat predefined chunks as necessary, making this the first true generator on the Internet.
                            </p>

                        </div>
                    </li>

                    <li>
                        <a href="#">Downloads<span class="st-arrow">Open or Close</span></a>
                        <div class="st-content">

                            <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites.</p>

                            <p>
                                Established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
                                using 'Content here, content here', making it look like readable.
                            </p>

                        </div>
                    </li>

                    <li>
                        <a href="#">Tender<span class="st-arrow">Open or Close</span></a>
                        <div class="st-content">

                            <p>
                                When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was
                                popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions.
                            </p>

                        </div>
                    </li>

                    <li>
                        <a href="#">Pdf<span class="st-arrow">Open or Close</span></a>
                        <div class="st-content">

                            <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.</p>

                            <p>Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words.</p>

                        </div>
                    </li>

                </ul>

            </div>

        </div>
        <!-- end section -->


    </div>
</div>
<!-- end parallax section1 -->



<div class="featured_section19">
    <div class="container">

        <div class="who animate" data-anim-type="fadeInLeft" data-anim-delay="400"><img src="@Url.Content("~/images/site-img16.png")" alt="" /></div>

        <div class="text animate" data-anim-type="fadeIn" data-anim-delay="500">

            <h1>NSS Head Message</h1>

            <p>
                Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for lorem ipsum evolved over the years somietimes by accident sometimes on purpose.
                <br /><br /> Where are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are Ipsum
                generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
            </p>
            <h2>Darin Matthew.</h2>

        </div>

    </div>
</div>
<!-- end featured section 19 -->

<div class="parallax_section10">
    <div class="container">
        <div class="featured_section13">

            <h1 class="title22 animate" data-anim-type="fadeIn" data-anim-delay="100" style="color: white;">
                Committee Members

            </h1>
        </div>
        <div class="one_fourth animate" data-anim-type="fadeInLeft" data-anim-delay="300">

            <img src="@Url.Content("~/images/peop-img37.jpg")" alt="" />
            <h5 class="roboto caps"><a href="#"><strong>Mark Johnson</strong></a></h5>
            <p>Co-ordinator</p>


        </div>
        <!-- end section -->

        <div class="one_fourth animate" data-anim-type="fadeInLeft" data-anim-delay="100">

            <img src="@Url.Content("~/images/peop-img38.jpg")" alt="" />
            <h5 class="roboto caps"><a href="#"><strong>Marie Jalin</strong></a></h5>
            <p>Convorner</p>


        </div>
        <!-- end section -->

        <div class="one_fourth animate" data-anim-type="fadeInRight" data-anim-delay="100">

            <img src="@Url.Content("~/images/peop-img39.jpg")" alt="" />
            <h5 class="roboto caps"><a href="#"><strong>Gaige Leroy</strong></a></h5>
            <p>SupportingMember</p>


        </div>
        <!-- end section -->

        <div class="one_fourth last animate" data-anim-type="fadeInRight" data-anim-delay="300">

            <img src="@Url.Content("~/images/peop-img40.jpg")" alt="" />
            <h5 class="roboto caps"><a href="#"><strong>Carla Larissa</strong></a></h5>
            <p>Supporting Member</p>


        </div>
        <!-- end section -->

    </div>
</div>
<!-- end parallax section 10 -->
<div class="margin_top2"></div>
<div class="works01">
    <div class="container">

        <div id="filters-container" class="cbp-l-filters-button">
            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
                All
                <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".identity" class="cbp-filter-item">
                Seminars
                <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".web-design" class="cbp-filter-item">
                Traning
                <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".graphic" class="cbp-filter-item">
                Special Guest
                <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".logos" class="cbp-filter-item">
                Awards
                <div class="cbp-filter-counter"></div>
            </div>
        </div>


        <div id="grid-container" class="cbp-l-grid-fullWidth">

            <div class="cbp-item identity logos">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="@Url.Content("~/images/media/works-img1.jpg")" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <h4>Model as Structures</h4>
                                <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                <a href="images/media/works-img1.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Model as Structures <br>reasonable always">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end item -->

            <div class="cbp-item web-design">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="@Url.Content("~/images/media/works-img2.jpg")" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <h4>Looking Publishing</h4>
                                <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                <a href="images/media/works-img2.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Looking Publishing <br>reasonable always">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end item -->

            <div class="cbp-item identity">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="@Url.Content("~/images/media/works-img3.jpg")" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <h4>Webpage as Packages</h4>
                                <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                <a href="images/media/works-img3.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Webpage as Packages <br>reasonable always">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end item -->

            <div class="cbp-item web-design">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="@Url.Content("~/images/media/works-img4.jpg")" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <h4>Software Versions</h4>
                                <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                <a href="images/media/works-img4.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Software Versions <br>reasonable always">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end item -->

            <div class="cbp-item graphic">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="@Url.Content("~/images/media/works-img5.jpg")" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <h4>Printer took Galley</h4>
                                <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                <a href="images/media/works-img5.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Printer took Galley <br>reasonable always">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end item -->

            <div class="cbp-item">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="@Url.Content("~/images/media/works-img6.jpg")" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <h4>Popularise Release</h4>
                                <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                <a href="images/media/works-img6.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Popularise Release <br>reasonable always">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end item -->

            <div class="cbp-item graphic web-design">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="@Url.Content("~/images/media/works-img7.jpg")" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <h4>Classical Through</h4>
                                <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                <a href="images/media/works-img7.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Classical Through <br>reasonable always">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end item -->

            <div class="cbp-item logos">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="@Url.Content("~/images/media/works-img8.jpg")" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <h4>Alteration Words</h4>
                                <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                <a href="images/media/works-img8.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Alteration Words <br>reasonable always">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end item -->

            <div class="cbp-item web-design">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="@Url.Content("~/images/media/works-img5.jpg")" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <h4>Printer took Galley</h4>
                                <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                <a href="images/media/works-img5.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Printer took Galley <br>reasonable always">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end item -->

            <div class="cbp-item graphic">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="@Url.Content("~/images/media/works-img6.jpg")" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <h4>Popularise Release</h4>
                                <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                <a href="images/media/works-img6.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Popularise Release <br>reasonable always">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end item -->

            <div class="cbp-item logos web-design">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="@Url.Content("~/images/media/works-img7.jpg")" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <h4>Classical Through</h4>
                                <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                <a href="images/media/works-img7.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Classical Through <br>reasonable always">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end item -->

            <div class="cbp-item">
                <div class="cbp-caption graphic">
                    <div class="cbp-caption-defaultWrap">
                        <img src="@Url.Content("~/images/media/works-img8.jpg")" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <h4>Alteration Words</h4>
                                <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                <a href="images/media/works-img8.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Alteration Words <br>reasonable always">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end item -->

        </div>

        <!--<div class="cbp-l-loadMore-text">
            <div data-href="ajax/loadMore.html" class="cbp-l-loadMore-text-link">LOADING...</div>
        </div>-->


    </div>
</div>
<!-- end works section -->


<div class="clearfix margin_top2"></div>
<div class="featured_section38">
    <div class="container">

        <h1 class="animate" data-anim-type="fadeIn" data-anim-delay="200">“The best way to find yourself is to loose yourself <b>in Serive of others.” ...</b></h1>


    </div>
</div>
<!-- end featured section 38 -->
