@model IList<GECP_Front_End_Static.Models.PlacementDataVM>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Placement Cell";
    int count = 0;
}

<div class="clearfix"></div>


<div class="page_title3 placement_title">
    <div class="container">

        <h1>
            <br> Placement Cell<em>Government Engineering College</em>
            <div class="line"></div>
            <br>
        </h1>

    </div>
</div>
<div class="clearfix margin_bottom6"></div>
<div class="container">
    <h1 class="caps text-center">
        TOP RECRUITERS
    </h1>
    <div class="clearfix"></div>
    <div class="owl-carousel owl-theme" id="owl-demo">
        <div class="item"><img src="@Url.Content("~/images/CampusCommittee/Placement/companies/Wishtree Technologies1.png")" alt=""></div>
        <div class="item"><img src="@Url.Content("~/images/CampusCommittee/Placement/companies/Tata Consultancy Services.png")" alt=""></div>
        <div class="item"><img src="@Url.Content("~/images/CampusCommittee/Placement/companies/Shaligram Infotech.png")" alt=""></div>
        <div class="item"><img src="@Url.Content("~/images/CampusCommittee/Placement/companies/Evosys Global.png")" alt=""></div>
        <div class="item"><img src="@Url.Content("~/images/CampusCommittee/Placement/companies/Volansys.png")" alt=""></div>
        <div class="item"><img src="@Url.Content("~/images/CampusCommittee/Placement/companies/Pratibha Engineering Service, Baroda.png")" alt=""></div>
        <div class="item"><img src="@Url.Content("~/images/CampusCommittee/Placement/companies/Ordex Technologies.jpg")" alt=""></div>
        <div class="item"><img src="@Url.Content("~/images/CampusCommittee/Placement/companies/Tatvic Analytics.png")" alt=""></div>
        <div class="item"><img src="@Url.Content("~/images/CampusCommittee/Placement/companies/WebOccult Technologies.png")" alt=""></div>
        <div class="item"><img src="@Url.Content("~/images/CampusCommittee/Placement/companies/KNOVOS.jpg")" alt=""></div>
        <div class="item"><img src="@Url.Content("~/images/CampusCommittee/Placement/companies/Sarjen System Pvt Ltd..jpg")" alt=""></div>
        <div class="item"><img src="@Url.Content("~/images/CampusCommittee/Placement/companies/Itaims.jpg")" alt=""></div>
        <div class="item"><img src="@Url.Content("~/images/CampusCommittee/Placement/companies/Radixweb.jpg")" alt=""></div>
        <div class="item"><img src="@Url.Content("~/images/CampusCommittee/Placement/companies/Synoverge Technologies.png")" alt=""></div>
        <div class="item"><img src="@Url.Content("~/images/CampusCommittee/Placement/companies/Webmyne Systems Pvt Ltd.png")" alt=""></div>
        <div class="item"><img src="@Url.Content("~/images/CampusCommittee/Placement/companies/Monarch Innovation Pvt. Ltd..jpg")" alt=""></div>
        <div class="item"><img src="@Url.Content("~/images/CampusCommittee/Placement/companies/Valens DataLabs.png")" alt=""></div>
        <div class="item"><img src="@Url.Content("~/images/CampusCommittee/Placement/companies/TriState Technology.png")" alt=""></div>
        <div class="item"><img src="@Url.Content("~/images/CampusCommittee/Placement/companies/Yiion System Pvt Ltd..jpg")" alt=""></div>
        <div class="item"><img src="@Url.Content("~/images/CampusCommittee/Placement/companies/Maruti Techlabs.jpg")" alt=""></div>
        <div class="item"><img src="@Url.Content("~/images/CampusCommittee/Placement/companies/Simform Solutions.jpg")" alt=""></div>
        <div class="item"><img src="@Url.Content("~/images/CampusCommittee/Placement/companies/Wappnotech.jpg")" alt=""></div>
        <div class="item"><img src="@Url.Content("~/images/CampusCommittee/Placement/companies/MicroLogix Solutions.png")" alt=""></div>
        <div class="item"><img src="@Url.Content("~/images/CampusCommittee/Placement/companies/Jekson Vision.jpg")" alt=""></div>
        <div class="item"><img src="@Url.Content("~/images/CampusCommittee/Placement/companies/Vivansh Infotech.jpg")" alt=""></div>
        <div class="item"><img src="@Url.Content("~/images/CampusCommittee/Placement/companies/AIAB.png")" alt=""></div>
        <div class="item"><img src="@Url.Content("~/images/CampusCommittee/Placement/companies/HypeTeq Software Solutions.jpg")" alt=""></div>
        <div class="item"><img src="@Url.Content("~/images/CampusCommittee/Placement/companies/Matrix Comsec.png")" alt=""></div>
        <div class="item"><img src="@Url.Content("~/images/CampusCommittee/Placement/companies/WeblineIndia.png")" alt=""></div>

    </div>
</div>
<div class="clearfix" style="background: #5076bb !important"></div>

<div class="clearfix margin_bottom6"></div>
<div class="container">
    <h1 class="caps text-center">
        Placement Data
    </h1>
    <div class="clearfix"></div>
    <div class="rows">

        <!-- block 1 -->

        <div class="g1 col-lg-4 col-sm-4">
            <div class="graph-pnl text-center">
                <h5>CIVIL DEPARTMENT PLACEMENT OF 2020-22</h5>
                <a id="myBtn" href="#animatedModal" class="popup-trigger" data-target="#popup">
                    <img src="@Url.Content("~/images/CampusCommittee/Placement/CIVIL1.png")" width="289" height="241">
                    <br>
                    <span>Click to View Graph</span>
                </a>
            </div>

        </div>

        <!-- block 2 -->

        <div class="g1 col-lg-4 col-sm-4">
            <div class="graph-pnl text-center">
                <h5>MECHANICAL DEPARTMENT PLACEMENT OF 2020-22</h5>
                <a id="myBtn" href="#animatedModal" class="popup-trigger" data-target="#popup1">
                    <img src="@Url.Content("~/images/CampusCommittee/Placement/MECH1.png")" width="289" height="241">
                    <br>
                    <span>Click to View Graph</span>
                </a>
            </div>
        </div>

        <!-- block 3 -->

        <div class="g1 col-lg-4 col-sm-4">
            <div class="graph-pnl text-center">
                <h5>Electrical DEPARTMENT PLACEMENT OF 2020-22</h5>
                <a id="myBtn" href="#animatedModal" class="popup-trigger" data-target="#popup2">
                    <img src="@Url.Content("~/images/CampusCommittee/Placement/EE1.png")" width="289" height="241">
                    <br>
                    <span>Click to View Graph</span>
                </a>
            </div>
        </div>

        <!-- block 4 -->

        <div class="g1 col-lg-4 col-sm-4">
            <div class="graph-pnl text-center">
                <h5>Computer Science DEPARTMENT PLACEMENT OF 2020-22</h5>
                <a id="myBtn" href="#animatedModal" class="popup-trigger" data-target="#popup3">
                    <img src="@Url.Content("~/images/CampusCommittee/Placement/CSE2.png")" width="289" height="241">
                    <br>
                    <span>Click to View Graph</span>
                </a>
            </div>
        </div>

        <!-- block 5 -->

        <div class="g1 col-lg-4 col-sm-4">
            <div class="graph-pnl text-center">
                <h5>Electronics and Communication DEPARTMENT PLACEMENT OF 2020-22</h5>
                <a id="myBtn" href="#animatedModal" class="popup-trigger" data-target="#popup4">
                    <img src="@Url.Content("~/images/CampusCommittee/Placement/EC1.png")" width="289" height="241">
                    <br>
                    <span>Click to View Graph</span>
                </a>
            </div>
        </div>

        <!-- block 6 -->

        <div class="g1 col-lg-4 col-sm-4">
            <div class="graph-pnl text-center">
                <h5>BRANCH-WISE PLACEMENT</h5>
                <a id="myBtn" href="#animatedModal" class="popup-trigger" data-target="#popup5">
                    <img src="@Url.Content("~/images/CampusCommittee/Placement/BR1.png")" width="289" height="241">
                    <br>
                    <span>Click to View Graph</span>
                </a>
            </div>
        </div>

    </div>

    <!-- FOR BLOCK 1 -->

    <div id="popup" class="popup">
        <!-- <div class="popup-text"> -->
        <div id="chartdiv">
            <div id="chartContainer3" style="width: 100%; height: 300px;display: inline-block;"></div>
        </div>
        <div class="details">

            <div id="chartContainer7" style="width: 100%; height: 300px;display: inline-block;"></div>

        </div>
        <!-- </div> -->
        <span class="popup-btn-close">&times;</span>
    </div>

    <!-- FOR BLOCK 2 -->

    <div id="popup1" class="popup">
        <!-- <div class="popup-text"> -->
        <div id="chartdiv1">
            <div id="chartContainer1" style="width: 100%; height: 300px;display: inline-block;"></div>
        </div>
        <div class="details">
            <div id="chartContainer8" style="width: 100%; height: 300px;display: inline-block;"></div>

        </div>
        <!-- </div> -->
        <span class="popup-btn-close">&times;</span>
    </div>

    <!-- FOR BLOCK 3 -->

    <div id="popup2" class="popup">
        <!-- <div class="popup-text"> -->
        <div id="chartdiv2">
            <div id="chartContainer2" style="width: 100%; height: 300px;display: inline-block;"></div>
        </div>
        <div class="details">
            <div id="chartContainer9" style="width: 100%; height: 300px;display: inline-block;"></div>
        </div>
        <!-- </div> -->
        <span class="popup-btn-close">&times;</span>
    </div>

    <!-- FOR BLOCK 4 -->

    <div id="popup3" class="popup">
        <!-- <div class="popup-text"> -->

        <div id="chartdiv3">
            <div id="chartContainer4" style="width: 100%; height: 300px;display: inline-block;"></div>
        </div>
        <div class="details">
            <div id="chartContainer10" style="width: 100%; height: 300px;display: inline-block;"></div>
        </div>
        <!-- </div> -->
        <span class="popup-btn-close">&times;</span>
    </div>

    <!-- FOR BLOCK 5 -->

    <div id="popup4" class="popup">
        <!-- <div class="popup-text"> -->
        <div id="chartdiv4">
            <div id="chartContainer5" style="width: 100%; height: 300px;display: inline-block;"></div>
        </div>
        <div class="details">
            <div id="chartContainer11" style="width: 100%; height: 300px;display: inline-block;"></div>

        </div>
        <!-- </div> -->
        <span class="popup-btn-close">&times;</span>
    </div>

    <!-- FOR BLOCK 6 -->

    <div id="popup5" class="popup">
        <!-- <div class="popup-text"> -->
        <div id="chartdiv5">
            <div id="chartContainer6" style="width: 100%; height: 300px;display: inline-block;"></div>
        </div>
        <div class="details">

            <div id="chartContainer12" style="width: 100%; height: 300px;display: inline-block;"></div>
        </div>
        <!-- </div> -->
        <span class="popup-btn-close">&times;</span>
    </div>
</div>
<div class="clearfix "></div>
<div class="container">


    <div style="overflow-x:auto;" class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <td rowspan="2" style="vertical-align: middle; text-align:center;">Branch</td>
                    <td rowspan="2" style="vertical-align: middle; text-align: center;">Year</td>
                    <td rowspan="2" style="vertical-align: middle; text-align: center;">Passout Students</td>
                    <td colspan="5" style="vertical-align: middle; text-align: center;">Placement</td>
                </tr>
                <tr>
                    <td style="text-align:center;">Placed</td>
                    <td style="text-align:center;">Average CTC</td>
                    <td style="text-align:center;">Higher Study</td>
                    <td style="text-align:center;">Business</td>
                    <td style="text-align:center;">Placement(%)</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    count = 0;
                    @foreach (var data in item.Data)
                    {
                        <tr>
                            @if (count == 0)
                            {
                                <td rowspan="@item.Data.Count()" style="vertical-align: middle;">@item.BranchName</td>
                            }
                            <td style="text-align:right;">@data.Year</td>
                            <td style="text-align:right;">@data.Passout</td>
                            <td style="text-align:right;">@data.Placed</td>
                            <td style="text-align:right;">@data.AverageCTC</td>
                            <td style="text-align:right;">@data.HigherStudy</td>
                            <td style="text-align:right;">@data.Business</td>
                            <td style="text-align:right;">@data.PlacementPercentage</td>

                        </tr>
                        count++;
                    }

                }
            </tbody>
        </table>
    </div>
</div>

<div class="clearfix  margin_bottom6"></div>



@section scripts{

    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script>

        //popup 2

        window.onload = function () {

            CanvasJS.addColorSet("greenShades",
                [//colorSet Array

                    "#7B5DDA",
                    "#975DDA",
                    "#BF5DDA",
                    "#DA5DCC"
                ]);

            var chart = new CanvasJS.Chart("chartContainer1", {
                animationEnabled: true,
                colorSet: "greenShades",
                theme: "light2", // "light1", "light2", "dark1", "dark2"
                title: {
                    text: "MECHANICAL DEPARTMENT PLACEMENT OF 2020-21",
                    fontSize: 20,
                },
                axisY: {
                    title: "No of Students",


                },
                data: [{
                    type: "column",
                    yValueFormatString: "#",
                    dataPoints: [
                        { label: "Students Passout", y: 92 },
                        { label: "Students Placed", y: 12 },
                        { label: "Further Study", y: 11 },
                        { label: "Business", y: 4 }

                    ]
                }]
            });
            chart.render();
        }


        //popup 8

        CanvasJS.addColorSet("greenShades",
            [//colorSet Array
                "#06644D",
                "#1CB18D",
                "#44E1BB",
                "#78FADA"
            ]);

        var chart = new CanvasJS.Chart("chartContainer8", {
            animationEnabled: true,
            colorSet: "greenShades",
            theme: "light2", // "light1", "light2", "dark1", "dark2"
            title: {
                text: "MECHANICAL DEPARTMENT PLACEMENT OF 2021-22",
                fontSize: 20,
            },
            axisY: {
                title: "No of Students",


            },
            data: [{
                type: "column",
                yValueFormatString: "#",
                dataPoints: [
                    { label: "Students Passout", y: 114 },
                    { label: "Students Placed", y: 22 },
                    { label: "Further Study", y: 3 },
                    { label: "Business", y: 0 }

                ]
            }]
        });
        chart.render();


        //popup 3
        CanvasJS.addColorSet("greenShades",
            [//colorSet Array

                "#5DCCDA",
                "#5D97DA",
                "#BF5DDA",
                "#DA5DCC"
            ]);

        var chart = new CanvasJS.Chart("chartContainer2", {
            animationEnabled: true,
            colorSet: "greenShades",
            theme: "light2", // "light1", "light2", "dark1", "dark2"
            title: {
                text: "ELECTRICAL DEPARTMENT PLACEMENT OF 2020-21",
                fontSize: 20,
            },
            axisY: {
                title: "No of Students",


            },
            data: [{
                type: "column",
                yValueFormatString: "#",
                dataPoints: [
                    { label: "Students Passout", y: 62 },
                    { label: "Students Placed", y: 24 },
                    { label: "Further Study", y: 12 },
                    { label: "Business", y: 0 }

                ]
            }]
        });
        chart.render();

        //popup 9
        CanvasJS.addColorSet("greenShades",
            [//colorSet Array

                "#CB0E56",
                "#F14759",
                "#D151F7",
                "#DA5DCC"
            ]);

        var chart = new CanvasJS.Chart("chartContainer9", {
            animationEnabled: true,
            colorSet: "greenShades",
            theme: "light2", // "light1", "light2", "dark1", "dark2"
            title: {
                text: "ELECTRICAL DEPARTMENT PLACEMENT OF 2021-22",
                fontSize: 20,
            },
            axisY: {
                title: "No of Students",


            },
            data: [{
                type: "column",
                yValueFormatString: "#",
                dataPoints: [
                    { label: "Students Passout", y: 51 },
                    { label: "Students Placed", y: 13 },
                    { label: "Further Study", y: 0 },
                    { label: "Business", y: 0 }

                ]
            }]
        });
        chart.render();


        // popup 1
        CanvasJS.addColorSet("greenShades",
            [//colorSet Array

                "#C71585",
                "#66CDAA",
                "#663399",
                "#2E8B57"
            ]);

        var chart = new CanvasJS.Chart("chartContainer3", {
            colorSet: "greenShades",
            animationEnabled: true,
            theme: "light2", // "light1", "light2", "dark1", "dark2"
            title: {
                text: "CIVIL DEPARTMENT PLACEMENT OF 2020-21",
                fontSize: 20,
            },
            axisY: {
                title: "No of Students",

            },
            data: [{
                type: "column",
                yValueFormatString: "#",
                dataPoints: [
                    { label: "Students Passout", y: 58 },
                    { label: "Students Placed", y: 17 },
                    { label: "Further Study", y: 7 },
                    { label: "Business", y: 2 }

                ]
            }]
        });
        chart.render();


        // popup 4

        CanvasJS.addColorSet("greenShades",
            [//colorSet Array

                "#CB0E56",
                "#F14759",
                "#D151F7",
                "#DA5DCC"
            ]);

        var chart = new CanvasJS.Chart("chartContainer4", {
            animationEnabled: true,
            colorSet: "greenShades",
            theme: "light2", // "light1", "light2", "dark1", "dark2"
            title: {
                text: "COMPUTER DEPARTMENT PLACEMENT OF 2020-21",
                fontSize: 20,
            },
            axisY: {
                title: "No of Students",


            },
            data: [{
                type: "column",
                yValueFormatString: "#",
                dataPoints: [
                    { label: "Students Passout", y: 109 },
                    { label: "Students Placed", y: 42 },
                    { label: "Further Study", y: 22 },
                    { label: "Business", y: 9 }

                ]
            }]
        });
        chart.render();

        // popup 10

        CanvasJS.addColorSet("greenShades",
            [//colorSet Array

                "#8518A5",
                "#7F3CD5",
                "#159CC8",
                "#08CED7"
            ]);

        var chart = new CanvasJS.Chart("chartContainer10", {
            animationEnabled: true,
            colorSet: "greenShades",
            theme: "light2", // "light1", "light2", "dark1", "dark2"
            title: {
                text: "COMPUTER DEPARTMENT PLACEMENT OF 2021-22",
                fontSize: 20,
            },
            axisY: {
                title: "No of Students",


            },
            data: [{
                type: "column",
                yValueFormatString: "#",
                dataPoints: [
                    { label: "Students Passout", y: 113 },
                    { label: "Students Placed", y: 58 },
                    { label: "Further Study", y: 24 },
                    { label: "Business", y: 5 }

                ]
            }]
        });
        chart.render();


        // popup 5
        CanvasJS.addColorSet("greenShades",
            [//colorSet Array

                "#05700A",
                "#9CDA0E",
                "#E7EC4D",
                "#ECAA26"
            ]);

        var chart = new CanvasJS.Chart("chartContainer5", {
            animationEnabled: true,
            colorSet: "greenShades",
            theme: "light2", // "light1", "light2", "dark1", "dark2"
            title: {
                text: "ELECTRONICS AND COMMUNICATION DEPARTMENT PLACEMENT OF 2020-21",
                fontSize: 20,
            },
            axisY: {
                title: "No of Students",


            },
            data: [{
                type: "column",
                yValueFormatString: "#",
                dataPoints: [
                    { label: "Students Passout", y: 23 },
                    { label: "Students Placed", y: 12 },
                    { label: "Further Study", y: 4 },
                    { label: "Business", y: 1 }

                ]
            }]
        });
        chart.render();

        // popup 11
        CanvasJS.addColorSet("greenShades",
            [//colorSet Array

                "#620814",
                "#CF085C",
                "#EA05BD",
                "#9CDA0E"
            ]);

        var chart = new CanvasJS.Chart("chartContainer11", {
            animationEnabled: true,
            colorSet: "greenShades",
            theme: "light2", // "light1", "light2", "dark1", "dark2"
            title: {
                text: "ELECTRONICS AND COMMUNICATION DEPARTMENT PLACEMENT OF 2021-22",
                fontSize: 20,
            },
            axisY: {
                title: "No of Students",


            },
            data: [{
                type: "column",
                yValueFormatString: "#",
                dataPoints: [
                    { label: "Students Passout", y: 23 },
                    { label: "Students Placed", y: 12 },
                    { label: "Further Study", y: 4 },
                    { label: "Business", y: 1 }

                ]
            }]
        });
        chart.render();


        // popup 6

        CanvasJS.addColorSet("greenShades",
            [//colorSet Array

                "#C71585",
                "#66CDAA",
                "#663399",
                "#2E8B57",
                "#FF6347"
            ]);

        var chart = new CanvasJS.Chart("chartContainer6", {
            animationEnabled: true,
            colorSet: "greenShades",
            theme: "light2", // "light1", "light2", "dark1", "dark2"
            title: {
                text: "BRANCHWISE PLACEMENT 2020-21",
                fontSize: 20,
            },
            data: [{
                type: "pie",
                startAngle: 240,
                yValueFormatString: "##0.00'%'",
                indexLabel: "{label} {y}",
                dataPoints: [
                    { label: "CSE", y: 62 },
                    { label: "EC", y: 74 },
                    { label: "EE", y: 58 },
                    { label: "ME", y: 29 },
                    { label: "CIVIL", y: 45 }


                ]
            }]
        });
        chart.render();

        // popup 12
        CanvasJS.addColorSet("greenShades",
            [//colorSet Array
                "#11D7B0",
                "#620814",
                "#CF085C",
                "#EA05BD",
                "#9CDA0E"
            ]);

        var chart = new CanvasJS.Chart("chartContainer12", {
            animationEnabled: true,
            colorSet: "greenShades",
            theme: "light2", // "light1", "light2", "dark1", "dark2"
            title: {
                text: "BRANCHWISE PLACEMENT 2021-22",
                fontSize: 20,
            },
            data: [{
                type: "pie",
                startAngle: 240,
                yValueFormatString: "##0.00'%'",
                indexLabel: "{label} {y}",
                dataPoints: [
                    { label: "CSE", y: 77 },
                    { label: "EC", y: 48 },
                    { label: "EE", y: 25 },
                    { label: "ME", y: 22 },
                    { label: "CIVIL", y: 27 }


                ]
            }]
        });
        chart.render();


        // 7
        var chart = new CanvasJS.Chart("chartContainer7", {
            animationEnabled: true,
            theme: "light2", // "light1", "light2", "dark1", "dark2"
            title: {
                text: "CIVIL DEPARTMENT PLACEMENT OF 2021-22",
                fontSize: 20,
            },
            axisY: {
                title: "No of Students",


            },
            data: [{
                type: "column",
                yValueFormatString: "#",
                dataPoints: [
                    { label: "Students Passout", y: 63 },
                    { label: "Students Placed", y: 5 },
                    { label: "Further Study", y: 9 },
                    { label: "Business", y: 3 }

                ]
            }]
        });
        chart.render();

        function toggleDataSeries(e) {
            if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                e.dataSeries.visible = false;
            }
            else {
                e.dataSeries.visible = true;
            }
            chart.render();
        }

    </script>




    <script>
        function popupOpenClose(popup) {

            /* Add div inside popup for layout if one doesn't exist */
            if ($(".wrapper", popup).length == 0) {
                $(popup).wrapInner("<div class='wrapper'></div>");
            }

            /* Open popup */
            $(popup).show();

            /* Close popup if user clicks on background */
            $(popup).click(function (e) {
                if (e.target == this) {
                    if ($(popup).is(':visible')) {
                        $(popup).hide();
                    }
                }
            });

            /* Close popup and remove errors if user clicks on cancel or close buttons */
            $(popup).find(".popup-btn-close").on("click", function () {
                if ($(".formElementError").is(':visible')) {
                    $(".formElementError").remove();
                }
                $(popup).hide();
            });
        }

        $(document).ready(function () {
            $(".popup-trigger").on("click", function () {
                var target = $(this).data('target');
                popupOpenClose($(target));
            });
        });
    </script>

    <script src="@Url.Content("~/js/carouselowl/owl.carousel.js")"></script>

}

@section styles{
    <link rel="stylesheet" href="@Url.Content("~/images/CampusCommittee/Placement/graph.css")" />
    <link href="@Url.Content("~/js/carouselowl/owl.transitions.css")" rel="stylesheet">
    <link href="@Url.Content("~/js/carouselowl/owl.carousel.css")" rel="stylesheet">
    <style>
        #owl-demo .item img {
            display: block;
            margin: auto;
            height: 100px;
        }
    </style>
}