@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Placement Cell";
}

<div class="clearfix"></div>


<div class="page_title3">
    <div class="container">

        <h1>
            <br> Placement Cell<em>Government Engineering College</em>
            <div class="line"></div>
            <br>
        </h1>

    </div>
</div>
<div class="clearfix"></div>


<div class="content_fullwidth">
    <div class="featured_section55 animate" data-anim-type="fadeIn" data-anim-delay="100">
        <div class="container">

            <h2 class="caps">About GECP Placement Cell</h2>

            <br /><br />

            <div class="one_third">

                <h4 class="color3 margin_bottom2">GECP Placement Policy</h4>
                <p class="bigtfont">The Training and Placement Cell (T&P Cell or TPC) at Government Engineering College - Patan, works professionally with the Industry to place its students in each and every sector.</p>

            </div>
            <!-- end section -->

            <div class="one_third">

                <img src="@Url.Content("~/images/site-img59.jpg")" alt="" class="rimg" />

            </div>
            <!-- end section -->

            <div class="one_third last">

                <h4 class="color3 margin_bottom2">GECP Measures</h4>
                <p class="bigtfont">The T&P Cell handle all aspects of the campus recruitment at institute and also helps in enhancing the skills of the students as per the demands of the industry by conducting many numbers of seminars & workshops including KCG’s Finishing School (GoG) Programs.</p>

            </div>

            <!-- end section -->

        </div>
    </div>
</div>
<!-- end featured section 55 -->

<div class="margin_top2"></div>

<div class="featured_section14">
    <div class="container">

        <div class="one_half animate" data-anim-type="fadeInLeft" data-anim-delay="300">

            <img src="@Url.Content("~/images/icon-img13.png")" alt="" />
            <br /><br />
            <h3 class="white">Vision</h3>

            <p>Enhance the employability skills among the students to meet out the corporate expectations and to furnish them with professional skills and guiding them towards the bright future and career.</p>
            <br /><br />


        </div>
        <!-- end section -->

        <div class="one_half last animate" data-anim-type="fadeInRight" data-anim-delay="300">

            <img src="@Url.Content("~/images/icon-img12.png")" alt="" />
            <br /><br />
            <h3 class="white">Mission</h3>

            <p>To train students for the needs of industries and to partner with renowned organizations from industry & organize recruitment drives for our students within and outside the campus.</p>
            <br /><br />


        </div>
        <!-- end section -->

    </div>
</div>
<!-- end featured section 14 -->







<div class="parallax_section12">
    <div class="container">

        <div class="counters7 animate" data-anim-type="fadeIn" data-anim-delay="300">

            <div class="one_fifth">
                <i class="fa fa-calendar"></i> <span id="target21">0</span>
                <h4>Annual Placement</h4>
            </div>
            <!-- end section -->

            <div class="one_fifth">
                <i class="fa fa-money"></i> <span id="target22">0</span>
                <h4>Dream Packages</h4>
            </div>
            <!-- end section -->

            <div class="one_fifth">
                <i class="fa fa-trophy"></i> <span id="target23">0</span>
                <h4>Total Recruiters</h4>
            </div>
            <!-- end section -->

            <div class="one_fifth">
                <i class="fa fa-paper-plane"></i> <span id="target24">0</span>
                <h4>International Company</h4>
            </div>
            <!-- end section -->

            <div class="one_fifth last">
                <i class="fa fa-thumbs-up"></i> <span id="target5">0</span>
                <h4>Confirm Placement</h4>
            </div>
            <!-- end section -->


        </div>


    </div>
</div>
<!-- end parallax section 12 -->


<div class="featured_section19">
    <div class="container">

        <div class="who animate" data-anim-type="fadeInLeft" data-anim-delay="400"><img src="@Url.Content("~/images/site-img16.png")" alt="" /></div>

        <div class="text animate" data-anim-type="fadeIn" data-anim-delay="500">

            <h1>Placement Head Message</h1>

            <p>
                Government Engineering College, Patan has recorded consistent improvement in its academic, research and placement performance.  Department of Training and Placement arranges and coordinates various programmes that aim at moulding the students so as to meet the industry expectations in career building and in turn bring laurels to the Institution. The department is constantly pitching different industries to build relations and network with industry people for placements of our students. The department is open for students to meet, to interact and to get all the support to build their career. We are here to support.

                <br><br>Training & Placement Officer
            </p>
            <h2>Darin Matthew.</h2>

        </div>

    </div>
</div>
<!-- end featured section 19 -->

<div class="margin_top2"></div>

<div class="featured_section13">

    <h1 class="animate" data-anim-type="fadeIn" data-anim-delay="100" style="color: black;">
        Dream Packages

    </h1>
</div>

<div class="works01">

    <div id="grid-container" class="cbp-l-grid-masonry">

        <div class="cbp-item">
            <a class="cbp-caption cbp-lightbox" data-title="Model as Structures<br>reasonable always" href="images/media/works-img90.jpg">
                <div class="cbp-caption-defaultWrap">
                    <img src="@Url.Content("~/images/peop-img37.jpg")" alt="">
                </div>
            </a>

            <div class="colubox">
                <h5>Dhaval Darji</h5>
                <h6>80 Lakhs</h6><br>
                <a href="placement_tab.html" class="but_calendar">Read More</a>
            </div>

        </div>

        <!-- end item -->

        <div class="cbp-item">
            <a class="cbp-caption cbp-lightbox" data-title="Looking Publishing<br>reasonable always" href="images/media/works-img91.jpg">
                <div class="cbp-caption-defaultWrap">
                    <img src="@Url.Content("~/images/peop-img38.jpg")" alt="">
                </div>
            </a>

            <div class="colubox">
                <h5>Jagruti Meniya</h5>
                <h6>85 Lahs</h6><br>
                <a href="placement_tab.html" class="but_calendar">Read More</a>
            </div>

        </div>

        <!-- end item -->

        <div class="cbp-item">
            <a class="cbp-caption cbp-lightbox" data-title="Webpage as Packages<br>reasonable always" href="images/media/works-img92.jpg">
                <div class="cbp-caption-defaultWrap">
                    <img src="@Url.Content("~/images/peop-img39.jpg")" alt="">
                </div>
            </a>

            <div class="colubox">
                <h5>Vaibhav Saikh</h5>
                <h6>65 Lakh</h6><br>
                <a href="placement_tab.html" class="but_calendar">Read More</a>
            </div>

        </div>

        <!-- end item -->

        <div class="cbp-item">
            <a class="cbp-caption cbp-lightbox" data-title="Software Versions<br>reasonable always" href="images/media/works-img93.jpg">
                <div class="cbp-caption-defaultWrap">
                    <img src="@Url.Content("~/images/peop-img40.jpg")" alt="">
                </div>
            </a>

            <div class="colubox">
                <h5>Tarushi Jauhari</h5>
                <h6>79 Lakh</h6><br>
                <a href="placement_tab.html" class="but_calendar">Read More</a>
            </div>

        </div>

        <!-- end item -->

    </div>





    <div class="featured_section60">
        <div class="container">
            <div class="featured_section13">

                <h1 class="title22 animate" data-anim-type="fadeIn" data-anim-delay="100" style="color: white;">
                    Placement Statistics

                </h1>
            </div>

            <a href="placement_tab.html">
                <div class="piechart1 white"><canvas class="loader"></canvas> <br /> 2020</div>
            </a>
            <a href="placement_tab.html">
                <div class="piechart1 white"><canvas class="loader2"></canvas> <br /> 2019 </div>
            </a>
            <a href="placement_tab.html">
                <div class="piechart1 white"><canvas class="loader3"></canvas> <br /> 2018 </div>
            </a>
            <a href="placement_tab.html">
                <div class="piechart1 white"><canvas class="loader4"></canvas> <br /> 2017 </div>
            </a>
            <a href="placement_tab.html">
                <div class="piechart1 white"><canvas class="loader5"></canvas> <br /> 2016 </div>
            </a>

            <script>
                    (function($) {
                        "use strict";

                        $(document).ready(function() {
                            $('.loader').ClassyLoader4({
                                percentage: 90,
                                speed: 30,
                                fontSize: '50px',
                                diameter: 90,
                                lineColor: 'rgba(19,175,235,1)',
                                remainingLineColor: 'rgba(200,200,200,0.4)',
                                lineWidth: 9
                            });
                        });

                        $(document).ready(function() {
                            $('.loader2').ClassyLoader4({
                                percentage: 100,
                                speed: 30,
                                fontSize: '50px',
                                diameter: 90,
                                lineColor: 'rgba(63,195,95,1)',
                                remainingLineColor: 'rgba(200,200,200,0.4)',
                                lineWidth: 9
                            });
                        });

                        $(document).ready(function() {
                            $('.loader3').ClassyLoader4({
                                percentage: 85,
                                speed: 30,
                                fontSize: '50px',
                                diameter: 90,
                                lineColor: 'rgba(252,66,66,1)',
                                remainingLineColor: 'rgba(200,200,200,0.4)',
                                lineWidth: 9
                            });
                        });

                        $(document).ready(function() {
                            $('.loader4').ClassyLoader4({
                                percentage: 65,
                                speed: 30,
                                fontSize: '50px',
                                diameter: 90,
                                lineColor: 'rgba(47,146,238,1)',
                                remainingLineColor: 'rgba(200,200,200,0.4)',
                                lineWidth: 9
                            });
                        });

                        $(document).ready(function() {
                            $('.loader5').ClassyLoader4({
                                percentage: 95,
                                speed: 30,
                                fontSize: '50px',
                                diameter: 90,
                                lineColor: 'rgba(199,98,203,1)',
                                remainingLineColor: 'rgba(200,200,200,0.4)',
                                lineWidth: 9
                            });
                        });


                    })(jQuery);
            </script>

            <!-- end section -->

        </div>
    </div>
    <!-- end featured section 60 -->

    <div class="parallax_section10">
        <div class="container">
            <div class="featured_section13">

                <h1 class="title22 animate" data-anim-type="fadeIn" data-anim-delay="100" style="color: white;">
                    Committee Members

                </h1>
            </div>
            <div class="one_fourth animate" data-anim-type="fadeInLeft" data-anim-delay="300">

                <img src="@Url.Content("~/images/peop-img37.jpg")" alt="" />
                <h5 class="roboto caps"><a href="#"><strong>Mark Johnson</strong></a></h5>
                <p>Co-ordinator</p>


            </div>
            <!-- end section -->

            <div class="one_fourth animate" data-anim-type="fadeInLeft" data-anim-delay="100">

                <img src="@Url.Content("~/images/peop-img38.jpg")" alt="" />
                <h5 class="roboto caps"><a href="#"><strong>Marie Jalin</strong></a></h5>
                <p>Convorner</p>


            </div>
            <!-- end section -->

            <div class="one_fourth animate" data-anim-type="fadeInRight" data-anim-delay="100">

                <img src="@Url.Content("~/images/peop-img39.jpg")" alt="" />
                <h5 class="roboto caps"><a href="#"><strong>Gaige Leroy</strong></a></h5>
                <p>SupportingMember</p>


            </div>
            <!-- end section -->

            <div class="one_fourth last animate" data-anim-type="fadeInRight" data-anim-delay="300">

                <img src="@Url.Content("~/images/peop-img40.jpg")" alt="" />
                <h5 class="roboto caps"><a href="#"><strong>Carla Larissa</strong></a></h5>
                <p>Supporting Member</p>


            </div>
            <!-- end section -->

        </div>
    </div>
    <!-- end parallax section 10 -->
    <div class="margin_top2"></div>
    <div class="clearfix"></div>
    <div class="stcode_title8">

        <h2>
            <span class="line"></span><span class="text">Our <strong>top</strong>Recruiters <span></span></span>
        </h2>

    </div>

    <!-- end section title heading -->

    <div class="container">
        <div class="margin_top3"></div>
        <div class="clearfix"></div>

        <div class="one_fifth">

            <div class="flips4">

                <div class="flips4_front flipscont4">
                    <img src="@Url.Content("~/images/clientlogo11.png")" alt="">
                </div>

                <div class="flips4_back flipscont4">
                    <h5><strong><a href="#">Microsoft</a></strong></h5>
                    <p>Infancy versions have evolved over years.</p>

                </div>

            </div>

        </div>

        <!-- end section -->

        <div class="one_fifth">

            <div class="flips4">

                <div class="flips4_front flipscont4">
                    <img src="@Url.Content("~/images/clientlogo12.png")" alt="">
                </div>

                <div class="flips4_back flipscont4">
                    <h5><strong><a href="#">ebay</a></strong></h5>
                    <p>Infancy versions have evolved over years.</p>

                </div>

            </div>

        </div>

        <!-- end section -->


        <div class="one_fifth">

            <div class="flips4">

                <div class="flips4_front flipscont4">
                    <img src="@Url.Content("~/images/clientlogo13.png")" alt="">
                </div>

                <div class="flips4_back flipscont4">
                    <h5><strong><a href="#">Adobe</a></strong></h5>
                    <p>Infancy versions have evolved over years.</p>

                </div>

            </div>

        </div>

        <!-- end section -->


        <div class="one_fifth">

            <div class="flips4 active">

                <div class="flips4_front flipscont4">
                    <img src=@Url.Content("~/images/clientlogo14.png")" alt="">
                </div>

                <div class="flips4_back flipscont4">
                    <h5><strong><a href="#">IBM</a></strong></h5>
                    <p>Infancy versions have evolved over years.</p>

                </div>

            </div>

        </div>

        <!-- end section -->


        <div class="one_fifth last">

            <div class="flips4">

                <div class="flips4_front flipscont4">
                    <img src="@Url.Content("~/images/clientlogo15.png")" alt="">
                </div>

                <div class="flips4_back flipscont4">
                    <h5><strong><a href="#">Google</a></strong></h5>
                    <p>Infancy versions have evolved over years.</p>

                </div>

            </div>

        </div>

        <!-- end section -->

        <div class="margin_top3"></div>
        <div class="clearfix"></div>

        <div class="one_fifth">

            <div class="flips4">

                <div class="flips4_front flipscont4">
                    <img src="@Url.Content("~/images/clientlogo16.png")" alt="">
                </div>

                <div class="flips4_back flipscont4">
                    <h5><strong><a href="#">Yahoo</a></strong></h5>
                    <p>Infancy versions have evolved over years.</p>

                </div>

            </div>

        </div>

        <!-- end section -->

        <div class="one_fifth">

            <div class="flips4">

                <div class="flips4_front flipscont4">
                    <img src="@Url.Content("~/images/clientlogo17.png")" alt="">
                </div>

                <div class="flips4_back flipscont4">
                    <h5><strong><a href="#">Discovery</a></strong></h5>
                    <p>Infancy versions have evolved over years.</p>

                </div>

            </div>

        </div>

        <!-- end section -->


        <div class="one_fifth">

            <div class="flips4">

                <div class="flips4_front flipscont4">
                    <img src="@Url.Content("~/images/clientlogo18.png")" alt="">
                </div>

                <div class="flips4_back flipscont4">
                    <h5><strong><a href="#">envato</a></strong></h5>
                    <p>Infancy versions have evolved over years.</p>

                </div>

            </div>

        </div>

        <!-- end section -->


        <div class="one_fifth">

            <div class="flips4">

                <div class="flips4_front flipscont4">
                    <img src="@Url.Content("~/images/clientlogo19.png")" alt="">
                </div>

                <div class="flips4_back flipscont4">
                    <h5><strong><a href="#">Deloitte</a></strong></h5>
                    <p>Infancy versions have evolved over years.</p>

                </div>

            </div>

        </div>

        <!-- end section -->


        <div class="one_fifth last">

            <div class="flips4">

                <div class="flips4_front flipscont4">
                    <img src="@Url.Content("~/images/clientlogo20.png")" alt="">
                </div>

                <div class="flips4_back flipscont4">
                    <h5><strong><a href="#">Audi</a></strong></h5>
                    <p>Infancy versions have evolved over years.</p>

                </div>

            </div>

        </div>

        <!-- end section -->

    </div>
</div>
<!-- end content area -->

<div class="margin_top4"></div>
<div class="featured_section54">
    <div class="container-fluid">

        <div class="stcode_title8">

            <h2>
                <span class="line"></span><span class="text">Our <strong>Students</strong>Speak <span></span></span>
            </h2>

        </div>

        <!-- end client logos -->

        <div class="margin_top3"></div>
        <div class="clearfix"></div>

        <div class="peosays">

            <div class="one_third animate" data-anim-type="fadeInLeft" data-anim-delay="200">
                <div class="box">
                    Many desktop publishing packages an web page editors now use Lorem as their default model text, and a search for is lorem ipsum' will uncover many web sites still their infancy reasonable enerated Ipsum therefore always then versions
                    have over the years.
                </div>

                <div class="who">

                    <img src="@Url.Content("~/images/peop-img3.jpg")" alt="" />
                    <strong>Devon Joaquin</strong> manager - websitename.com

                </div>
            </div>

            <!-- end section -->

            <div class="one_third animate" data-anim-type="fadeInDown" data-anim-delay="200">
                <div class="box">
                    Many desktop publishing packages an web page editors now use Lorem as their default model text, and a search for is lorem ipsum' will uncover many web sites still their infancy reasonable enerated Ipsum therefore always then versions
                    have over the years.
                </div>

                <div class="who">

                    <img src="@Url.Content("~/images/peop-img1.jpg")" alt="" />
                    <strong>Michile Johnson</strong> team - websitename.com

                </div>
            </div>

            <!-- end section -->

            <div class="one_third last animate" data-anim-type="fadeInRight" data-anim-delay="200">
                <div class="box">
                    Many desktop publishing packages an web page editors now use Lorem as their default model text, and a search for is lorem ipsum' will uncover many web sites still their infancy reasonable enerated Ipsum therefore always then versions
                    have over the years.
                </div>

                <div class="who">

                    <img src="@Url.Content("~/images/peop-img2.jpg")" alt="" />
                    <strong>Katie Abbigail</strong> team - websitename.com

                </div>
            </div>

            <!-- end section -->

        </div>


    </div>
</div>
<!-- end featured section 54 -->
<div class="featured_section38">
    <div class="container">

        <h1 class="animate" data-anim-type="fadeIn" data-anim-delay="200">“The future belongs to those who believe in the <b>beauty of their dreams.” ...</b></h1>


    </div>
</div>
<!-- end featured section 38 -->
