@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Women Cell";
}

<div class="clearfix"></div>


<div class="page_title3">
    <div class="container">

        <h1>
            Women Cell Development <em>Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>
<div class="clearfix"></div>


<div class="content_fullwidth">
    <div class="featured_section55 animate" data-anim-type="fadeIn" data-anim-delay="100">
        <div class="container">

            <h2 class="caps">About GECP Women Cell</h2>

            <br /><br />

            <div class="one_third">

                <h4 class="color3 margin_bottom2">GECP Women Cell</h4>
                <p class="bigtfont">The Prime Role of Women Development Cell (WDC) is to provide and maintain a dignified and safe working environment for women employees (including teaching, non-teaching and contractual workers) and students, where they can work, study and explore their potential to the fullest. It includes women Harassment complaint committee and women empowerment program co-ordination committee.</p>

            </div>
            <!-- end section -->

            <div class="one_third">

                <img src="@Url.Content("~/images/women.jpg")" alt="" width="358.6px">

            </div>
            <!-- end section -->

            <div class="one_third last">

                <h4 class="color3 margin_bottom2">GECP Measures</h4>
                <p class="bigtfont">Women Empowerment and Gender Equality are the most important requirements for the upliftment and progress of our nation. In the effort the Cell has both the faculty and students of the College as its members and works with an aim to create a gender sensitized community within campus as well as in the society. It has been organising varied academic, technical, medical, cultural and social events for the upliftment of women and spread the real importance of gender equality in the society.</p>

            </div>
            <!-- end section -->

        </div>
    </div>
</div>
<!-- end featured section 55 -->
<div class="margin_top2"></div>
<div class="featured_section14">
    <div class="container">

        <div class="one_half animate" data-anim-type="fadeInLeft" data-anim-delay="300">

            <img src="@Url.Content("~/images/vision.png")" alt="" />
            <br /><br />
            <h3 class="white">Vision</h3>

            <p>To make the cell a unique platform for the development of its members, by providing them opportunities to contribute towards the betterment of the society.</p>
            <br /><br />


        </div>
        <!-- end section -->

        <div class="one_half last animate" data-anim-type="fadeInRight" data-anim-delay="300">

            <img src="@Url.Content("~/images/mission.png")" alt="" />
            <br /><br />
            <h3 class="white">Mission</h3>

            <p>The Women Cell shall strive to create a better and just society by empowering women.</p>
            <br /><br />


        </div>
        <!-- end section -->

    </div>
</div>
<!-- end featured section 14 -->
@*<div class="featured_section19">
        <div class="container">

            <!--<div class="who animate" data-anim-type="fadeInLeft" data-anim-delay="400"><img src="@Url.Content("~/images/site-img16.png")" alt="" /></div>-->

            <div class="text animate" data-anim-type="fadeIn" data-anim-delay="500">

                <h1>Women Cell Head Message</h1>

                <p>The women’s cell of Government Engineering College, Patan works to empower women and maintain a dignified, congenial working environment for girl students, female faculty and staff members, whereby they can study, work and explore their full potential. Since then its members have generously extended their helping hand to assist the poor and needy. Women Empowerment and Gender Equality are the most important requirements for the upliftment and progress of our nation.</p>

            </div>

        </div>
    </div>*@
<!-- end featured section 19 -->

<div class="parallax_section10">
    <div class="container">
        <div class="featured_section13">

            <h1 class="title22 animate" data-anim-type="fadeIn" data-anim-delay="100" style="color: white;">
                Committee Members

            </h1>
        </div>

        <div class="one_fourth animate" data-anim-type="fadeInLeft" data-anim-delay="100">

            <img src="@Url.Content("~/images/CampusCommittee/WomenCell/Roshni.jpg")" alt="" />
            <h5 class="roboto caps"><a href="#"><strong>Prof Roshni Chaudhrari</strong></a></h5>



        </div>
        <!-- end section -->

        <div class="one_fourth animate" data-anim-type="fadeInRight" data-anim-delay="100">

            <img src="@Url.Content("~/images/CampusCommittee/WomenCell/dummy.jpg")" alt="" />
            <h5 class="roboto caps"><a href="#"><strong>Smt. Reena  Prajapati</strong></a></h5>



        </div>
        <!-- end section -->

    </div>
</div>
<!-- end parallax section 10 -->