@model GECP_Front_End_Static.Models.AchievementsWrapperVM
@{
    Layout = null;
    ViewBag.Title = "Achievements";
    int count = 1;
}
@if(Model.Achievements.Count()>0){
<div class="works01">
    <div class="container">

        <div id="filters-container" class="cbp-l-filters-button">
            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
                All
                <div class="cbp-filter-counter"></div>
            </div>
            @foreach(var item in Model.Keywords){
                <div data-filter=".@item" class="cbp-filter-item">
                    @item
                    <div class="cbp-filter-counter"></div>
                </div>
            }
        </div>


        <div id="grid-container" class="cbp-l-grid-fullWidth">
            @foreach (var item in Model.Achievements)
            {
                <div class="cbp-item @foreach (string key in item.Keywords.Split(',')){
            @key
 }">
                    <div class="box">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <div class="blog_post">
                                    <div class="blog_postcontent">
                                        <div class="image_frame"><a href="#"><img src="@Url.Content(item.Image)" alt=""></a></div>
                                        <h3>@Html.Raw(item.Title)</h3>
                                        <ul class="post_meta_links">
                                            <li><a href="#" class="date">@item.Date</a></li>
                                            @if (!string.IsNullOrWhiteSpace(item.Keywords))
                                            {
                                                foreach (string key in item.Keywords.Split(','))
                                                {
                                                    <li class="post_categoty">@key</li>
                                                }
                                            }
                                        </ul>
                                        <div class="clearfix"></div>
                                        <div class="margin_top1"></div>
                                        <p class="text-justify">@item.Description</p>

                                    </div>
                                </div>
                            </div>
                          
                        </div>
                    </div>
                </div>
            }

        </div>

        <!--<div class="cbp-l-loadMore-text">
            <div data-href="ajax/loadMore.html" class="cbp-l-loadMore-text-link">LOADING...</div>
        </div>-->


    </div>
</div>
}
else{
    <h2 class="text-center">NO DATA AVAILABLE</h2>
}
<div class="clearfix margin_top2"></div>

@* @section tabs {
    <script type="text/javascript" src="@Url.Content("~/js/cubeportfolio/main32.js")"></script>
}

@section styles {
    <!-- timeline -->
    <link rel="stylesheet" href="@Url.Content("~/js/timeline/timeline.css")">
} *@