@model List<GECP_Front_End_Static.Models.AchievementsVM>
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Achievements";
	int count = 1;
}
<div class="page_title3 placement_title">
	<div class="container">

		<h1>
			<br> Achievements<em>Government Engineering College</em>
			<div class="line"></div>
			<br>
		</h1>

	</div>
</div>
<div class="margin_top10"></div>

<div class="full-container">
	<div class="tab">
		<button class="tablinks" onclick="openTab(event, 'About')" id="defaultOpen">All</button>
	</div>
	<div id="About" class="tabcontent">
	

			@foreach (var item in Model)
			{
				<div class="one_third box @(count%3==0?"last":"")">
					<div class="blog_post">
						<div class="blog_postcontent">
							<div class="image_frame"><a href="#"><img src="@Url.Content(item.Image)" alt=""></a></div>
							<h3>@Html.Raw(item.Title)</h3>
							<ul class="post_meta_links">
								<li><a href="#" class="date">@item.Date</a></li>
								@if (!string.IsNullOrWhiteSpace(item.Keywords))
								{
									foreach (string key in item.Keywords.Split(','))
									{
										<li class="post_categoty">@key</li>
									}
								}
							</ul>
							<div class="clearfix"></div>
							<div class="margin_top1"></div>
							<p class="text-justify">@item.Description</p>

						</div>
					</div>

				</div>
				@if(count%3==0){
							<div class="clearfix margin_bottom3"></div>
				}
				count++;

			}


	</div>
</div>

<div class="clearfix"></div>

@section scripts {
	<script>
		(function ($) {
			"use strict";

			jQuery(document).ready(function ($) {
				var $timeline_block = $('.cd-timeline-block');

				//hide timeline blocks which are outside the viewport
				$timeline_block.each(function () {
					if ($(this).offset().top > $(window).scrollTop() + $(window).height() * 0.75) {
						$(this).find('.cd-timeline-img, .cd-timeline-content').addClass('is-hidden');
					}
				});

				//on scolling, show/animate timeline blocks when enter the viewport
				$(window).on('scroll', function () {
					$timeline_block.each(function () {
						if ($(this).offset().top <= $(window).scrollTop() + $(window).height() * 0.75 && $(this).find('.cd-timeline-img').hasClass('is-hidden')) {
							$(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').addClass('bounce-in');
						}
					});
				});
			});

		})(jQuery);
	</script>
}

@section styles {
	<!-- timeline -->
	<link rel="stylesheet" href="@Url.Content("~/js/timeline/timeline.css")">
}