@model List<GECP_Front_End_Static.Models.AchievementsVM>
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Achievements";
	int count = 1;
}
<div class="page_title3 placement_title">
	<div class="container">

		<h1>
			<br> Achievements<em>Government Engineering College</em>
			<div class="line"></div>
			<br>
		</h1>

	</div>
</div>
<div class="margin_top10"></div>

<div class="full-container">
	<div class="tab">
		<button class="tablinks" onclick="loadAchievements(event,'@Url.Action("AchievementsByYear","Academics",new{@year=0})')" id="defaultOpen">All</button>
		<button class="tablinks" onclick="loadAchievements(event,'@Url.Action("AchievementsByYear","Academics",new{@year=2025})')">2025</button>
		<button class="tablinks" onclick="loadAchievements(event,'@Url.Action("AchievementsByYear","Academics",new{@year=2024})')">2024</button>
	</div>
	<div id="achDiv" class="tabcontent">
	</div>
	<!-- end works section -->
</div>



<div class="clearfix margin_top2"></div>

@section tabs {
	<script type="text/javascript" src="@Url.Content("~/js/cubeportfolio/gecp_cubeportfolio_custom.js")"></script>
	<script>
		$(document).ready(function(){
			$("#achDiv").load("@Url.Action("AchievementsByYear", "Academics", new { @year = 0 })");
			setTimeout(function(){reInit()},100);
		})
		function loadAchievements(evt,url){
			$("#achDiv").load(url);
			setTimeout(function(){
				$("#grid-container").destroy;
				reInit();
			},100);

				var tablinks = document.getElementsByClassName("tablinks");
			for (i = 0; i < tablinks.length; i++) {
				tablinks[i].className = tablinks[i].className.replace(" active", "");
			}
			evt.currentTarget.className += " active";
		}
	</script>
}

@section styles {
	<!-- timeline -->
	<link rel="stylesheet" href="@Url.Content("~/js/timeline/timeline.css")">
}