@model GECP_Front_End_Static.Models.AchievementsWrapperVM
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Achievements";
	int count = 1;
}
<div class="page_title3 placement_title">
	<div class="full-container">

		<h1>
			<br> Achievements 
			<div class="line"></div>
			<br>
		</h1>

	</div>
</div>
<div class="margin_top10"></div>

<div class="full-container">
	<div class="tab hidden-xs">
		<button class="tablinks" onclick="loadAchievements(event,'@Url.Action("AchievementsByYear", "Academics", new { @year = 0 })')" id="defaultOpen">All</button>
		@foreach (var item in Model.Years)
		{
			<button class="tablinks" onclick="loadAchievements(event,'@Url.Action("AchievementsByYear", "Academics", new { @year = item })')">@item</button>
		}
	</div>
	<div class="tab-xs visible-xs">
		<button class="tablinks" onclick="loadAchievements(event,'@Url.Action("AchievementsByYear", "Academics", new { @year = 0 })')" id="defaultOpen">All</button>
		@foreach (var item in Model.Years)
		{
			<button class="tablinks" onclick="loadAchievements(event,'@Url.Action("AchievementsByYear", "Academics", new { @year = item })')">@item</button>
		}
	</div>

	@* <div id="style-selector" style="left: 0px;" class="visible-xs">

		<div class="style-selector-wrapper">
			<span class="title">Menu</span>
			<div>
				<br><br>

				<ul class="styles" style="border-bottom: none;">
					<li class="button1 margin_top1"><button class="demolinks button1" onclick="loadAchievements(event,'@Url.Action("AchievementsByYear","Academics",new{@year=0})')" id="defaultOpen">All</button></li>
					@foreach (var item in Model.Years)
					{
						<li class="button1 margin_top1"><button class="demolinks button1" onclick="loadAchievements(event,'@Url.Action("AchievementsByYear","Academics",new{@year=item})')">@item</button></li>
					}
					

				</ul>




				<a href="#" class="close icon-chevron-right"></a>

			</div>
		</div>
	</div> *@
	<div id="achDiv" class="tabcontent">
	</div>
	<!-- end works section -->
</div>



<div class="clearfix margin_top2"></div>
@section Scripts {
	<script type="text/javascript" src="@Url.Content("~/js/cubeportfolio/gecp_cubeportfolio_custom.js")"></script>
	<script type="text/javascript">
		// Function called by your tab buttons
		function loadAchievements(evt, url) {
			evt.preventDefault();

			// Remove active class from all tabs and add to the clicked one
			$(".tablinks").removeClass("active");
			$(evt.currentTarget).addClass("active");

			// Load content into #achDiv
			$("#achDiv").load(url, function () {
				// Destroy previous CubePortfolio grid if it exists
				if ($('#grid-container').data('cubeportfolio')) {
					destroyGrid(); // your external destroyGrid function
				}

				// Re-initialize CubePortfolio
				reInit();
			});
		}

		$(document).ready(function () {
			// Initial load for year 0
			$("#achDiv").load("@Url.Action("AchievementsByYear", "Academics", new { year = 0 })", function () {
				reInit();
			});

			// Optionally, mark the first tab as active on page load
			$(".tablinks").first().addClass("active");
		});
	</script>
}



@section styles {
	<!-- timeline -->
	<link rel="stylesheet" href="@Url.Content("~/js/timeline/timeline.css")">
}