@model IntakeVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Admission Process";
}


<div class="clearfix"></div>


<div class="page_title3 engg_title">
    <div class="container">

        <h1>
            Admission Process <em>Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>
<div class="featured_section63">
    <div class="container">



        <h4 class="roboto">
            Government Engineering College, Patan (GECP), is a government aided educational institution located in Katpur, near Patan, Gujarat. The institute offers undergraduate level engineering courses. The college was founded in April 2004 and is
            affiliated to Gujrat Technological University (GTU).
        </h4>

    </div>
</div>

<!-- end featured section 63 -->
<div class="parallax_section12">
    <div class="container">
        <div class="featured_section13">

            <h1 class="title22 animate" data-anim-type="fadeIn" data-anim-delay="100" style="color: white;">
                Students Intake

            </h1>
        </div>

        <div class="counters7 animate" data-anim-type="fadeIn" data-anim-delay="300">

            <div class="one_fifth">
                <i class="fa fa-microchip"></i> <span class="target120" id="target120">@Model.EC</span>
                <h4>EC</h4>
            </div>
            <!-- end section -->

            <div class="one_fifth">
                <i class="fa fa-desktop"></i> <span class="target121" id="target121">@Model.Computer</span>
                <h4>Computer</h4>
            </div>
            <!-- end section -->

            <div class="one_fifth">
                <i class="fa fa-bolt"></i> <span class="target122" id="target122">@Model.Electrical</span>
                <h4>Electrical</h4>
            </div>
            <!-- end section -->

            <div class="one_fifth">
                <i class="fas fa-hard-hat"></i> <span class="target123" id="target123">@Model.Civil</span>
                <h4>Civil</h4>
            </div>
            <!-- end section -->

            <div class="one_fifth last">
                <i class="fa fa-wrench"></i> <span class="target124" id="target124">@Model.Mechanical</span>
                <h4>Mechanical</h4>
            </div>
            <!-- end section -->


        </div>


    </div>
</div>
<div class="margin_top2"></div>

<div class="featured_section37">
    <div class="container">

        <!-- end section -->

        <div class="two_third">

            <br />

            <h2>Admission Process</h2>

            <div class="ibox animate" data-anim-type="fadeInUp" data-anim-delay="100">

                <i class="fa fa-check"></i>
                <h5>Only online mode of application is allowed. Candidates can register and apply through GUJCET website.</h5>

            </div>
            <!-- end section -->

            <div class="ibox animate" data-anim-type="fadeInUp" data-anim-delay="200">

                <i class="fa fa-check"></i>
                <h5>Registration fees of INR 350 can be paid at the “Help Centre” while purchasing the information booklet and PIN.</h5>


            </div>
            <!-- end section -->

            <div class="ibox animate" data-anim-type="fadeInUp" data-anim-delay="300">

                <i class="fa fa-check"></i>
                <h5>10+2 in science stream with minimum 45% marks for B. Tech programs.</h5>


            </div>
            <!-- end section -->

            <div class="ibox animate" data-anim-type="fadeInUp" data-anim-delay="400">

                <i class="fa fa-check"></i>
                <h5>Only GUJCET or JEE Main qualified candidates are eligible for B. Tech counselling and admission.</h5>


            </div>
            <!-- end section -->
            <div class="ibox animate" data-anim-type="fadeInUp" data-anim-delay="400">

                <i class="fa fa-check"></i>
                <h5>All candidates are selected for admission through GUJCET counselling only.</h5>


            </div>
            <!-- end section -->
        </div>
        <div class="one_third last">

            <div class="ms-phone-template">
                <div class="ms-phone-cont">
                    <img src="@Url.Content("~/images/hiearchy.PNG")" class="ms-phone-bg" height="620px" />
                </div>
            </div>
        </div>


    </div>
</div>

<!-- end parallax section 12 -->
<!--<div class="featured_section98">
    <div class="container">
        <div class="margin_top2"></div>

        <div class="featured_section13">

            <h1 class="title22 animate blacktext" data-anim-type="fadeIn" data-anim-delay="100">
                Important Events & Dates

            </h1>
        </div>
        <div class="box first animate" data-anim-type="fadeInUp" data-anim-delay="500">

            <ul>
                <li>1.</li>
                <li>2.</li>
                <li>3.</li>
                <li>4.</li>
                <li>5.</li>
                <li>6.</li>
                <li>7.</li>
                <li>8.</li>
                <li>9.</li>
                <li>10.</li>
                <li>11.</li>

            </ul>

        </div>-->
        <!-- end section -->

        <!--<div class="box animate widthclass" data-anim-type="fadeInLeft" data-anim-delay="200">

            <ul>
                <li class="title">
                    <h3>Events</h3>
                </li>
                <li>Online application of resgistration starts</li>
                <li>Last date of submitting the online application</li>
                <li>Submission of Documents</li>
                <li>Last date to edit registration</li>
                <li>Finalisation of institute Seat Matrix</li>
                <li>Declaration of provisional merit list</li>
                <li>Choice Filling for Mock round</li>
                <li>Announcement of Result of Mock Round</li>
                <li>Announcement of Final Merit List</li>
                <li>Final list of institutes and Seat Matrix</li>
                <li>Filling & Alteration of choices</li>

            </ul>

        </div>-->
        <!-- end section -->

        <!--<div class="box highlight animate" data-anim-type="fadeInLeft" data-anim-delay="300">

            <ul>
                <li class="title">
                    <h3>Dates</h3>
                </li>
                <li>08 Jul 2020</li>
                <li>11 Sep 2020</li>
                <li>11 Sep 2020</li>
                <li>11 Sep 2020</li>
                <li>17 Sep 2020</li>
                <li>Unlimited</li>
                <li>18 Sep 2020</li>
                <li>18 Sep (2.00 PM) to 22 Sep 2020</li>
                <li>25 Sep 2020</li>
                <li>25 Sep 2020</li>
                <li>01 Oct 2020</li>

            </ul>

        </div>-->
        <!-- end section -->
        <!-- end section -->


        <!--<div class="box first animate shiftright" data-anim-type="fadeInUp" data-anim-delay="500">

            <ul>

                <li>12.</li>
                <li>13.</li>
                <li>14.</li>
                <li>15.</li>
                <li>16.</li>
                <li>17.</li>
                <li>18.</li>
                <li>19.</li>
                <li>20.</li>
                <li>21.</li>
                <li>22.</li>

            </ul>

        </div>

        <div class="box animate widthclass" data-anim-type="fadeInLeft" data-anim-delay="200">

            <ul>
                <li class="title">
                    <h3>Events</h3>
                </li>

                <li>Announcement of First Allotment List</li>
                <li>Online deposition of token tuition fees </li>
                <li>Commencement of Academic Term</li>
                <li>Display of vacancy after Round – 1</li>
                <li>Registration of Phase : 2 </li>
                <li>Merit List for Phase : 2 registered candidates</li>
                <li>Filling & alteration of choices </li>
                <li>Declaration of Second allotment list</li>
                <li>Online deposition of token tuition fees a</li>
                <li>Online cancellation of admission</li>
                <li>Display of vacancy after Round – 2</li>
            </ul>

        </div>
        <div class="box highlight animate" data-anim-type="fadeInLeft" data-anim-delay="300">

            <ul>
                <li class="title">
                    <h3>Dates</h3>
                </li>
                <li> 01 – 04 Oct 2020</li>
                <li>07 Oct 2020</li>
                <li>07 Oct to 14 Oct 2020</li>
                <li>13 Oct 2020</li>
                <li>15 Oct 2020</li>
                <li>15 Oct 2020 to 19 Oct 2020</li>
                <li>26 Oct 2020</li>
                <li>27 Oct 2020 to 31 Oct 2020</li>
                <li>4 Nov 2020</li>
                <li>5 Nov 2020 to 8 Nov 2020</li>
                <li>9 Nov 2020</li>
            </ul>

        </div>-->
        <!-- end section -->
    <!--</div>
</div>-->
<!-- end featured section 98 -->

<!--<div class="featured_section99">
    <div class="container">

        <!--<div class="one_half animate" data-anim-type="fadeIn" data-anim-delay="200">

            <h2><strong>FEES STRUCTURE <div class="line"></div></strong></h2>

            <div class="featured_section40 two">
                <div class="container">

                    <div class="onecol_sixty">


                        <div class="one_half">

                            <i class="fa fa-female"></i>
                            <h4 class="roboto">Girls</h4>
                            <h5 class="white">0 Rs.</h5>

                        </div>-->
                        <!-- end section -->

                        <!--<div class="one_half last">

                            <i class="fa fa-male"></i>
                            <h4 class="roboto">Boys</h4>
                            <h5 class="white">1500 Rs</h5>

                        </div>-->
                        <!-- end section -->
                    <!--</div>


                </div>
            </div>-->
            <!-- end featured section 40 -->



        <!--</div>-->
        <!-- end section -->

        <!--@*<div class="one_half last animate" data-anim-type="fadeIn" data-anim-delay="300">

            <h2><strong>DOCUMENTS REQUIRED <div class="line"></div></strong></h2><br>
            <div class="one_half last">



                <div id="st-accordion-two" class="st-accordion-two">

                    <ul>

                        <li>
                            <a href="#" class="white">List Of Documents<span class="st-arrow">Open or Close</span></a>
                            <div class="st-content">
                                <ol type="1" style="color: white;">
                                    <li> 10th Standard Mark Sheet</li>
                                    <li> 12th Standard Mark Sheet</li>
                                    <li> GUJCET Result</li>
                                    <li> School Leaving or Transfer Certificate</li>
                                    <li> Category Certificate (if applicable)</li>
                                    <li> Certificate of Income issued by the authority empowered by the State of Government in this behalf.</li>
                                    <li> Photograph of the applicant for other State/other than Gujarat Secondary and Higher Secondary School Examination Board</li>
                                    <li> Other certificates as the admission committee deem necessary.</li>
                                </ol>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>




        </div>*@-->
        <!-- end section -->


    <!--</div>
</div>-->
<!-- end featured section 98 -->
<!--<div class="parallax_section1">
        <div class="container">

            <div class="one_full stcode_title6 white">
                <h2 class="white">Merit base <strong>Cut Off</strong> of GECP</h2>
                <br />
            </div>

            <div class="piechart3"><canvas class="loader001"></canvas> <br />2016 </div>
            <div class="piechart3"><canvas class="loader002"></canvas> <br /> 2017</div>
            <div class="piechart3"><canvas class="loader003"></canvas> <br /> 2018 </div>
            <div class="piechart3"><canvas class="loader004"></canvas> <br /> 2019 </div>




        </div>
    </div>-->
<!-- end parallax section1 -->
<!--<div class="margin_top2"></div>
<div class="container">

    <div class="one_half">

        <h2 class="caps">Government Engineering College, Patan Reservation 2020</h2>

        <p>
            After filling all the requisite details, the applicant will then need to upload the scanned copies of photograph and signature in the specified format. The candidate must obtain a DD of INR 300 in favor of "Secretary, Gujarat Common Entrance
            Test Cell” payable at Gandhinagar. Upon submission of application form, a unique application number will be created for each applicant which he/she will need to preserve for future correspondence. A print-out of the complete application
            form and self-attested photo copies of the required documents must be submitted at nearby help Centre from June 1 to June 12. The requisite acknowledgement slip after submission of registration form is to be collected from the Help Centre.
            Candidates who qualify GUJCET will need to attend counselling for further admission process.
        </p>
    </div>-->
<!-- end section -->
<!--<div class="one_half last">

        <div class="pro_bar">

            <h6>Scheduled Caste</h6>
            <div id="progress_bar_gray" class="ui-progress-bar3 ui-container">
                <div class="ui-progress3"><span class="ui-label"><b class="value">7%</b></span></div>
            </div>

            <br />

            <h6>Scheduled Tribe</h6>
            <div id="progress_bar_gray2" class="ui-progress-bar3 ui-container">
                <div class="ui-progress3"><span class="ui-label"><b class="value">15%</b></span></div>
            </div>

            <br />

            <h6>OBC (Socially and Educationally Backward Classes)</h6>
            <div id="progress_bar_gray3" class="ui-progress-bar3 ui-container">
                <div class="ui-progress3"><span class="ui-label"><b class="value">27%</b></span></div>
            </div>

            <br />

            <h6>Unreserved Economically Weaker Sections</h6>
            <div id="progress_bar_gray4" class="ui-progress-bar3 ui-container">
                <div class="ui-progress3"><span class="ui-label"><b class="value">10%</b></span></div>
            </div>

            <br />

            <h6>Physically Disabled Category</h6>
            <div id="progress_bar_gray5" class="ui-progress-bar3 ui-container">
                <div class="ui-progress3"><span class="ui-label"><b class="value">3%</b></span></div>
            </div>

            <br />

            <h6>Children of Defense Personnel and Ex-Servicemen</h6>
            <div id="progress_bar_gray5" class="ui-progress-bar3 ui-container">
                <div class="ui-progress3"><span class="ui-label"><b class="value">1%</b></span></div>
            </div>

        </div>

    </div>

</div>-->




@section scripts{
    <script type="text/javascript" src="@Url.Content("~/js/masterslider/jquery.easing.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/accordion/jquery.accordion.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/accordion/custom.js")"></script>
    <script>
        (function ($) {
            "use strict";

            $(document).ready(function () {
                var target120 = $("#target120").text();
                var target121 = $("#target121").text();
                var target122 = $("#target122").text();
                var target123 = $("#target123").text();
                var target124 = $("#target124").text();

                $('.target120').animateNumber({
                    number: target120,

                    numberStep: function (now, tween) {
                        var floored_number = Math.floor(now),
                            target = $(tween.elem);

                        target.text(floored_number);
                    }
                },
                    12000
                )

                $('.target121').animateNumber({
                    number: target121,

                    numberStep: function (now, tween) {
                        var floored_number = Math.floor(now),
                            target = $(tween.elem);

                        target.text(floored_number);
                    }
                },
                    12000
                )
                $('.target122').animateNumber({
                    number: target122,

                    numberStep: function (now, tween) {
                        var floored_number = Math.floor(now),
                            target = $(tween.elem);

                        target.text(floored_number);
                    }
                },
                    12000
                )
                $('.target123').animateNumber({
                    number: target123,

                    numberStep: function (now, tween) {
                        var floored_number = Math.floor(now),
                            target = $(tween.elem);

                        target.text(floored_number);
                    }
                },
                    12000
                )

                $('.target124').animateNumber({
                    number: target124,

                    numberStep: function (now, tween) {
                        var floored_number = Math.floor(now),
                            target = $(tween.elem);

                        target.text(floored_number);
                    }
                },
                    12000
                )
            });

        })(jQuery);
    </script>

    <!-- end section -->
}

@section styles{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/js/accordion/style.css")" />
}