@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About Us";
}
<div class="clearfix"></div>

<div class="page_title3">
    <div class="container">

        <h1>
            About Us <em>Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>
<!-- end page title -->


<div class="clearfix margin_top2"></div>



<div class="content_fullwidth">

    <div class="container">

        <div class="one_half">

            <div id="owl-demo2" class="owl-carousel">

                <div><img src="@Url.Content("~/images/college.jpg")" alt="" class="rimg"></div>

                <div><img src="@Url.Content("~/images/college_gate.jpg")" alt="" class="rimg"></div>

                <div><img src="@Url.Content("~/images/convocation.jpg")" alt="" class="rimg"></div>

            </div>

        </div>
        <!-- end section -->

        <div class="one_half last">

            <div class="stcode_title5">
                <h3 class="nmb"><strong>History of GECP</strong></h3>
            </div>

            @*<h5 class="gray">Will cover many web sites still in their infancy various versions have evo packages over the years.</h5>*@

            <p>
                Government Engineering College, Patan was established in April 2004 with three branches Computer Engineering, Electronics and Communication Engineering and Mechanical Engineering each with intake of 60 totaling to 180. The institute was initially functioning in the premises of the K. D. Polytechnic, Patan temporarily. It was shifted to its own newly built up green premise in August 2008 at Katpur village on Chanasma- Patan road 8 kms before Patan. Two more branches of Electrical Engineering and Civil Engineering each with intake of 60 were introduced from June- 2009. The intake of Electronics and communication was reduced to 30 and Mechanical Engineering was reduced to 90 from 2020. Currently institute have total intake 360.
            </p>

            <div class="clearfix marb12"></div>

        </div>
        <!-- end section -->

    </div>
    <!-- end all sections -->



    <div class="featured_section19">
        <div class="container">

            <div class="who animate" data-anim-type="fadeInLeft" data-anim-delay="400"><img src="@Url.Content("~/images/AboutUs/principal.png")" alt="" /></div>

            <div class="text animate" data-anim-type="fadeIn" data-anim-delay="500">

                <h1>Principal's Message</h1>

                <p>
                    Welcome to the world of engineering.

                    Many of you may wonder, what exactly is an engineer? Engineers are creators, designers, innovators and problem solvers. @*Engineers play a role in the production and development of almost everything we use in our daily life.Engineering is about using your intelligence, education training and capabilities to improve the quality of life for the people on our planet.*@

                    The Government Engineering College Patan offers you an opportunity for a superior education in the engineering field. For more than 9 years, our college has provided the advanced engineering skills and training that place our graduates on the forefront of contemporary technological developments.

                    The excellent academic infrastructure of the college is supplemented with facilities for outdoor & indoor games as well.
                </p>
                <h2>Darin Matthew.</h2>

            </div>

        </div>
    </div>
    <!-- end featured section 19 -->

    <div class="featured_section14">
        <div class="container">

            <div class="one_half animate" data-anim-type="fadeInLeft" data-anim-delay="300">

                <img src="@Url.Content("~/images/icon-img13.png")" alt="" />
                <br /><br />
                <h3 class="white">Vision</h3>

                <p>To prepare Human Resource with value based competency for technical advancements and growth of society.</p>
                <br /><br />


            </div>
            <!-- end section -->

            <div class="one_half last animate" data-anim-type="fadeInRight" data-anim-delay="300">

                <img src="@Url.Content("~/images/icon-img12.png")" alt="" />
                <br /><br />
                <h3 class="white">Mission</h3>

                <p>
                    To deliver technical programs and services to cater the current needs of society and industry,
                    Helping industries in solving challenges by means of providing best technical human resources and
                    To contribute in sustainable growth of society
                </p>
                <br /><br />


            </div>
            <!-- end section -->

        </div>
    </div>
    <!-- end featured section 14 -->

    <div class="divider_line11dept"></div>


    <div class="featured_section46">
        <div class="container">

            <h2 class="title27 roboto">
                Alumuns Says
                <!-- <div class="line"></div> -->
            </h2>



            <div class="one_half animate" data-anim-type="fadeInLeft" data-anim-delay="200">
                <div class="bubble">

                    <img src="@Url.Content("~/images/Home/icon-user-90.png")" alt="" />

                    <p>
                        Generators on the Internet tend to repeat predefined chunks as necessary, making this the first true evere generator on the Internet. It uses a dictionary of over 200 Latin words, combined with generate Lorem Ipsum which looks
                        reasonable. The generated Lorem Ipsum pass reasonable websites is therefore always.
                    </p>

                    <div class="clearfix"></div>
                </div>

                <strong>
                    Michile Johnson
                    <em>client websitename.com</em>
                </strong>

            </div>
            <!-- end section -->

            <div class="one_half last animate" data-anim-type="fadeInRight" data-anim-delay="200">
                <div class="bubble">

                    <img src="@Url.Content("~/images/Home/icon-user-90.png")" alt="" />

                    <p>
                        Generators on the Internet tend to repeat predefined chunks as necessary, making this the first true evere generator on the Internet. It uses a dictionary of over 200 Latin words, combined with generate Lorem Ipsum which looks
                        reasonable. The generated Lorem Ipsum pass reasonable websites is therefore always.
                    </p>

                    <div class="clearfix"></div>
                </div>

                <strong>
                    Alana Kasandra
                    <em>client websitename.com</em>
                </strong>

            </div>
            <!-- end section -->


        </div>
    </div>
    <!-- end featured section 46 -->
    <div class="clearfix margin_top2"></div>

</div>