@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About Us";
}
<div class="clearfix"></div>

<div class="page_title3 engg_title">
    <div class="container">

        <h1>
            About Us <em>Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>
<!-- end page title -->


<div class="clearfix margin_top2"></div>



<div class="content_fullwidth">

    <div class="container">

        <div class="one_half">

            <div id="owl-demo2" class="owl-carousel">

                <div><img src="@Url.Content("~/images/Institute/AboutUs/clg3.jpeg")" alt="" class="rimg"></div>

                <div><img src="@Url.Content("~/images/Institute/AboutUs/clg1.jpg")" alt="" class="rimg"></div>

                @*<div><img src="@Url.Content("~/images/convocation.jpg")" alt="" class="rimg"></div>*@

            </div>

        </div>
        <!-- end section -->

        <div class="one_half last text-justify">

            <div class="stcode_title5">
                <h3 class="nmb"><strong>History of GECP</strong></h3>
            </div>

            @*<h5 class="gray">Will cover many web sites still in their infancy various versions have evo packages over the years.</h5>*@

            <p>
                Government Engineering College, Patan was established in April 2004 with three branches Computer Engineering, Electronics and Communication Engineering and Mechanical Engineering each with intake of 60 totaling to 180. The institute was initially functioning in the premises of the K. D. Polytechnic, Patan temporarily. It was shifted to its own newly built up green premise in August 2008 at Katpur village on Chanasma- Patan road 8 kms before Patan. 
                <br />
                Two more branches of Electrical Engineering and Civil Engineering each with intake of 60 were introduced from June- 2009. The intake of Electronics and communication was reduced to 30 and Mechanical Engineering was reduced to 90 from 2020. Currently institute have total intake 360.
            </p>

            <div class="clearfix marb12"></div>

        </div>
        <!-- end section -->

    </div>
    <!-- end all sections -->



    <div class="featured_section19">
        <div class="container text-justify">

            <div class="who animate" data-anim-type="fadeInLeft" data-anim-delay="400">
                <img src="@Url.Content("~/images/Department/Civil/app_BJS.jpg")" alt="" style="margin: auto; width: 85%;">
            </div>
            <div @*class="text animate"*@ data-anim-type="fadeIn" data-anim-delay="500">
                <br /><br /><br />
                <h1>Principal's Message</h1>

                <p>
                    I am delighted to welcome you to Government Engineering College.  I hope to convey the passion and enthusiasm that both staff and students bring to you, and all that they do here, making Government Engineering College a wonderful place to learn.
                    <br />
                    In order to accomplish our vision and mission, we are prepared to take as much effort as possible for the betterment of academic scenario in India. The purpose of education is to teach our students to think and develop a capacity to reason out facts and this is achieved by providing them excellent academic environment, state of-the-art infrastructure, state-of-the-art laboratories and dedicated and highly qualified faculty members with decades of teaching and industrial experience.
                    <br />
                    I wish the best of fortune, peace and prosperity to all those who contribute to the noble task of spreading education and its manifest qualities.
                    <br /> <br />
                    - Dr. B J Shah
                </p>

            </div>
        </div>
    </div>
    <!-- end featured section 19 -->
    <div class="margin_top7"></div>
    <div class="featured_section14">
        <div class="container">

            <div class="one_half animate" data-anim-type="fadeInLeft" data-anim-delay="300">

                <img src="@Url.Content("~/images/vision.png")" alt="" />
                <br /><br />
                <h3 class="white">Vision</h3>

                <p>To prepare Human Resource with value based competency for technical advancements and growth of society.</p>
                <br /><br />


            </div>
            <!-- end section -->

            <div class="one_half last animate" data-anim-type="fadeInRight" data-anim-delay="300">

                <img src="@Url.Content("~/images/mission.png")" alt="" />
                <br /><br />
                <h3 class="white">Mission</h3>

                <p>
                    To deliver technical programs and services to cater the current needs of society and industry and to contribute in sustainable growth of society
                </p>
                <br /><br />


            </div>
            <!-- end section -->

        </div>
    </div>
    <!-- end featured section 14 -->