@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "CoE";
}

<div class="clearfix"></div>


<div class="page_title3">
    <div class="container">

        <h1>
            Center of Excellence <em>Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>
<!-- end page title -->





<div class="content_fullwidth">

    <div class="container">

        <div class="one_half">

            <div id="owl-demo2" class="owl-carousel">

                <div><img src="@Url.Content("~/images/college.jpg")" alt="" class="rimg"></div>

                <div><img src="@Url.Content("~/images/college_gate.jpg")" alt="" class="rimg"></div>

                <div><img src="@Url.Content("~/images/convocation.jpg")" alt="" class="rimg"></div>

            </div>

        </div>
        <!-- end section -->

        <div class="one_half last">

            <div class="stcode_title5">
                <h3 class="nmb"><strong>About COE</strong></h3>
            </div>

            <h5 class="gray">Will cover many web sites still in their infancy various versions have evo packages over the years.</h5>

            <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage
                of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator
                on the Internet anything embarrassing hidden in the middle many web sites. generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful embarrassing hidden in the middle of model sentence structures,
                to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always.
            </p>

            <div class="clearfix marb12"></div>

        </div>
        <!-- end section -->

    </div>
    <!-- end all sections -->
    <!-- end all sections -->
    <div class="featured_section14">
        <div class="container">

            <div class="one_half animate" data-anim-type="fadeInLeft" data-anim-delay="300">

                <img src="@Url.Content("~/images/icon-img13.png")" alt="" />
                <br /><br />
                <h3 class="white">Vision</h3>

                <p>To prepare Human Resource with value based competency for technical advancements and growth of society.</p>
                <br /><br />


            </div>
            <!-- end section -->

            <div class="one_half last animate" data-anim-type="fadeInRight" data-anim-delay="300">

                <img src="@Url.Content("~/images/icon-img12.png")" alt="" />
                <br /><br />
                <h3 class="white">Mission</h3>

                <p>
                    To deliver technical programs and services to cater the current needs of society and industry,
                    Helping industries in solving challenges by means of providing best technical human resources and
                    To contribute in sustainable growth of society
                </p>
                <br /><br />


            </div>
            <!-- end section -->

        </div>
    </div>
    <!-- end featured section 14 -->



    <div class="parallax_section10">
        <div class="container">
            <div class="featured_section13">

                <h1 class="title22 animate" data-anim-type="fadeIn" data-anim-delay="100" style="color: white;">
                    Faculties

                </h1>
            </div>
            <div class="one_fourth animate" data-anim-type="fadeInLeft" data-anim-delay="300">

                <img src="@Url.Content("~/images/peop-img37.jpg")" alt="" />
                <h5 class="roboto caps"><a href="faculty_tab.html"><strong>Mark Johnson</strong></a></h5>
                <p>Co-ordinator</p>


            </div>
            <!-- end section -->

            <div class="one_fourth animate" data-anim-type="fadeInLeft" data-anim-delay="100">

                <img src="@Url.Content("~/images/peop-img38.jpg")" alt="" />
                <h5 class="roboto caps"><a href="faculty_tab.html"><strong>Marie Jalin</strong></a></h5>
                <p>Convorner</p>


            </div>
            <!-- end section -->

            <div class="one_fourth animate" data-anim-type="fadeInRight" data-anim-delay="100">

                <img src="@Url.Content("~/images/peop-img39.jpg")" alt="" />
                <h5 class="roboto caps"><a href="faculty_tab.html"><strong>Gaige Leroy</strong></a></h5>
                <p>SupportingMember</p>


            </div>
            <!-- end section -->

            <div class="one_fourth last animate" data-anim-type="fadeInRight" data-anim-delay="300">

                <img src="@Url.Content("~/images/peop-img40.jpg")" alt="" />
                <h5 class="roboto caps"><a href="faculty_tab.html"><strong>Carla Larissa</strong></a></h5>
                <p>Supporting Member</p>


            </div>
            <!-- end section -->

        </div>
        <div class="margin_top2"></div>
    </div>
    <!-- end parallax section 10 -->

</div>
<!-- end section -->

