@model IList<GECP_Front_End_Static.Models.MOUModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Memorandum of Understanding";
    int count = 1;
}
<style>
    .fabig {
        font-size: 150px;
        margin: auto;
        display: block !important;
    }

    .minheight {
        min-height: 270px;
        padding: 20px 15px !important;
    }
</style>
<div class="page_title3 placement_title">
    <div class="container">

        <h1>
            <br> Memorandum of Understanding<em>Government Engineering College</em>
            <div class="line"></div>
            <br>
        </h1>

    </div>
</div>
<div class="clearfix margin_bottom6"></div>
<div class="content_fullwidth less">
    <div class="featured_section77 two">
        <div class="container">
            <div class="client_logos3 animate fadeIn" data-anim-type="fadeIn" data-anim-delay="300">

                <ul>

                    @*  <li class="minheight">
                    <a href="@Url.Content("~/MOU/Kachhua.pdf")" target="_blank">
                    <i class="fa fa-file-pdf-o fabig" aria-hidden="true"></i>
                    Kachchua Solutions Pvt. Ltd.
                    </a>
                    </li> *@
                    @foreach (var item in Model)
                    {
                        if(count%5==0){
                        <li class="minheight last">
                            <a href="@Url.Content(item.File)">
                                <i class="fa fa-file-pdf-o fabig" aria-hidden="true"></i>
                                @item.Title
                            </a>
                            </li>
                        }
                        else
                        {
                            <li class="minheight">
                                <a href="@Url.Content(item.File)">
                                    <i class="fa fa-file-pdf-o fabig" aria-hidden="true"></i>
                                    @item.Title
                                </a>
                            </li>
                        }
                        count++;
                    }
                </ul>

            </div>
        </div>
    </div>
</div>
