@model NEWSModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "NEWSDetail";
}
<style>
    .fabig {
        font-size: 150px;
        margin: auto;
        display: block !important;
    }

    .minheight {
        min-height: 270px;
        padding: 20px 15px !important;
    }
</style>
<div class="clearfix"></div>


<div class="page_title3 " style="background: #999 url('https://cdn.pixabay.com/photo/2017/07/10/23/43/question-mark-2492009_1280.jpg') no-repeat center top;background-size:cover">
    <div class="container">

        <h1>
            NEWS <em>Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>
<div class="clearfix"></div>
<div class="content_fullwidth less2">
    <div class="container">

        <div class="blog_post">
            <div class="blog_postcontent">
                <div class="image_frame">
                    <a href="#">
                        @if (Model.BannerImage != null)
                        {
                            <img src="@Url.Content(Model.BannerImage)" alt="">

                        }
                        else
                        {
                            <img src="@Url.Content("~/images/Home/slider1.png")" alt="">
                        }
                    </a>
                </div>
                <h3>@Model.Title</h3>
                <ul class="post_meta_links">
                    <li><a href="#" class="date">@Model.date</a></li>
                    @* <li class="post_categoty"><i>in:</i> <a href="#">Web tutorials</a></li>
                    <li class="post_comments"><i>note:</i> <a href="#">18 Comments</a></li> *@
                </ul>
                <div class="clearfix"></div>
                <div class="margin_top1"></div>
                @if (Model.Images.Count() > 0)
                {
                    <div id="owl-demo7" class="owl-carousel">
                        @foreach (var item in Model.Images)
                        {
                            <div class="item"><img class="lazyOwl" src="@Url.Content(item)" alt=""></div>
                        }
                    </div>
                    <div class="clearfix margin_top2"></div>
                }
                <text class="text-justify">@Html.Raw(Model.Description)</text>
                <div class="clearfix"></div>
                @if (Model.IsFile)
                {
                    int count = 1;
                    <div class="clearfix margin_top2"></div>
                    <div class="client_logos3 animate fadeIn" data-anim-type="fadeIn" data-anim-delay="300">
                        <ul>
                            @foreach (var item in Model.FileLink)
                            {
                                <li class="minheight @(count%5==0?"last":"")">
                                    <a href="javascript:void(0)" onclick="loadPdf('@item','@Model.Title')">
                                        <i class="fa fa-file-pdf-o fabig" aria-hidden="true"></i>
                                        @if (item.Split('/').Length - 1 >= 0)
                                        {
                                            @item.Split('/')[item.Split('/').Length - 1]
                                        }
                                        else
                                        {
                                            <text>document @count</text>
                                        }
                                    </a>
                                </li>
                                count++;
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>

        <!-- /# end post -->
        @* <div class="clearfix divider_line9"></div> *@
    </div>
</div>

<a id="lnkPopup" href="#animatedModal" class="popup-trigger hidden" data-target="#popup"></a>
<div id="popup" class="popup">
    <h2 id="newsname"></h2>
    <!-- <div class="popup-text"> -->
    <div id="pdfreader" style="height:600px">
    </div>
    <!-- </div> -->
    <span class="popup-btn-close">&times;</span>
</div>


<div class="clearfix"></div>

@section scripts {
    <script src="@Url.Content("~/js/pdfobject/pdfobject.min.js")"></script>
    <script>
        function loadPdf(path, name) {
            if (path !== '') {
                path = path.replace("~", "");
                if (PDFObject.supportsPDFs) {
                    PDFObject.embed(path, "#pdfreader");
                    $("#newsname").text(name);
                    $("#lnkPopup").click();
                } else {
                    window.location.href = path;
                }
            }
        }
    </script>


    <script>
        function popupOpenClose(popup) {

            /* Add div inside popup for layout if one doesn't exist */
            if ($(".wrapper", popup).length == 0) {
                $(popup).wrapInner("<div class='wrapper'></div>");
            }

            /* Open popup */
            $(popup).show();

            /* Close popup if user clicks on background */
            $(popup).click(function (e) {
                if (e.target == this) {
                    if ($(popup).is(':visible')) {
                        $(popup).hide();
                    }
                }
            });

            /* Close popup and remove errors if user clicks on cancel or close buttons */
            $(popup).find(".popup-btn-close").on("click", function () {
                if ($(".formElementError").is(':visible')) {
                    $(".formElementError").remove();
                }
                $(popup).hide();
            });
        }

        $(document).ready(function () {
            $(".popup-trigger").on("click", function () {
                var target = $(this).data('target');
                popupOpenClose($(target));
            });
        });
    </script>
}

@section styles {
    <link rel="stylesheet" href="@Url.Content("~/images/CampusCommittee/Placement/graph.css")" />
}