@model List<DocumentsVm>
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Tenders";
	int count = 1;
}
<style>
	.fabig {
	font-size: 150px;
	margin: auto;
	display: block !important;
	}

	.minheight {
	min-height: 270px;
	padding: 20px 15px !important;
	}

	.box {
	position: relative;
	border: 2px solid black;
	padding: 20px;
	width: 80%;
	margin-top: 20px;
	}

	.box-border-text {
	position: absolute;
	top: -12px; /* Adjust to align with the border */
	left: 50px;
	transform: translateX(-50%);
	background: white; /* Match the background to hide border */
	padding: 0 10px;
	font-weight: bold;
	}
</style>
<div class="clearfix"></div>


<div class="page_title3 general_title">
	<div class="container">

		<h1>
			Tenders
			<div class="line"></div>
		</h1>

	</div>
</div>
<div class="clearfix margin_bottom6"></div>
<div class="content_fullwidth less">
	<div class="featured_section77 two">
		<div class="full-container table-responsive">
			@if (Model.Count() > 0)
			{

				<table class="table table-responsive table-striped table-bordered">
					<thead>
						<tr>
							<td class="text-center">Sr No</td>
							<td>Title</td>
							<td>Document Title</td>
							<td class="text-center">Month/Year</td>
							<td>View</td>
						</tr>
					</thead>
					<tbody>
						@foreach (var tender in Model)
						{

							@foreach (var item in tender.YearSection)
							{
								int docCount = item.Documents.Where(m => m.isShow).Count();
								int docCountFlag = item.Documents.Where(m => m.isShow).Count();
								@foreach (var yearItem in item.Documents)
								{
									<tr>
										@if (docCount == docCountFlag)
										{
											<td rowspan="@docCount" class="text-center vcenter">@count</td>
											<td rowspan="@docCount" class="vcenter">@tender.Title</td>
											count++;
											docCount = 0;
										}
										<td>@yearItem.Title</td>
										<td class="text-center">@yearItem.MonthYear</td>
										<td>
											@if (yearItem.FileType.ToLower() == "pdf")
											{
												<a href="javascript:void(0)" onclick="loadPdf('@yearItem.File','@yearItem.Title')">
													<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
													@yearItem.Title
												</a>
											}
											else
											{
												<a href="@Url.Content(yearItem.File)" target="_blank">
													<i class="fa fa-file-@yearItem.FileType.ToLower()-o" aria-hidden="true"></i>
													@yearItem.Title
												</a>
											}
										</td>
									</tr>
									
								}
							}
						}
					</tbody>
				</table>

			}
			else
			{
				<tr><td><h2 class="text-center">NO DATA AVAILABLE</h2></td></tr>
			}
		</div>
	</div>
</div>
<div class="clearfix margin_bottom6"></div>

<a id="lnkPopup" href="#animatedModal" class="popup-trigger hidden" data-target="#popup"></a>
<div id="popup" class="popup">
	<h2 id="newsname"></h2>
	<!-- <div class="popup-text"> -->
	<div id="pdfreader" style="height:600px">
	</div>
	<!-- </div> -->
	<span class="popup-btn-close">&times;</span>
</div>


<div class="clearfix"></div>

@section scripts {
	<script src="@Url.Content("~/js/pdfobject/pdfobject.min.js")"></script>
	<script>
		function loadPdf(path, name) {
			if (path !== '') {
				path = path.replace("~", "");
				if (PDFObject.supportsPDFs) {
					PDFObject.embed(path, "#pdfreader");
					$("#newsname").text(name);
					$("#lnkPopup").click();
				} else {
					window.location.href = path;
				}
			}
		}
	</script>


	<script>
		function popupOpenClose(popup) {

			/* Add div inside popup for layout if one doesn't exist */
			if ($(".wrapper", popup).length == 0) {
				$(popup).wrapInner("<div class='wrapper'></div>");
			}

			/* Open popup */
			$(popup).show();

			/* Close popup if user clicks on background */
			$(popup).click(function (e) {
				if (e.target == this) {
					if ($(popup).is(':visible')) {
						$(popup).hide();
					}
				}
			});

			/* Close popup and remove errors if user clicks on cancel or close buttons */
			$(popup).find(".popup-btn-close").on("click", function () {
				if ($(".formElementError").is(':visible')) {
					$(".formElementError").remove();
				}
				$(popup).hide();
			});
		}

		$(document).ready(function () {
			$(".popup-trigger").on("click", function () {
				var target = $(this).data('target');
				popupOpenClose($(target));
			});
		});
	</script>
}

@section styles {
	<link rel="stylesheet" href="@Url.Content("~/images/CampusCommittee/Placement/graph.css")" />
}