@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Tenders";
}
<style>
    .fabig {
        font-size: 150px;
        margin: auto;
        display: block !important;
    }

    .minheight {
        min-height: 270px;
        padding: 20px 15px !important;
    }
</style>
<div class="page_title3 placement_title">
    <div class="container">

        <h1>
            <br> Tenders<em>Government Engineering College</em>
            <div class="line"></div>
            <br>
        </h1>

    </div>
</div>
<div class="clearfix margin_bottom6"></div>
<div class="content_fullwidth less">
    <div class="featured_section77 two">
        <div class="container">
            <div class="client_logos3 animate fadeIn" data-anim-type="fadeIn" data-anim-delay="300">

                <ul>
                    <li class="minheight">
                        <a href="@Url.Content("~/Tenders/Canteen_Tender_GEC_Patan_2024-25_15-7-24.pdf")">
                            <i class="fa fa-file-pdf-o fabig" aria-hidden="true"></i>
                            Hostel mess and cantine tender GECP 2024-25
                        </a>
                    </li>
                    @*
                    <li class="minheight">
                        <a href="@Url.Content("~/Tenders/Boys_and_Girls_hostel_mess_tender_2023-24_GEC_Patan.pdf")">
                            <i class="fa fa-file-pdf-o fabig" aria-hidden="true"></i>
                            Boys and Girls Hostel Mess Tender GEC Patan 2023_24
                        </a>
                    </li>
                    <li class="minheight">
                        <a href="@Url.Content("~/Tenders/Canteen_Tender_GEC_Patan_2023-24.pdf")">
                            <i class="fa fa-file-pdf-o fabig" aria-hidden="true"></i>
                            Canteen Tender GEC Patan 2023_24
                        </a>
                    </li>
                    <li class="minheight">
                        <a href="@Url.Content("~/Tenders/student_store-stationary_tender-gec_patan_2023-24.pdf")">
                            <i class="fa fa-file-pdf-o fabig" aria-hidden="true"></i>
                            Student Store Stationary Tender GEC Patan 2023_24
                        </a>
                    </li>
                    <li class="minheight">
                        <a href="@Url.Content("~/Tenders/Canteen_Tender_GEC_Patan_2023-24_Attempt_2_17-3-23.pdf")">
                            <i class="fa fa-file-pdf-o fabig" aria-hidden="true"></i>
                            Canteen Tender GEC Patan 2023_24 Attempt 2 Dt: 17-03-2023
                        </a>
                    </li>
                    <li class="last minheight">
                        <a href="@Url.Content("~/Tenders/student_store-stationary_tender_GECP_attempt_2_2023-24_17-03-2023.pdf")">
                            <i class="fa fa-file-pdf-o fabig" aria-hidden="true"></i>
                            Student Store Stationary Tender GEC Patan 2023_24 Attempt 2 Dt: 17-03-2023
                        </a>
                    </li>
                    <div class="clearfix"></div>
                    <li class="minheight">
                        <a href="@Url.Content("~/Tenders/Student store Stationary tender GEC Patan 3rd attempt 2023-24_27-04-2023.pdf")">
                            <i class="fa fa-file-pdf-o fabig" aria-hidden="true"></i>
                            Student Store Stationary Tender GEC Patan 2023-24 Attempt 3 Dt: 27-04-2023
                        </a>
                    </li>
                    <li class="minheight">
                        <a href="@Url.Content("~/Tenders/Canteen Tender GEC Patan 3rd attempt 2023-24_27-4-23.pdf")">
                            <i class="fa fa-file-pdf-o fabig" aria-hidden="true"></i>
                            Canteen Tender GEC Patan 2023_24 Attempt 3 Dt: 27-04-2023
                        </a>
                    </li>*@
                </ul>

            </div>
        </div>
    </div>
</div>
