@model CentralStoreVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.Title;
    int count = 1;
}

<div class="clearfix"></div>

<div class="page_title3" style="background: #999 url(@Model.TitleImage) no-repeat center top;background-size: cover;">
    <div class="full-container">

        <h1>
            @Model.Title @*   *@
            <div class="line"></div>
        </h1>

    </div>
</div>
<div class="clearfix"></div>

<div class="margin_top10"></div>

<div class="full-container">
    <div class="tab hidden-xs">
        <button class="tablinks" onclick="openTab(event, 'About')" id="defaultOpen">@Model.TabTitles.About</button>
        @if (!string.IsNullOrWhiteSpace(Model.BlogLink))
        {
            <a href="@Model.BlogLink" target="_blank"><button class="tablinks">@Model.TabTitles.Blogspot</button></a>
        }
        @if (Model.Members != null && Model.Members.Count() > 0 || Model.AdditionalMembers.Count() > 0)
        {
            <button class="tablinks" onclick="openTab(event, 'Members')">@Model.TabTitles.Members</button>
        }
        @if (!string.IsNullOrWhiteSpace(Model.Link))
        {
            <a href="@Model.Link" target="_blank"><button class="tablinks">@Model.TabTitles.Link</button></a>
        }
        @if (Model.ShowDocument)
        {
            <a href="@Url.Action("Index","Documents",new{@id=Model.ID})" target="_blank"><button class="tablinks">@Model.TabTitles.Documents</button></a>
        }
    </div>

    <div class="tab-xs visible-xs">
        <button class="tablinks" onclick="openTab(event, 'About')" id="defaultOpen">@Model.TabTitles.About</button>
        @if (Model.Members != null && Model.Members.Count() > 0 || Model.AdditionalMembers.Count() > 0)
        {
            <button class="tablinks" onclick="openTab(event, 'Members')">@Model.TabTitles.Members</button>
        }
        @if (!string.IsNullOrWhiteSpace(Model.BlogLink))
        {
            <a href="@Model.BlogLink" target="_blank"><button class="tablinks">@Model.TabTitles.Blogspot</button></a>
        }
        @if (!string.IsNullOrWhiteSpace(Model.Link))
        {
            <a href="@Model.Link" target="_blank"><button class="tablinks">@Model.TabTitles.Link</button></a>
        }
        @if (Model.ShowDocument)
        {
            <a href="@Url.Action("Index","Documents",new{@id=Model.ID})" target="_blank"><button class="tablinks">@Model.TabTitles.Documents</button></a>
        }
    </div>

    <div id="About" class="tabcontent">
        <div class="featured_section55 animate" data-anim-type="fadeIn" data-anim-delay="100">
            <div class="full-container">

                @if (!string.IsNullOrWhiteSpace(Model.Logo))
                {
                    <div class="center-block">

                        <img src="@Url.Content(Model.Logo)" alt="" class="center-block" />

                    </div>
                }
                <div class="clearfix margin_top1"></div>
                @if (Model.About_Images.Count() > 0)
                {
                    <div class="one_half">

                        <div id="owl-demo2" class="owl-carousel">
                            @foreach (var item in Model.About_Images)
                            {
                                <div><img src="@Url.Content(item)" alt="" class="rimg"></div>
                            }
                        </div>

                    </div>
                    <!-- end section -->

                    <div class="one_half last text-justify">

                        <div class="stcode_title5">
                            <h3 class="nmb"><strong>@Model.Title</strong></h3>
                        </div>

                        <p class="text-justify">
                            @Model.About
                        </p>

                        <div class="clearfix marb12"></div>

                    </div>
                    <!-- end section -->
                }
                else
                {
                    <div class="text-justify">

                        <h4 class="color3 margin_bottom2">About @Model.Title</h4>
                        <p class="bigtfont text-justify overflowCommittes">
                            @Html.Raw(Model.About)
                        </p>
                        <div class="clearfix margin_top3"></div>
                    </div>
                }
                @if (Model.Images.Count() > 0)
                {
                    <!-- Owl Carousel Main -->
                    <div class="owl-carousel owl-theme text-center" id="owl-demo">
                        @foreach (var img in Model.Images)
                        {
                            <div class="item">
                                <img src="@Url.Content(img)" alt="Event Image img-size" class="img-fluid rounded shadow-sm" />
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
    <div id="Members" class="tabcontent table-responsive">
        @if (!Model.TableView)
        {
            <div class="featured_section30">
                @if (Model.Members.Count() > 0)
                {
                    <div class="full-container table-responsive">
                        <h1 class="title22 animate" data-anim-type="fadeIn" data-anim-delay="100" style="color: black !important;">
                            @Model.Title Members
                        </h1>
                        @foreach (var item in Model.Members)
                        {

                            <div class="one_half animate @(count % 2 == 0 ? "last" : "")" data-anim-type="fadeIn" data-anim-delay="400">

                                <img src="@Url.Content(item.Image)" alt="">
                                <h5>@item.Name <em>@item.Position</em></h5>
                                <text>@item.Department</text>
                                <text>@item.Email</text>

                            </div>

                            <!-- end section -->
                            <div class="@(count % 2 == 0 ? "clearfix margin_top5" : "")"></div>
                            count++;
                        }
                    </div>
                }
                @if (Model.AdditionalMembers.Count() > 0)
                {
                    @foreach (var additionalMembers in Model.AdditionalMembers)
                    {
                        <div class="clearfix margin_top5"></div>
                        <div class="full-container">
                            <h1 class="title22 animate" data-anim-type="fadeIn" data-anim-delay="100" style="color: black !important;">
                                @additionalMembers.CommitteeTitle
                            </h1>
                            @foreach (var item in additionalMembers.Members)
                            {

                                <div class="one_half animate @(count % 2 == 0 ? "last" : "")" data-anim-type="fadeIn" data-anim-delay="400">

                                    <img src="@Url.Content(item.Image)" alt="">
                                    <h5>@item.Name <em>@item.Position</em></h5>
                                    <text>@item.Department</text>
                                    <text>@item.Email</text>

                                </div>

                                <!-- end section -->
                                <div class="@(count % 2 == 0 ? "clearfix margin_top5" : "")"></div>
                                count++;
                            }
                        </div>
                    }
                }
            </div>
        }
        else
        {
            <div class="featured_section30">
                @if (Model.Members.Count() > 0)
                {
                    <div class="full-container">
                        <h1 class="title22 animate" data-anim-type="fadeIn" data-anim-delay="100" style="color: black !important;">
                            @Model.Title Members
                        </h1>
                        <table class="table table-responsive table-bordered table-striped">
                            <thead>
                                <tr>
                                    <td>Sr. No</td>
                                    <td>Name</td>
                                    <td>Department</td>
                                    <td>Position</td>
                                    <td>Email</td>
                                </tr>
                            </thead>
                            @foreach (var item in Model.Members)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td>@item.Name</td>
                                    <td>
                                        @if (string.IsNullOrWhiteSpace(item.Department))
                                        {
                                            <div class="text-center">-</div>
                                        }
                                        else
                                        {
                                            @item.Department
                                        }
                                    </td>

                                    <td>@item.Position</td>
                                    <td>
                                        @if (string.IsNullOrWhiteSpace(item.Email))
                                        {
                                            <div class="text-center">-</div>
                                        }
                                        else
                                        {
                                            @item.Email
                                        }
                                    </td>
                                </tr>

                                count++;
                            }
                        </table>
                    </div>
                }
                @if (Model.AdditionalMembers.Count() > 0)
                {
                    @foreach (var additionalMembers in Model.AdditionalMembers)
                    {
                        <div class="clearfix margin_top5"></div>
                        <div class="full-container">
                            <h1 class="title22 animate" data-anim-type="fadeIn" data-anim-delay="100" style="color: black !important;">
                                @additionalMembers.CommitteeTitle
                            </h1>
                            <table class="table table-responsive table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <td>Sr. No</td>
                                        <td>Name</td>
                                        <td>Department</td>
                                        <td>Position</td>
                                        <td>Email</td>
                                    </tr>
                                </thead>
                                @{
                                    count = 1;
                                }
                                @foreach (var item in additionalMembers.Members)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>@item.Name</td>
                                        <td>
                                            @if (string.IsNullOrWhiteSpace(item.Department))
                                            {
                                                <div class="text-center">-</div>
                                            }
                                            else
                                            {
                                                @item.Department
                                            }
                                        </td>

                                        <td>@item.Position</td>
                                        <td>
                                            @if (string.IsNullOrWhiteSpace(item.Email))
                                            {
                                                <div class="text-center">-</div>
                                            }
                                            else
                                            {
                                                @item.Email
                                            }
                                        </td>

                                    </tr>

                                    count++;
                                }
                            </table>
                        </div>
                    }
                }
            </div>
        }
    </div>
</div>