@model Club
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = Model.Title;
	int count = 1;
}

<div class="clearfix"></div>


<div class="page_title3 ssip_title" style="background: #999 url('../../images/ssip_banner.jpg') no-repeat center top;background-size: cover;">
	<div class="container">

		<h1>
			@Model.Title  
			<div class="line"></div>
		</h1>

	</div>
</div>
<div class="clearfix"></div>

<div class="margin_top10"></div>

<div class="full-container">
	<div class="tab hidden-xs">
		<button class="tablinks" onclick="openTab(event, 'About')" id="defaultOpen">About</button>

		@if (Model.SubObjectives != null && Model.SubObjectives.Count() > 0)
		{
			<button class="tablinks" onclick="openTab(event, 'SubObjectives')">Sub Objectives</button>
		}

		@if (Model.Members != null)
		{
			<button class="tablinks" onclick="openTab(event, 'Members')">Members</button>
		}
		@if (Model.Activities != null)
		{
			<button class="tablinks" onclick="openTab(event, 'Activities')">Activities</button>
		}
		@if (!string.IsNullOrWhiteSpace(Model.BlogLink))
		{
			<a href="@Model.BlogLink" target="_blank"><button class="tablinks">Blogspot</button></a>
		}


	</div>
	<div class="tab-xs visible-xs">
		<button class="tablinks" onclick="openTab(event, 'About')" id="defaultOpen">About</button>

		@if (Model.SubObjectives != null && Model.SubObjectives.Count() > 0)
		{
			<button class="tablinks" onclick="openTab(event, 'SubObjectives')">Sub Objectives</button>
		}

		@if (Model.Members != null)
		{
			<button class="tablinks" onclick="openTab(event, 'Members')">Members</button>
		}
		@if (Model.Activities != null)
		{
			<button class="tablinks" onclick="openTab(event, 'Activities')">Activities</button>
		}
		@if (!string.IsNullOrWhiteSpace(Model.BlogLink))
		{
			<a href="@Model.BlogLink" target="_blank"><button class="tablinks">Blogspot</button></a>
		}


	</div>
	@* <div id="style-selector" style="left: 0px;" class="visible-xs">

		<div class="style-selector-wrapper">
			<span class="title">Menu</span>
			<div>
				<br><br>

				<ul class="styles" style="border-bottom: none;">

					<li class="button1 margin_top1"><button onclick="openTab(event, 'About')" class="demolinks button1" id="defaultOpen"> About</button></li>
					@if (Model.SubObjectives != null && Model.SubObjectives.Count() > 0)
					{
						<li class="button1 margin_top1"><button class="demolinks button1" onclick="openTab(event, 'SubObjectives')">Sub Objectives</button></li>
					}
					@if (Model.Members != null)
					{
						<li class="button1 margin_top1"><button class="demolinks button1" onclick="openTab(event, 'Members')">Members</button></li>
					}
					@if (Model.Activities != null)
					{
						<li class="button1 margin_top1"><button class="demolinks button1" onclick="openTab(event, 'Activities')">Activities</button></li>
					}
					@if (!string.IsNullOrWhiteSpace(Model.BlogLink))
					{
						<a href="@Model.BlogLink" target="_blank"><button class="demolinks button1 margin_top1">Blogspot</button></a>
					}
					

				</ul>




				<a href="#" class="close icon-chevron-right"></a>

			</div>
		</div>
	</div> *@
	<div id="About" class="tabcontent">
		<div class="featured_section55 animate" data-anim-type="fadeIn" data-anim-delay="100">
			<div class="full-container">


				<div class="container center-block">

					@* <img src="@Url.Content(Model.Measure_Image)" alt="" class="rimg" style="height:250px" /> *@
					<img src="@Url.Content(Model.Icon)" alt="" class="center-block" />

				</div>
				<div class="clearfix margin_top1"></div>
				<div class="text-justify">

					<h4 class="color3 margin_bottom2">About @Model.Title</h4>
					<p class="bigtfont text-justify overflowCommittes">
						@Html.Raw(Model.About)
					</p>
					<div class="clearfix margin_top3"></div>

				</div>
				<!-- end section -->


			</div>
		</div>
	</div>
	<div id="SubObjectives" class="tabcontent">
		<div class="featured_section106">
			<div class="full-container">

				<div class="margin_top2"></div>
				<h2 class="roboto thin">Sub-Objectives </h2>
				<div class="hsmline7"></div>

				<br><br>
				@foreach (var obj in Model.SubObjectives)
				{
					<h4 class="roboto thin text-justify"><i class="fa fa-check"></i> @Html.Raw(obj)</h4>
				}

				<div class="margin_top2"></div>

			</div>
		</div>
	</div>
	<div id="Members" class="tabcontent">
		<div class="featured_section30">
			<div class="full-container">
				<h1 class="title22 animate" data-anim-type="fadeIn" data-anim-delay="100" style="color: black !important;">
					Committee Members
				</h1>
				@foreach (var item in Model.Members)
				{

					<div class="one_half animate @(count%2==0?"last":"")" data-anim-type="fadeIn" data-anim-delay="400">

						<img src="@Url.Content(item.Image)" alt="">
						<h5>@item.Name <em>@item.Position</em></h5>
						<text>@item.Department</text>
						<text>@item.Email</text>

					</div>

					<!-- end section -->
					<div class="@(count%2==0?"clearfix margin_top5":"")"></div>
					count++;
				}
			</div>
		</div>
	</div>

	<div id="Activities" class="tabcontent">
		@if (Model.Activities != null && Model.Activities.Count() > 0)
		{
			foreach (var item in Model.Activities)
			{
				<div class="box">
					<h2 class="boxtitle">@item.Title</h2>
					<div class="boxinfo">
						<ul class="post_meta_links">
							<li class="post_categoty">@item.EventDate</li>
							<li class="post_categoty">@item.EventTime</li>
						</ul>
						<div class="clearfix margin_top1"></div>
						@item.Description
					</div>
					<div class="clearfix margin_top1"></div>
					<ul class="Activitesfile">
						@foreach (var file in item.Files)
						{

							<li>
								@if (file.FileType.ToUpper() == "PDF")
								{
									<a href="javascript:void(0)" onclick="loadPdf('@file.FilePath','@file.Title')">
										<i class="fa fa-file-pdf-o " aria-hidden="true"></i>
										@file.Title
									</a>
								}
								else
								{
									<a href="@Url.Content(file.FilePath)" target="_blank" download>
										<i class="fa @(file.FileType.ToUpper()=="WORD"?"fa-file-word-o":"fa-file-excel-o")" aria-hidden="true"></i>
										@file.Title
									</a>
								}
							</li>
						}

					</ul>
				</div>
				<div class="clearfix margin_bottom1"></div>
			}
		}
		else
		{
			<h2>No Activities Available</h2>
		}
	</div>
</div>



<a id="lnkPopup" href="#animatedModal" class="popup-trigger hidden" data-target="#popup"></a>
<div id="popup" class="popup">
	<div id="pdfreader" style="height:600px">
	</div>
	<span class="popup-btn-close">&times;</span>
</div>

@section scripts {
	<script src="@Url.Content("~/js/pdfobject/pdfobject.min.js")"></script>
	<script>
		function loadFacultyinfo(url) {
			if (url !== '') {
				$("#pdfreader").load(url);
				$("#lnkPopup").click();
			}
		}

		function loadPdf(path, name) {
			if (path !== '') {
				path = path.replace("~", "");
				if (PDFObject.supportsPDFs) {
					PDFObject.embed(path, "#pdfreader");
					$("#newsname").text(name);
					$("#lnkPopup").click();
				} else {
					window.location.href = path;
				}
			}
		}
		function popupOpenClose(popup) {

			/* Add div inside popup for layout if one doesn't exist */
			if ($(".wrapper", popup).length == 0) {
				$(popup).wrapInner("<div class='wrapper'></div>");
			}
			/* Open popup */
			$(popup).show();
			/* Close popup if user clicks on background */
			$(popup).click(function (e) {
				if (e.target == this) {
					if ($(popup).is(':visible')) {
						$(popup).hide();
						resetPopUpScroll();
					}
				}
			});
			/* Close popup and remove errors if user clicks on cancel or close buttons */
			$(popup).find(".popup-btn-close").on("click", function () {
				if ($(".formElementError").is(':visible')) {
					$(".formElementError").remove();
				}
				$(popup).hide();
				resetPopUpScroll();
			});
		}

		$(document).ready(function () {
			$(".popup-trigger").on("click", function () {
				var target = $(this).data('target');
				popupOpenClose($(target));
				resetPopUpScroll();
			});
		});

		function resetPopUpScroll() {
			$("#pdfreader").scrollTop(0);
		}
	</script>
}


@section styles {
	<style>
		.Activitesfile > li {
			display: block;
			margin: auto;
			float: left;
			margin-right: 15px;
		}
	</style>
	<link rel="stylesheet" href="@Url.Content("~/images/CampusCommittee/Placement/graph.css")" />
}