@model GECP_Front_End_Static.Models.FacultyDetailsVM
@{

    // Layout = Context.Request.Query["isPartial"] == "true" ? "~/Views/Shared/_MinimalLayout.cshtml" : "~/Views/Shared/_Layout.cshtml";
    int head = 0;
    int value = 0;
}

<div class="">
    <div class="">

        <div class="one_third">

            <img src="@Url.Content("~/"+Model.image)" alt="image" />

        </div>

        <!-- end section -->

        <div class="two_third last">
           
                <h1>@Model.Name</h1>
                <hr />
                <ul>
                    <li>
                    <strong>Designation :</strong>
                    <span>@Model.Designation</span>
                    </li>

                <li>
                    <strong>Qualification :</strong>
                    <span>@Model.Qualification</span>
                </li>

                <li>
                    <strong>Experience :</strong>
                    <span>@Model.YearsOfExperience years</span>
                </li>

                <li>
                    <strong>Area of Interest :</strong>
                    <span>@Model.Area_of_Interest</span>
                </li>

                </ul>
          

           @*  <div class="b-portfolio_info">
                <h5 class="roboto">
                    <strong>
                        <div class="b-portfolio_info_title f-primary-b f-portfolio_info_title">
                            <a href="javascript:void(0)">@Model.Name</a>
                        </div>
                        <hr>
                        <div class="b-portfolio_info_description f-portfolio_info_description">
                            <div class="b-information-box f-information-box f-primary-b">
                                <ul>
                                    <li>
                                        <strong class="f-information-box__name b-information-box__name">Designation</strong>
                                        <i class="b-dotted f-dotted">:</i>
                                        <span class="f-information_data">@Model.Designation</span>
                                    </li>
                                    <li>
                                        <strong class="f-information-box__name b-information-box__name">Qualification</strong>
                                        <i class="b-dotted f-dotted">:</i>
                                        <span class="f-information_data">@Model.Qualification</span>
                                    </li>
                                    <li>
                                        <strong class="f-information-box__name b-information-box__name">Experience</strong>
                                        <i class="b-dotted f-dotted">:</i>
                                        <span class="f-information_data">@Model.YearsOfExperience Years</span>
                                    </li>
                                    <li>
                                        <strong class="f-information-box__name b-information-box__name">Area Of Interest</strong>
                                        <i class="b-dotted f-dotted">:</i>
                                        <span class="f-information_data">@Model.Area_of_Interest</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </strong>
                </h5>
            </div> *@


            <br /><br />
        </div>

      @*   <ul class="tabs3">
            @foreach (var item in Model.tabs.Head)
            {
                <li><a href="#faculty-@head" target="_self">@item</a></li>
                head++;
            }
        </ul> *@

        <div class="tabs-content3 two">
            @foreach (var item in Model.tabs.Values)
            {
                <div id="faculty-@value" class="tabs-panel3">

                    @Html.Raw(item)

                </div>
                value++;
            }
            <!-- end tab 1 -->

        </div>
        <!-- end all tabs -->
    </div>

</div>

<div class="clearfix"></div>

@* @section scripts {
    <script> src="@Url.Content("~/js/tabs/assets/js/responsive-tabs.min.js")" type="text/javascript"></script>
}
@section styles {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/js/tabs/assets/css/responsive-tabs3.css")">
    <style>
        .faculties_img_div img {
            margin-right: 0px;
            width: 100%;
            margin-bottom: 20px;
            border-radius: 15px;
        }
    </style>
} *@