@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Mechanical";
}

<div class="clearfix"></div>


<div class="page_title3">
    <div class="container">

        <h1>
            Meet Our Team<em>Electronics and Communications, Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>

<div class="margin_top2"></div>
<div class="featured_section30">
    <div class="container">



        <div class="one_half animate" data-anim-type="fadeIn" data-anim-delay="200">

            <img src="@Url.Content("~/images/peop-img21.jpg")" alt="" />
            <h5>Haresh Jethwa <em>Head of Department</em></h5>
            <p>Qualification:PhD.<br> Experience : 18 Years<br> Area Of Interest : Machine Learning </p>
            <br />
            <a href="faculty_tab.html" class="but_calendar four">Read More</a>

        </div>
        <!-- end section -->

        <div class="one_half last animate" data-anim-type="fadeIn" data-anim-delay="300">

            <img src="@Url.Content("~/images/peop-img22.jpg")" alt="" />
            <h5>Dr. SANJAYKUMAR PATEL <em>Assistant Professor</em></h5>
            <p>Qualification:PhD.<br> Experience : 18 Years<br> Area Of Interest : Machine Learning </p>
            <br />
            <a href="faculty_tab.html" class="but_calendar four">Read More</a>

        </div>
        <!-- end section -->

        <div class="clearfix margin_top5"></div>

        <div class="one_half animate" data-anim-type="fadeIn" data-anim-delay="400">

            <img src="@Url.Content("~/images/peop-img23.jpg")" alt="" />
            <h5>Shradhha Modi <em>Assistant Professor</em></h5>
            <p>Qualification:PhD.<br> Experience : 18 Years<br> Area Of Interest : Machine Learning </p>
            <br />
            <a href="faculty_tab.html" class="but_calendar four">Read More</a>
        </div>
        <!-- end section -->

        <div class="one_half last animate" data-anim-type="fadeIn" data-anim-delay="500">

            <img src="@Url.Content("~/images/peop-img24.jpg")" alt="" />
            <h5>Mr. SUNILKUMAR PATEL<em>Assistant Professor</em></h5>
            <p>Qualification:PhD.<br> Experience : 18 Years<br> Area Of Interest : Machine Learning </p>
            <br />
            <a href="faculty_tab.html" class="but_calendar four">Read More</a>
        </div>
        <!-- end section -->
        <div class="clearfix margin_top5"></div>
        <div class="one_half animate" data-anim-type="fadeIn" data-anim-delay="200">

            <img src="@Url.Content("~/images/peop-img21.jpg")" alt="" />
            <h5>Haresh Jethwa <em>Head of Department</em></h5>
            <p>Qualification:PhD.<br> Experience : 18 Years<br> Area Of Interest : Machine Learning </p>
            <br />
            <a href="faculty_tab.html" class="but_calendar four">Read More</a>

        </div>
        <!-- end section -->

        <div class="one_half last animate" data-anim-type="fadeIn" data-anim-delay="300">

            <img src="@Url.Content("~/images/peop-img22.jpg")" alt="" />
            <h5>Dr. SANJAYKUMAR PATEL <em>Assistant Professor</em></h5>
            <p>Qualification:PhD.<br> Experience : 18 Years<br> Area Of Interest : Machine Learning </p>
            <br />
            <a href="faculty_tab.html" class="but_calendar four">Read More</a>

        </div>
        <!-- end section -->

        <div class="clearfix margin_top5"></div>

        <div class="one_half animate" data-anim-type="fadeIn" data-anim-delay="400">

            <img src="@Url.Content("~/images/peop-img23.jpg")" alt="" />
            <h5>Shradhha Modi <em>Assistant Professor</em></h5>
            <p>Qualification:PhD.<br> Experience : 18 Years<br> Area Of Interest : Machine Learning </p>
            <br />
            <a href="faculty_tab.html" class="but_calendar four">Read More</a>
        </div>
        <!-- end section -->

        <div class="one_half last animate" data-anim-type="fadeIn" data-anim-delay="500">

            <img src="@Url.Content("~/images/peop-img24.jpg")" alt="" />
            <h5>Mr. SUNILKUMAR PATEL<em>Assistant Professor</em></h5>
            <p>Qualification:PhD.<br> Experience : 18 Years<br> Area Of Interest : Machine Learning </p>
            <br />
            <a href="faculty_tab.html" class="but_calendar four">Read More</a>
        </div>
        <!-- end section -->
        <div class="clearfix margin_top5"></div>
        <div class="one_half animate" data-anim-type="fadeIn" data-anim-delay="200">

            <img src="@Url.Content("~/images/peop-img21.jpg")" alt="" />
            <h5>Haresh Jethwa <em>Head of Department</em></h5>
            <p>Qualification:PhD.<br> Experience : 18 Years<br> Area Of Interest : Machine Learning </p>
            <br />
            <a href="faculty_tab.html" class="but_calendar four">Read More</a>

        </div>
        <!-- end section -->

        <div class="one_half last animate" data-anim-type="fadeIn" data-anim-delay="300">

            <img src="@Url.Content("~/images/peop-img22.jpg")" alt="" />
            <h5>Dr. SANJAYKUMAR PATEL <em>Assistant Professor</em></h5>
            <p>Qualification:PhD.<br> Experience : 18 Years<br> Area Of Interest : Machine Learning </p>
            <br />
            <a href="faculty_tab.html" class="but_calendar four">Read More</a>

        </div>
        <!-- end section -->

        <div class="clearfix margin_top5"></div>

        <div class="one_half animate" data-anim-type="fadeIn" data-anim-delay="400">

            <img src="@Url.Content("~/images/peop-img23.jpg")" alt="" />
            <h5>Shradhha Modi <em>Assistant Professor</em></h5>
            <p>Qualification:PhD.<br> Experience : 18 Years<br> Area Of Interest : Machine Learning </p>
            <br />
            <a href="faculty_tab.html" class="but_calendar four">Read More</a>
        </div>
        <!-- end section -->

        <div class="one_half last animate" data-anim-type="fadeIn" data-anim-delay="500">

            <img src="@Url.Content("~/images/peop-img24.jpg")" alt="" />
            <h5>Mr. SUNILKUMAR PATEL<em>Assistant Professor</em></h5>
            <p>Qualification:PhD.<br> Experience : 18 Years<br> Area Of Interest : Machine Learning </p>
            <br />
            <a href="faculty_tab.html" class="but_calendar four">Read More</a>
        </div>
        <!-- end section -->



    </div>
</div>
<!-- end featured section 30 -->


<div class="clearfix margin_top2"></div>