@{
    ViewData["Title"] = "Home Page";
}

@Html.Partial("_slider")

<div class="clearfix margin_top5"></div>
<div class="featured_section13">
    <div class="container">

        <h1 class=" animate" data-anim-type="fadeIn" data-anim-delay="100">
            Welcome to Government Engineering College,Patan
            <div class="divider_line11belownews"></div>
        </h1>

        <div class="one_fourth">

            <img src="images/custom/courses.png" alt="" class="cirimg animate" data-anim-type="zoomIn" data-anim-delay="100" />

            <h4 class="color2">Seven different courses provided</h4>

            <br /><br />
            <a href="#" class="but_calendar">Read More</a>

        </div>
        <!-- end section -->

        <div class="one_fourth">

            <img src="images/icon-img2.png" alt="" class="cirimg animate" data-anim-type="zoomIn" data-anim-delay="200" />

            <h4 class="color2">Highly Educated Faculties</h4>

            <br /><br />
            <a href="#" class="but_calendar">Read More</a>

        </div>
        <!-- end section -->

        <div class="one_fourth">

            <img src="images/icon-img3.png" alt="" class="cirimg animate" data-anim-type="zoomIn" data-anim-delay="300" />

            <h4 class="color2">Library with books across nation</h4>

            <br /><br />
            <a href="#" class="but_calendar">Read More</a>

        </div>
        <!-- end section -->

        <div class="one_fourth last">

            <img src="images/icon-img4.png" alt="" class="cirimg animate" data-anim-type="zoomIn" data-anim-delay="400" />

            <h4 class="color2">Differnt Committees to help you grow</h4>

            <br /><br />
            <a href="#" class="but_calendar">Read More</a>

        </div>
        <!-- end section -->

    </div>
</div>
<!-- end featured section 13 -->
<div class="clearfix margin_top8"></div>
<div class="featured_section14">
    <div class="container">

        <div class="one_half animate" data-anim-type="fadeInLeft" data-anim-delay="300">

            <img src="images/icon-img13.png" alt="" />
            <br /><br />
            <h3 class="white">Vision</h3>

            <p>To prepare Human Resource with value based competency for technical advancements and growth of society.</p>
            <br /><br />


        </div>
        <!-- end section -->

        <div class="one_half last animate" data-anim-type="fadeInRight" data-anim-delay="300">

            <img src="images/icon-img12.png" alt="" />
            <br /><br />
            <h3 class="white">Mission</h3>

            <p>
                To deliver technical programs and services to cater the current needs of society and industry,
                Helping industries in solving challenges by means of providing best technical human resources and
                To contribute in sustainable growth of society
            </p>
            <br /><br />


        </div>
        <!-- end section -->

    </div>
</div>
<!-- end featured section 14 -->
<div class="divider_line11dept"></div>
<div class="featured_section16">
    <div class="container">

        <h2>Departments</h2>

        <div class="box">
            <a href="general.html">
                <div class="hexagon one animate" data-anim-type="spinLeft" data-anim-delay="300">
                    <i class="fa fa-building"></i>
                    <h6>Administrative Block</h6>
                </div>
            </a>
            <a href="ec.html">
                <div class="hexagon six animate" data-anim-type="spinLeft" data-anim-delay="300">
                    <i class="fas fa-microchip"></i>
                    <h6>EC</h6>
                </div>
            </a>
            <a href="cse.html">
                <div class="hexagon seven animate" data-anim-type="spinLeft" data-anim-delay="300">
                    <i class="fa fa-desktop"></i>
                    <h6>Computer</h6>
                </div>
            </a>
            <div class="clearfix haxmargin"></div>
            <a href="electrical.html">
                <div class="hexagon two animate" data-anim-type="spinRight" data-anim-delay="300">
                    <i class="fa fa-bolt"></i>
                    <h6>Electrical</h6>
                </div>
            </a>
            <a href="civil.html">
                <div class="hexagon three animate" data-anim-type="spinRight" data-anim-delay="300">
                    <i class="fas fa-hard-hat"></i>
                    <h6>Civil</h6>
                </div>
            </a>
            <a href="mechanical.html">
                <div class="hexagon four animate" data-anim-type="spinRight" data-anim-delay="300">
                    <i class="fa fa-wrench"></i>
                    <h6>Mechanical</h6>
                </div>
            </a>
            <a href="coe.html">
                <div class="hexagon five animate" data-anim-type="spinRight" data-anim-delay="300">
                    <i class="fa fa-cogs"></i>
                    <h6>Siemens</h6>
                </div>
            </a>

        </div>

    </div>
</div>

<div class="clearfix margin_bottom12"></div>
<!--<div class="divider_line11dept"></div>


<div class="featured_section16">
    <div class="container">

        <h2>Quick Campus Ride</h2>
    </div>
</div>

<div class="featured_section122">
    <div class="container">

        <div class="master-slider ms-skin-default" id="masterslider2">

            <div class="ms-slide slide-1" data-delay="18">

                <img data-src="images/college_gate.jpg" alt="" />
                <a href="http://player.vimeo.com/video/46660836" data-type="video"></a>

            </div>

        </div>

    </div>
</div>-->
<!--
<div class="divider_line11dept"></div>
<div class="featured_section64">
    <div class="container">

        <div class="tabs detached hide-title cross-fade animate" data-anim-type="fadeIn" data-anim-delay="100">



            <section>

                <h1><i class="fa fa-newspaper-o"></i> LATEST NEWS</h1>
                <marquee direction="up" scrollamount="3" onmouseover="this.stop();" onmouseout="this.start();" style="white-space:nowrap;">

                    <h3><i class="fas fa-long-arrow-alt-right"></i> &nbsp;Easy to Customize and Fully Featured Design</h3>

                    <h5 class="gray">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use
                        a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                    </h5>

                    <br />
                    <h3><i class="fas fa-long-arrow-alt-right"></i> &nbsp;Easy to Customize and Fully Featured Design</h3>

                    <h5 class="gray">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use
                        a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                    </h5>

                    <br />
                    <h3><i class="fas fa-long-arrow-alt-right"></i> &nbsp;Easy to Customize and Fully Featured Design</h3>

                    <h5 class="gray">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use
                        a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                    </h5>

                    <br />

                    <h3><i class="fas fa-long-arrow-alt-right"></i> &nbsp;Looks Great on Tablets and Mobile Devices</h3>

                    <h5 class="gray">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use
                        a passage of Lorem Ipsum.
                    </h5>
                </marquee>
            </section>

<section>

    <h1><i class="fa fa-calendar"></i> FEATURED EVENTS</h1>


    <div class="featured_section36 animate" data-anim-type="fadeIn" data-anim-delay="300">
        <div class="container">

            <div id="owl-demo13" class="owl-carousel">

                <div class="slidesec">

                    <div class="one_half">

                        <img src="images/site-img34.jpg" alt="" />

                        <div class="date"><a href="#">09 March, 2015</a></div>

                        <h5 class="caps">Make a type specimen book</h5>
                        <p>Lorem Ipsum passages a more recently pagemaker include versions.</p>
                        <br />
                        <a href="#" class="but_calendar">Read More</a>

                    </div>

                    <div class="one_half last">

                        <img src="images/site-img35.jpg" alt="" />

                        <div class="date"><a href="#">08 March, 2015</a></div>

                        <h5 class="caps">Generator on the Interne</h5>
                        <p>Lorem Ipsum passages a more recently pagemaker include versions.</p>
                        <br />
                        <a href="#" class="but_calendar">Read More</a>

                    </div>

                </div>

                <div class="slidesec">

                    <div class="one_half">

                        <img src="images/site-img36.jpg" alt="" />

                        <div class="date"><a href="#">07 March, 2015</a></div>

                        <h5 class="caps">Make a type specimen book</h5>
                        <p>Lorem Ipsum passages a more recently pagemaker include versions.</p>
                        <br />
                        <a href="#" class="but_calendar">Read More</a>

                    </div>

                    <div class="one_half last">

                        <img src="images/site-img37.jpg" alt="" />

                        <div class="date"><a href="#">06 March, 2015</a></div>

                        <h5 class="caps">Generator on the Interne</h5>
                        <p>Lorem Ipsum passages a more recently pagemaker include versions.</p>
                        <br />
                        <a href="#" class="but_calendar">Read More</a>

                    </div>

                </div>

                <div class="slidesec">

                    <div class="one_half">

                        <img src="images/site-img38.jpg" alt="" />

                        <div class="date"><a href="#">05 March, 2015</a></div>

                        <h5 class="caps">Make a type specimen book</h5>
                        <p>Lorem Ipsum passages a more recently pagemaker include versions.</p>
                        <br />
                        <a href="#" class="but_calendar">Read More</a>

                    </div>

                    <div class="one_half last">

                        <img src="images/site-img35.jpg" alt="" />

                        <div class="date"><a href="#">04 March, 2015</a></div>

                        <h5 class="caps">Generator on the Interne</h5>
                        <p>Lorem Ipsum passages a more recently pagemaker include versions.</p>
                        <br />
                        <a href="#" class="but_calendar">Read More</a>

                    </div>

                </div>


            </div>

        </div>
    </div>


</section>

        </div>

    </div>
</div>-->


<div class="clearfix"></div>
<div class="featured_section10">
    <div class="clearfix margin_bottom6"></div>
    <div class="container">

        <h2 class="title21">Best Packages <em>offered to students by variour companies</em></h2>

        <div class="one_fourth animate" data-anim-type="fadeIn" data-anim-delay="300">
            <div class="pricingtable9">

                <h3>VALENS</h3>
                <strong>$4</strong>
                <b>/month</b>

                <br /><br />
                @*<a href="#" class="but_calendar">BUY NOW!</a>

                    <span>

                        <i class="fa fa-check"></i> Curabitur fringilla tincidun<br />
                        <i class="fa fa-check"></i> Sed lect pharetra oncus<br />
                        <i class="fa fa-check"></i> Integer erat facilisis porta<br />
                        <i class="fa fa-check"></i> Maecenas vestibum

                    </span>*@

            </div>
        </div>
        <!-- end section -->

        <div class="one_fourth animate" data-anim-type="fadeIn" data-anim-delay="400">
            <div class="pricingtable9">

                <h3>E-INFOCHIPS</h3>
                <strong>$8</strong>
                <b>/month</b>

                <br /><br />
                @*<a href="#" class="but_calendar">BUY NOW!</a>

                    <span>

                        <i class="fa fa-check"></i> Curabitur fringilla tincidun<br />
                        <i class="fa fa-check"></i> Sed lect pharetra oncus<br />
                        <i class="fa fa-check"></i> Integer erat facilisis porta<br />
                        <i class="fa fa-check"></i> Maecenas vestibum

                    </span>*@

            </div>
        </div>
        <!-- end section -->

        <div class="one_fourth animate" data-anim-type="fadeIn" data-anim-delay="500">
            <div class="pricingtable9">

                <h3>KNOVOS</h3>
                <strong>$27</strong>
                <b>/month</b>

                <br /><br />
                @*<a href="#" class="but_calendar">BUY NOW!</a>

                    <span>

                        <i class="fa fa-check"></i> Curabitur fringilla tincidun<br />
                        <i class="fa fa-check"></i> Sed lect pharetra oncus<br />
                        <i class="fa fa-check"></i> Integer erat facilisis porta<br />
                        <i class="fa fa-check"></i> Maecenas vestibum

                    </span>*@

            </div>
        </div>
        <!-- end section -->

        <div class="one_fourth last animate" data-anim-type="fadeIn" data-anim-delay="600">
            <div class="pricingtable9">

                <h3>MATRIX</h3>
                <strong>$45</strong>
                <b>/month</b>

                <br /><br />
                @*<a href="#" class="but_calendar">BUY NOW!</a>

                    <span>

                        <i class="fa fa-check"></i> Curabitur fringilla tincidun<br />
                        <i class="fa fa-check"></i> Sed lect pharetra oncus<br />
                        <i class="fa fa-check"></i> Integer erat facilisis porta<br />
                        <i class="fa fa-check"></i> Maecenas vestibum

                    </span>*@

            </div>
        </div>
        <!-- end section -->

    </div>
    <div class="clearfix margin_bottom12"></div>
</div>
<!-- end featured section 10 -->
<div class="clearfix"></div>
<div class="parallax_section1">
    <div class="clearfix margin_bottom6"></div>
    <div class="container">

        <div class="flexslider carousel">
            <ul class="slides">

                <li>

                    <img src="@Url.Content("~/images/Home/icon-user-90.png")" alt="" />
                    <h5>Tarushi Jauhari <em>Alumni - CSE</em></h5>

                    <p>
                        It was a wonderful experience at GEC, Patan. I have gained a lot from there. I am missing my days over there.
                    </p>

                </li>
                <!-- end slide -->

                <li>

                    <img src="@Url.Content("~/images/Home/icon-user-90.png")" alt="" />
                    <h5>Dhaval Darji <em>Alumni - CSE</em></h5>

                    <p>
                        It was a wonderful experience at GEC, Patan. I have gained a lot from there. I am missing my days over there.
                    </p>

                </li>
                <!-- end slide -->

                <li>

                    <img src="@Url.Content("~/images/Home/icon-user-90.png")" alt="" />
                    <h5>Jagruti Meniya <em>Alumni - CSE</em></h5>

                    <p>
                        It was a wonderful experience at GEC, Patan. I have gained a lot from there. I am missing my days over there.
                    </p>

                </li>
                <!-- end slide -->



            </ul>
        </div>

    </div>
    <div class="clearfix margin_bottom6"></div>
</div>
<!-- end parallax section 1 -->




<div class="client_logos animate" data-anim-type="fadeIn" data-anim-delay="100">
    <div class="container">

        <img src="images/client-logo1.png" alt="" />
        <img src="images/client-logo2.png" alt="" />
        <img src="images/client-logo3.png" alt="" />
        <img src="images/client-logo4.png" alt="" />
        <img src="images/client-logo5.png" alt="" />
        <img src="images/client-logo6.png" alt="" />

    </div>
</div>
<!-- end client logos -->

@section tabs{

    <script src="@Url.Content("~/js/tabs2/index.js")"></script>
    <script>
        $('.accordion, .tabs').TabsAccordion({
            hashWatch: true,
            pauseMedia: true,
            responsiveSwitch: 'tablist',
            saveState: sessionStorage,
        });
    </script>
    <script defer src="@Url.Content("~/js/flexslider/jquery.flexslider.js")"></script>
    <script defer src="@Url.Content("~/js/flexslider/custom.js")"></script>
}

@section master_slider{
    <script src="@Url.Content("~/js/masterslider/masterslider.min.js")"></script>
    <script type="text/javascript">
        (function ($) {
            "use strict";
            var slider = new MasterSlider();
            // adds Arrows navigation control to the slider.
            slider.control('arrows');
            slider.control('bullets');

            slider.setup('masterslider', {
                width: 1400, // slider standard width
                height: 680, // slider standard height
                space: 0,
                speed: 45,
                layout: 'fullwidth',
                loop: true,
                preload: 0,
                autoplay: true,
                view: "parallaxMask"
            });
        })(jQuery);
    </script>
    <script type="text/javascript">
        (function ($) {
            "use strict";
            var slider = new MasterSlider();

            slider.setup('masterslider2', {
                width: 1400, // slider standard width
                height: 580, // slider standard height
                space: 0,
                speed: 27,
                layout: 'fullwidth',
                loop: true,
                preload: 0,
                autoplay: true,
                view: "basic",
            });
        })(jQuery);
    </script>
}

@section styles{
    <!-- flexslider -->
    <link rel="stylesheet" href="@Url.Content("~/js/flexslider/flexslider.css")" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/js/flexslider/skin.css")" />
}