@{
    ViewData["Title"] = "Home Page";
}

@Html.Partial("_slider")

<div class="clearfix margin_top5"></div>
<div class="featured_section13">
    <div class="container">

        <h1 class=" animate" data-anim-type="fadeIn" data-anim-delay="100">
            Welcome to Government Engineering College,Patan
            <div class="divider_line11belownews"></div>
        </h1>
         
        <div class="one_fourth">

            <img src="images/custom/courses.png" alt="" class="cirimg animate" data-anim-type="zoomIn" data-anim-delay="100" />

            <h4 class="color2">Seven different courses provided</h4>

            <br /><br />
            @*<a href="#" class="but_calendar">Read More</a>*@

        </div>
        <!-- end section -->

        <div class="one_fourth">

            <img src="images/icon-img2.png" alt="" class="cirimg animate" data-anim-type="zoomIn" data-anim-delay="200" />

            <h4 class="color2">Highly Educated Faculties</h4>

            <br /><br />
            @*<a href="#" class="but_calendar">Read More</a>*@

        </div>
        <!-- end section -->

        <div class="one_fourth">

            <img src="images/icon-img3.png" alt="" class="cirimg animate" data-anim-type="zoomIn" data-anim-delay="300" />

            <h4 class="color2">Library with books across nation</h4>

            <br /><br />
            @*<a href="#" class="but_calendar">Read More</a>*@

        </div>
        <!-- end section -->

        <div class="one_fourth last">

            <img src="images/icon-img4.png" alt="" class="cirimg animate" data-anim-type="zoomIn" data-anim-delay="400" />

            <h4 class="color2">Differnt Committees to help you grow</h4>

            <br /><br />
            @*<a href="#" class="but_calendar">Read More</a>*@

        </div>
        <!-- end section -->

    </div>
</div>
<!-- end featured section 13 -->
<div class="clearfix margin_top8"></div>
<div class="featured_section14">
    <div class="container">

        <div class="one_half animate" data-anim-type="fadeInLeft" data-anim-delay="300">

            <img src="images/icon-img13.png" alt="" />
            <br /><br />
            <h3 class="white">Vision</h3>

            <p>To prepare Human Resource with value based competency for technical advancements and growth of society.</p>
            <br /><br />


        </div>
        <!-- end section -->

        <div class="one_half last animate" data-anim-type="fadeInRight" data-anim-delay="300">

            <img src="images/icon-img12.png" alt="" />
            <br /><br />
            <h3 class="white">Mission</h3>

            <p>
                Deliver technical programs and services to cater the current needs of society and industry, and to contribute in sustainable growth of society
            </p>
            <br /><br />


        </div>
        <!-- end section -->

    </div>
</div>
<!-- end featured section 14 -->
<div class="divider_line11dept"></div>
<div class="featured_section16">
    <div class="container">

        <h2>Departments</h2>

        <div class="box">
            <a href="@Url.Action("Administrative","Department")">
                <div class="hexagon one animate" data-anim-type="spinLeft" data-anim-delay="300">
                    <i class="fa fa-building"></i>
                    <h6>Administrative Block</h6>
                </div>
            </a>
            <a href="@Url.Action("Electrical","Department")">
                <div class="hexagon six animate" data-anim-type="spinLeft" data-anim-delay="300">
                    <i class="fas fa-microchip"></i>
                    <h6>EC</h6>
                </div>
            </a>
            <a href="@Url.Action("Computer","Department")">
                <div class="hexagon seven animate" data-anim-type="spinLeft" data-anim-delay="300">
                    <i class="fa fa-desktop"></i>
                    <h6>Computer</h6>
                </div>
            </a>
            <div class="clearfix haxmargin"></div>
            <a href="@Url.Action("Electrical","Department")">
                <div class="hexagon two animate" data-anim-type="spinRight" data-anim-delay="300">
                    <i class="fa fa-bolt"></i>
                    <h6>Electrical</h6>
                </div>
            </a>
            <a href="@Url.Action("Civil","Department")">
                <div class="hexagon three animate" data-anim-type="spinRight" data-anim-delay="300">
                    <i class="fas fa-hard-hat"></i>
                    <h6>Civil</h6>
                </div>
            </a>
            <a href="@Url.Action("Mechanical","Department")">
                <div class="hexagon four animate" data-anim-type="spinRight" data-anim-delay="300">
                    <i class="fa fa-wrench"></i>
                    <h6>Mechanical</h6>
                </div>
            </a>
            <a href="@Url.Action("CoE","Institute")">
                <div class="hexagon five animate" data-anim-type="spinRight" data-anim-delay="300">
                    <i class="fa fa-cogs"></i>
                    <h6>Siemens</h6>
                </div>
            </a>

        </div>

    </div>
</div>

<div class="clearfix margin_bottom12"></div>

<div class="clearfix"></div>
<div class="parallax_section1">
    <div class="clearfix margin_bottom6"></div>
    <div class="container">

        <div class="flexslider carousel">
            <ul class="slides">

                <li>

                    <img src="@Url.Content("~/images/Home/icon-user-90.png")" alt="" />
                    <h5>Sachin Raval<em>Alumni - EE</em></h5>

                    <p>
                        Our college seemed to be the best place that offered me opportunities to grow as a person. It gave me lasting friendships, and the strength and knowledge that I am able to achieve my goals no matter the obstacles faced. My experience in GEC, Patan has taught me true strength, and that it is okay to ask for help
                    </p>

                </li>
                <!-- end slide -->

                <li>

                    <img src="@Url.Content("~/images/Home/icon-user-90.png")" alt="" />
                    <h5>Divyarajsinh Gohil <em>Alumni - CSE</em></h5>

                    <p>
                        I think I had one of the best time spans of my life during my college days. I believed it was the best place for me to develop academically and as a young adult. Besides academic success, some of my fondest memories are the time spent with friends and involvement in various cultural and sport events. Everyone was always so welcoming and friendly. I certainly made some friends for a lifetime.
                    </p>

                </li>
                <!-- end slide -->

                <li>

                    <img src="@Url.Content("~/images/Home/icon-user-90.png")" alt="" />
                    <h5>Vats Patel <em>Alumni - ME</em></h5>

                    <p>
                        My experience at GEC Patan was very different and has led me to explore and learn new things in terms of personal and professional aspects. The faculty here focuses on students' career goals with proper guidance in selecting most suitable specialization based on one's strengths and passion. The various co-curricular activities, built confidence and leadership skills in us. The ambience of the college has always been so positive and encourages to learn.
                    </p>

                </li>
                <!-- end slide -->



            </ul>
        </div>

    </div>
    <div class="clearfix margin_bottom6"></div>
</div>
<!-- end parallax section 1 -->




@section tabs{

    <script src="@Url.Content("~/js/tabs2/index.js")"></script>
    <script>
        $('.accordion, .tabs').TabsAccordion({
            hashWatch: true,
            pauseMedia: true,
            responsiveSwitch: 'tablist',
            saveState: sessionStorage,
        });
    </script>
    <script defer src="@Url.Content("~/js/flexslider/jquery.flexslider.js")"></script>
    <script defer src="@Url.Content("~/js/flexslider/custom.js")"></script>
}

@section master_slider{
    <script src="@Url.Content("~/js/masterslider/masterslider.min.js")"></script>
    <script type="text/javascript">
        (function ($) {
            "use strict";
            var slider = new MasterSlider();
            // adds Arrows navigation control to the slider.
            slider.control('arrows');
            slider.control('bullets');

            slider.setup('masterslider', {
                width: 1400, // slider standard width
                height: 680, // slider standard height
                space: 0,
                speed: 45,
                layout: 'fullwidth',
                loop: true,
                preload: 0,
                autoplay: true,
                view: "parallaxMask"
            });
        })(jQuery);
    </script>
    <script type="text/javascript">
        (function ($) {
            "use strict";
            var slider = new MasterSlider();

            slider.setup('masterslider2', {
                width: 1400, // slider standard width
                height: 580, // slider standard height
                space: 0,
                speed: 27,
                layout: 'fullwidth',
                loop: true,
                preload: 0,
                autoplay: true,
                view: "basic",
            });
        })(jQuery);
    </script>
}

@section styles{
    <!-- flexslider -->
    <link rel="stylesheet" href="@Url.Content("~/js/flexslider/flexslider.css")" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/js/flexslider/skin.css")" />
}