@model FacilitiesVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.Title;
    int count = 1;
}

<div class="clearfix"></div>

<div class="page_title3 @Model.TitleImageCSSClass" style="background: #999 url(@Model.TitleImage) no-repeat center top;background-size: cover;">
    <div class="container">

        <h1>
            @Model.Title <em>Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>
<div class="clearfix"></div>
<!-- end page title -->

<div class="content_fullwidth">

    <div class="featured_section55">

        <div class="container">
            <div class="one_half">
                <img src="@Url.Content(Model.SideImage)" alt="" class="rimg">

                
            </div>
            <div class="one_half last">
                <h3 class="caps">About @Model.Title</h3>
                <br />

                <p class="bigfont gray text-justify">
                    @Model.About
                </p>
            </div>

        </div>

    </div>
    <!-- end of featured section 14 -->
    @if (Model.Factors.Any())
    {
        @foreach (var factor in Model.Factors)
        {
            <div class="container">
                @if (count%2==1)
                {
                    <div class="one_half">
                        <h2>@factor.Name</h2>
                        <table border="5" cellpadding="10" cellspacing="2">
                            <tr>
                                <td>Rooms</td>
                                <td>@factor.Rooms</td>
                            </tr>
                            <tr>
                                <td>Capacity</td>
                                <td>@factor.Capacity</td>
                            </tr>
                            <tr>
                                <td>Mess</td>
                                <td>@factor.Mess</td>
                            </tr>
                            <tr>
                                <td>Hall</td>
                                <td>@factor.Hall</td>
                            </tr>
                        </table>
                    </div>
                }
                @if(count%2==0)
                {
                    <div class="one_half last">
                        <h2>@factor.Name</h2>
                        <table border="2" cellpadding="10" cellspacing="2">
                            <tr>
                                <td>Rooms</td>
                                <td>@factor.Rooms</td>
                            </tr>
                            <tr>
                                <td>Capacity</td>
                                <td>@factor.Capacity</td>
                            </tr>
                            <tr>
                                <td>Mess</td>
                                <td>@factor.Mess</td>
                            </tr>
                            <tr>
                                <td>Hall</td>
                                <td>@factor.Hall</td>
                            </tr>
                        </table>
                    </div>
                }
            </div>
            count++;
        }
    }
    @if (Model.Members.Count() > 0)
    {
        <div class="clearfix margin_bottom6"></div>
        <div class="featured_section30">
            <div class="container">
                <h1 class="title22 animate" data-anim-type="fadeIn" data-anim-delay="100" style="color: black !important;">
                    Committee Members
                </h1>
                @foreach (var item in Model.Members)
                {
                    if (count % 2 == 0)
                    {
                        @*<div class="one_half last animate" data-anim-type="fadeIn" data-anim-delay="300" style="border-left:1px solid rgba(255, 255, 255, 0.1)">

                            <img src="@Url.Content(item.Image)" alt="">
                            <h5>@item.Name <em>@item.Position</em></h5>
                            <p>@item.Department</p>
                            <p>@item.Email</p>
                            @*  <br>
                <a href="#" class="button four">Read More</a> 
                        </div>

                        <!-- end section -->

                        <div class="clearfix margin_top5"></div>
                    }
                    else
                    {
                        <div class="one_half animate" data-anim-type="fadeIn" data-anim-delay="400">

                            <img src="@Url.Content(item.Image)" alt="">
                            <h5>@item.Name <em>@item.Position</em></h5>
                            <p>@item.Department</p>
                            <p>@item.Email</p>
                            @*  <br>
                <a href="#" class="button four">Read More</a> 
                        </div>
                        *@
                        <!-- end section -->
                    }
                    count++;
                }
            </div>
        </div>
        <div class="clearfix margin_bottom6"></div>
    }

    @if (!string.IsNullOrWhiteSpace(Model.BlogLink))
    {
        <div class="arrowdown_box">
            <div class="container">

                <h2 class="white">
                    <p>Link For Blogspot:</p>
                    <a href="@Model.BlogLink">@Model.BlogLink</a>
                </h2>

            </div>
        </div>
        <div class="clearfix"></div>
    }

</div>