
@{Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Gallery";
}
<div class="clearfix"></div>


<div class="page_title3">
    <div class="container">

        <h1>
            Gallery<em>Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>
<div class="margin_top2"></div>

<div class="works01">
    <div class="container">

        <div id="filters-container" class="cbp-l-filters-button">
            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
                All
                <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".campus" class="cbp-filter-item">
                campus
                <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".identity" class="cbp-filter-item">
                woman councelling session
                <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".web-design" class="cbp-filter-item">
                NSS Activities
                <div class="cbp-filter-counter"></div>
            </div>

            <div data-filter=".logos" class="cbp-filter-item">
                tree plantation
                <div class="cbp-filter-counter"></div>
            </div>

            <div data-filter=".media" class="cbp-filter-item">
                media support
                <div class="cbp-filter-counter"></div>
            </div>

        </div>


        <div id="grid-container" class="cbp-l-grid-fullWidth">
            
                <div class="cbp-item campus">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="@Url.Content("~/images/gallary/campus11.jpg")" alt="" style="width:350px; height:200px">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>campus</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="~/images/gallary/campus11.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Model as Structures <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           
                <!-- end item -->
                <div class="cbp-item campus">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="@Url.Content("~/images/gallary/campus.jpg")" alt="" style="width:350px; height:200px">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>campus</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="~/images/gallary/campus.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Model as Structures <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->
                <div class="cbp-item campus">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="@Url.Content("~/images/gallary/camp.jpg")" alt="" style="width:350px; height:200px">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>campus</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="~/images/gallary/camp.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Model as Structures <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->
                <div class="cbp-item campus">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="@Url.Content("~/images/gallary/campus22.jpg")" alt="" style="width: 350px; height: 200px">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>campus</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="~/images/gallary/campus22.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Model as Structures <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item campus">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="@Url.Content("~/images/gallary/admin.jpg")" alt="" style="width:350px; height:200px">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>campus</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="~/images/gallary/admin.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Model as Structures <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->






                <div class="cbp-item web-design">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="@Url.Content("~/images/gallary/rk1.jpg")" alt="" style="width:358.6px; height:199.783px">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>rani ki vav</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="~/images/gallary/rk1.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Looking Publishing <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cbp-item web-design">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="@Url.Content("~/images/gallary/nss1.jpg")" alt="" style="width:358.6px; height:199.783px">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>rani ki vav</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="~/images/gallary/nss1.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Looking Publishing <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 end item 
                <div class="cbp-item web-design">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="@Url.Content("~/images/gallary/nss2.jpg")" alt="" style="width:358.6px; height:199.783px">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>rani ki vav</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="~/images/gallary/nss2.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Looking Publishing <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 end item 
                <div class="cbp-item web-design">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="@Url.Content("~/images/gallary/nss3.jpg")" alt="" style="width:358.6px; height:199.783px">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>rani ki vav</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="~/images/gallary/nss3.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Looking Publishing <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 end item 
                <div class="cbp-item web-design">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="@Url.Content("~/images/gallary/nss4.jpg")" alt="" style="width:358.6px; height:199.783px">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>rani ki vav</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="~/images/gallary/nss4.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Looking Publishing <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 end item 
                <div class="cbp-item web-design">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="@Url.Content("~/images/gallary/nss5.jpg")" alt="" style="width:358.6px; height:199.783px">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>rani ki vav</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="~/images/gallary/nss5.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Looking Publishing <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 end item 
                <div class="cbp-item web-design">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="@Url.Content("~/images/gallary/nss6.jpg")" alt="" style="width:358.6px; height:199.783px">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>rani ki vav</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="~/images/gallary/nss6.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Looking Publishing <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 end item 
                <div class="cbp-item web-design">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="@Url.Content("~/images/gallary/nss7.jpg")" alt="" style="width:358.6px; height:199.783px">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>rani ki vav</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="~/images/gallary/nss7.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Looking Publishing <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 end item 
                <div class="cbp-item web-design">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="@Url.Content("~/images/gallary/nss8.jpg")" alt="" style="width:358.6px; height:199.783px">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>rani ki vav</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="~/images/gallary/nss8.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Looking Publishing <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 end item 

                <div class="cbp-item identity">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="@Url.Content("~/images/gallary/womwn1.jpg")" alt="" style="width:358.6px; height:199.783px">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Woman cell</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="~/images/gallary/womwn1.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Webpage as Packages <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 end item 


                <div class="cbp-item identity">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="@Url.Content("~/images/gallary/womwn2.jpg")" alt="" style="width:358.6px; height:199.783px">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>woman cell</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="~/images/gallary/womwn2.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Alteration Words <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 end item 
                <div class="cbp-item identity">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="@Url.Content("~/images/gallary/womwn3.jpg")" alt="" style="width:358.6px; height:199.783px">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>woman cell</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="~/images/gallary/womwn3.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Alteration Words <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 end item 
                <div class="cbp-item logos">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="@Url.Content("~/images/gallary/tp1.jpg")" alt="" style="width:358.6px; height:199.783px">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>tree plantation</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="~/images/gallary/tp1.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Alteration Words <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 end item 
                <div class="cbp-item logos">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="@Url.Content("~/images/gallary/tp2.jpg")" alt="" style="width:358.6px; height:199.783px">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>tree plantation</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="~/images/gallary/tp2.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Alteration Words <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 end item 
                <div class="cbp-item logos">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="@Url.Content("~/images/gallary/tp3.jpg")" alt="" style="width:358.6px; height:199.783px">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>tree plantation</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="~/images/gallary/tp3.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Alteration Words <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 end item 
                <div class="cbp-item media">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="@Url.Content("~/images/gallary/ms1.jpg")" alt="" style="width:358.6px; height:199.783px">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>media support</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="~/images/gallary/ms1.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Alteration Words <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 end item 
                <div class="cbp-item media">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="@Url.Content("~/images/gallary/ms2.jpg")" alt="" style="width:358.6px; height:199.783px">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                s
                                <div class="cbp-l-caption-body">
                                    <h4>media support</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="~/images/gallary/ms2.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Alteration Words <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 end item 
                <div class="cbp-item ls">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="@Url.Content("~/images/gallary/ms3.jpg")" alt="" style="width:358.6px; height:199.783px">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>media support</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="~/images/gallary/ms3.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Alteration Words <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

            </div>

            <!--<div class="cbp-l-loadMore-text">
        <div data-href="ajax/loadMore.html" class="cbp-l-loadMore-text-link">LOADING...</div>
    </div>-->


       </div>
</div>
<!-- end works section -->


<div class="clearfix margin_top2"></div>


