@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Gallery";
}
<div class="clearfix"></div>


<div class="page_title3 gallery_title">
    <div class="container">

        <h1>
            Gallery<em>Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>
<div class="margin_top2"></div>

<div class="works01">
    <div class="container">

        <div id="filters-container" class="cbp-l-filters-button">
            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
                All
                <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".campus" class="cbp-filter-item">
                campus
                <div class="cbp-filter-counter"></div>
            </div>
            @*<div data-filter=".identity" class="cbp-filter-item">
            woman councelling session
            <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".web-design" class="cbp-filter-item">
            NSS Activities
            <div class="cbp-filter-counter"></div>
            </div>

            <div data-filter=".logos" class="cbp-filter-item">
            tree plantation
            <div class="cbp-filter-counter"></div>
            </div>

            <div data-filter=".media" class="cbp-filter-item">
            media support
            <div class="cbp-filter-counter"></div>
            </div>*@

        </div>


        <div id="grid-container" class="cbp-l-grid-fullWidth">

            <div class="cbp-item campus">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="@Url.Content("~/images/gallary/c1.jpg")" alt="">
                    </div>
                    @*<div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                    <h4>campus</h4>
                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                    <a href="~/images/gallary/campus11.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Model as Structures <br>reasonable always">view larger</a>
                    </div>
                    </div>
                    </div>*@
                </div>
            </div>

            <div class="cbp-item campus">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="@Url.Content("~/images/gallary/c2.jpg")" alt="">
                    </div>
                    @*<div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                    <h4>campus</h4>
                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                    <a href="~/images/gallary/campus11.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Model as Structures <br>reasonable always">view larger</a>
                    </div>
                    </div>
                    </div>*@
                </div>
            </div>

            <div class="cbp-item campus">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="@Url.Content("~/images/gallary/c3.jpg")" alt="">
                    </div>
                    @*<div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                    <h4>campus</h4>
                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                    <a href="~/images/gallary/campus11.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Model as Structures <br>reasonable always">view larger</a>
                    </div>
                    </div>
                    </div>*@
                </div>
            </div>

            <div class="cbp-item campus">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="@Url.Content("~/images/gallary/md1.jpg")" alt="">
                    </div>
                    @*<div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                    <h4>campus</h4>
                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                    <a href="~/images/gallary/campus11.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Model as Structures <br>reasonable always">view larger</a>
                    </div>
                    </div>
                    </div>*@
                </div>
            </div>

            <div class="cbp-item campus">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="@Url.Content("~/images/gallary/md2.jpg")" alt="">
                    </div>
                    @*<div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                    <h4>campus</h4>
                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                    <a href="~/images/gallary/campus11.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Model as Structures <br>reasonable always">view larger</a>
                    </div>
                    </div>
                    </div>*@
                </div>
            </div>

            <div class="cbp-item campus">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="@Url.Content("~/images/gallary/n1.jpg")" alt="">
                    </div>
                    @*<div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                    <h4>campus</h4>
                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                    <a href="~/images/gallary/campus11.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Model as Structures <br>reasonable always">view larger</a>
                    </div>
                    </div>
                    </div>*@
                </div>
            </div>

            <div class="cbp-item campus">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="@Url.Content("~/images/gallary/n2.jpg")" alt="">
                    </div>
                    @*<div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                    <h4>campus</h4>
                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                    <a href="~/images/gallary/campus11.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Model as Structures <br>reasonable always">view larger</a>
                    </div>
                    </div>
                    </div>*@
                </div>
            </div>

            <div class="cbp-item campus">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="@Url.Content("~/images/gallary/n3.jpg")" alt="">
                    </div>
                    @*<div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                    <h4>campus</h4>
                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                    <a href="~/images/gallary/campus11.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Model as Structures <br>reasonable always">view larger</a>
                    </div>
                    </div>
                    </div>*@
                </div>
            </div>

            <div class="cbp-item campus">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="@Url.Content("~/images/gallary/n4.jpg")" alt="">
                    </div>
                    @*<div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                    <h4>campus</h4>
                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                    <a href="~/images/gallary/campus11.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Model as Structures <br>reasonable always">view larger</a>
                    </div>
                    </div>
                    </div>*@
                </div>
            </div>

            <div class="cbp-item campus">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="@Url.Content("~/images/gallary/n5.jpg")" alt="">
                    </div>
                    @*<div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                    <h4>campus</h4>
                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                    <a href="~/images/gallary/campus11.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Model as Structures <br>reasonable always">view larger</a>
                    </div>
                    </div>
                    </div>*@
                </div>
            </div>

            <div class="cbp-item campus">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="@Url.Content("~/images/gallary/n6.jpg")" alt="">
                    </div>
                    @*<div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                    <h4>campus</h4>
                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                    <a href="~/images/gallary/campus11.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Model as Structures <br>reasonable always">view larger</a>
                    </div>
                    </div>
                    </div>*@
                </div>
            </div>

            <div class="cbp-item campus">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="@Url.Content("~/images/gallary/n7.jpg")" alt="">
                    </div>
                    @*<div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                    <h4>campus</h4>
                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                    <a href="~/images/gallary/campus11.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Model as Structures <br>reasonable always">view larger</a>
                    </div>
                    </div>
                    </div>*@
                </div>
            </div>

            <div class="cbp-item campus">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="@Url.Content("~/images/gallary/n8.jpg")" alt="">
                    </div>
                    @*<div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                    <h4>campus</h4>
                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                    <a href="~/images/gallary/campus11.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Model as Structures <br>reasonable always">view larger</a>
                    </div>
                    </div>
                    </div>*@
                </div>
            </div>

            <div class="cbp-item campus">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="@Url.Content("~/images/gallary/n9.jpg")" alt="">
                    </div>
                    @*<div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                    <h4>campus</h4>
                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                    <a href="~/images/gallary/campus11.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Model as Structures <br>reasonable always">view larger</a>
                    </div>
                    </div>
                    </div>*@
                </div>
            </div>

            <div class="cbp-item campus">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="@Url.Content("~/images/gallary/n10.jpg")" alt="">
                    </div>
                    @*<div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                    <h4>campus</h4>
                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                    <a href="~/images/gallary/campus11.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Model as Structures <br>reasonable always">view larger</a>
                    </div>
                    </div>
                    </div>*@
                </div>
            </div>

            <div class="cbp-item campus">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="@Url.Content("~/images/gallary/n11.jpg")" alt="">
                    </div>
                    @*<div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                    <h4>campus</h4>
                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                    <a href="~/images/gallary/campus11.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Model as Structures <br>reasonable always">view larger</a>
                    </div>
                    </div>
                    </div>*@
                </div>
            </div>

            <div class="cbp-item campus">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="@Url.Content("~/images/gallary/n12.jpg")" alt="">
                    </div>
                    @*<div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                    <h4>campus</h4>
                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                    <a href="~/images/gallary/campus11.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Model as Structures <br>reasonable always">view larger</a>
                    </div>
                    </div>
                    </div>*@
                </div>
            </div>

            <div class="cbp-item campus">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="@Url.Content("~/images/gallary/t1.jpg")" alt="">
                    </div>
                    @*<div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                    <h4>campus</h4>
                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                    <a href="~/images/gallary/campus11.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Model as Structures <br>reasonable always">view larger</a>
                    </div>
                    </div>
                    </div>*@
                </div>
            </div>

            <div class="cbp-item campus">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="@Url.Content("~/images/gallary/t2.jpg")" alt="">
                    </div>
                    @*<div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                    <h4>campus</h4>
                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                    <a href="~/images/gallary/campus11.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Model as Structures <br>reasonable always">view larger</a>
                    </div>
                    </div>
                    </div>*@
                </div>
            </div>

            <div class="cbp-item campus">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="@Url.Content("~/images/gallary/t3.jpg")" alt="">
                    </div>
                    @*<div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                    <h4>campus</h4>
                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                    <a href="~/images/gallary/campus11.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Model as Structures <br>reasonable always">view larger</a>
                    </div>
                    </div>
                    </div>*@
                </div>
            </div>

            <div class="cbp-item campus">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="@Url.Content("~/images/gallary/wman1.jpg")" alt="">
                    </div>
                    @*<div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                    <h4>campus</h4>
                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                    <a href="~/images/gallary/campus11.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Model as Structures <br>reasonable always">view larger</a>
                    </div>
                    </div>
                    </div>*@
                </div>
            </div>

            <div class="cbp-item campus">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="@Url.Content("~/images/gallary/wman2.jpg")" alt="">
                    </div>
                    @*<div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                    <h4>campus</h4>
                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                    <a href="~/images/gallary/campus11.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Model as Structures <br>reasonable always">view larger</a>
                    </div>
                    </div>
                    </div>*@
                </div>
            </div>

        </div>

        <!--<div class="cbp-l-loadMore-text">
            <div data-href="ajax/loadMore.html" class="cbp-l-loadMore-text-link">LOADING...</div>
        </div>-->


    </div>
</div>
<!-- end works section -->


<div class="clearfix margin_top2"></div>

@section tabs {
    <script type="text/javascript" src="@Url.Content("~/js/cubeportfolio/main32.js")"></script>
}


