@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Alumni";
}


<div class="clearfix"></div>


<div class="page_title3 women_cell_title">
    <div class="container">

        <h1>
            Alumni<em>Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>
<div class="clearfix"></div>


<div class="content_fullwidth">
    <div class="featured_section55 animate" data-anim-type="fadeIn" data-anim-delay="100">
        <div class="container">

            <h2 class="caps">About GECP Alumni</h2>

            <br /><br />

            <div class="one_third">

                <h4 class="color3 margin_bottom2">GECP Alumni</h4>
                <p class="bigtfont text-justify">Government Engineering College, Patan Alumni creates and maintains a life-long connection between the college and its alumni. In collaboration with an extremely dedicated volunteer alumni members and college staff, the Alumni Association works to connect alumni, supports students, and builds an unforgettable Institute experience through a diversity of events, programs, and services.</p>
            </div>
            <!-- end section -->

            <div class="one_third text-center">

                <img src="@Url.Content("~/images/alumni.jpg")" alt="" clss="rimg">

            </div>
            <!-- end section --last-->

            <div class="one_third last">

                <h4 class="color3 margin_bottom2">GECP Measures</h4>
                <p class="bigtfont text-justify">The Colleges’s alumni are its lasting legacy and strongest voice. Graduating from GEC,Patan gives you access to an exclusive global network of minded alumni. It has been an integral part of the GECP Alumni to constantly evolve, adapt, expand its reach, and find new ways to build.</p>

            </div>
            <!-- end section -->

        </div>
    </div>
</div>
<!-- end featured section 55 -->

<div class="margin_top2"></div>
<div class="featured_section106">
    <div class="container">
        <div class="margin_top4"></div>
        <div class="onecol_sixty animate fadeInLeft" data-anim-type="fadeInLeft" data-anim-delay="200">

            <img src="images/site-img144.png" alt="" class="img_left rimg">
            <img src="@Url.Content("~/images/alumni-poster.jpg")" alt="" class="img_left rimg position-absolute" />

        </div><!-- end section -->

        <div class="onecol_forty last">

            <h2 class="roboto thin">Objectives</h2>
            <div class="hsmline7"></div>

            <br><br>

            <h4 class="roboto thin text-justify"><i class="fa fa-check"></i>To encourage, foster, and promote close relations amongst the Alumni members and improve engagement between the Alumni and the College.</h4>
            <h4 class="roboto thin text-justify"><i class="fa fa-check"></i>To promote and enhance the College’s good name and reputation.</h4>
            <h4 class="roboto thin text-justify"><i class="fa fa-check"></i>To provide a forum for the Alumni for the exchange of ideas on academic, cultural, and social issues of the day by organizing and coordinating reunion activities of the Alumni.</h4>
        </div><!-- end section -->
       


    </div>
</div>
<div class="featured_section14">
    <div class="container">

        <div class="one_half animate" data-anim-type="fadeInLeft" data-anim-delay="300">

            <img src="@Url.Content("~/images/vision.png")" alt="" />
            <br /><br />
            <h3 class="white">Vision</h3>

            <p>To make the cell a unique platform for the development of its members, by providing them opportunities to contribute towards the betterment of the society.</p>
            <br /><br />


        </div>
        <!-- end section -->

        <div class="one_half last animate" data-anim-type="fadeInRight" data-anim-delay="300">

            <img src="@Url.Content("~/images/mission.png")" alt="" />
            <br /><br />
            <h3 class="white">Mission</h3>

            <p>To create a transformative educational experience for students focused on deep disciplinary knowledge; problem solving; leadership, communication, and interpersonal skills; and personal health and well-being.</p>
            <br /><br />


        </div>
        <!-- end section -->

    </div>
</div>


<!-- end parallax section 10 -->
<div class="clearfix"></div>

<div class="clearfix" style="background: #5076bb !important"></div>

<div class="content_fullwidth">
    <div class="featured_section55 animate" data-anim-type="fadeIn" data-anim-delay="100">
        <div class="container">
            <h1 class="color3 margin_bottom2">Alumni Registration Form</h1>
            <div class="one_half">
                <img src="@Url.Content("~/images/registration-gaf3f8e6b9_1920.jpg")" class="rimg" />
            </div>
            <div class="one_half last">
                <h4 class="roboto thin text-justify"><i class="fa fa-check"></i> Pay 200 Rs registration fees via NEFT / IMPS</h4>
                <h4 class="roboto thin text-justify"><i class="fa fa-check"></i> Fill the registration form by clicking <a href="https://forms.gle/MQEXfWn25686ZUdN7" target="_blank"> here </a> (payment proof required)</h4>
                <h4 class="roboto thin text-justify"><i class="fa fa-check"></i> Once the registration is completed, you will be provided temporary Member ID through EMAIL.</h4>
                <h4 class="roboto thin text-justify"><i class="fa fa-check"></i> Updates will be sent regarding Alumni events to your registered Email IDs.</h4>
                <div class="clearfix"></div>
                <div class="address_info">
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <tr>
                            <td>Bank Name</td>
                            <td>HDFC Bank LTD. Station Road, Patan</td>
                        </tr>
                        <tr>
                            <td>Account Number</td>
                            <td>50100518857037</td>
                        </tr>
                        <tr>
                            <td>IFSC Code</td>
                            <td>HDFC0000782</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="clearfix margin_bottom2"></div>
    </div>
</div>
<div class="clearfix"></div>
<div class="parallax_section10">
    <div class="container">
        <div class="featured_section13">

            <h1 class="title22 animate" data-anim-type="fadeIn" data-anim-delay="100" style="color: white;">
                Committee Members

            </h1>
        </div>

        <div class="one_fourth animate" data-anim-type="fadeInLeft" data-anim-delay="100">

            <img src="@Url.Content("~/images/Department/Computer/Jethva.png")" alt="" class="rimg" />
            <h5 class="roboto caps"><a href="#"><strong>Dr Harikrishna Jethva</strong></a></h5>
            <h5 class="roboto">Coordinator <em></em></h5>
        </div>

        <div class="one_fourth animate" data-anim-type="fadeInLeft" data-anim-delay="100">

            <img src="@Url.Content("~/images/Department/Mechanical/HoD.png")" alt="" class="rimg" style="height:220px" />
            <h5 class="roboto caps"><a href="#"><strong>Dr Anand Dhruv</strong></a></h5>
            <h5 class="roboto">Member <em></em></h5>
        </div>
        <div class="one_fourth animate" data-anim-type="fadeInLeft" data-anim-delay="100">

            <img src="@Url.Content("~/images/CampusCommittee/WomenCell/dummy.jpg")" alt="" class="rimg" style="height:220px" />
            <h5 class="roboto caps"><a href="#"><strong>Dr. Dinesh Patel</strong></a></h5>
            <h5 class="roboto">Member <em></em></h5>
        </div>
        <div class="one_fourth animate last" data-anim-type="fadeInLeft" data-anim-delay="100">

            <img src="@Url.Content("~/images/Department/Electrical/HoD.png")" alt="" class="rimg" style="height:220px" />
            <h5 class="roboto caps"><a href="#"><strong>Prof. Gunvantbhai Patel</strong></a></h5>
            <h5 class="roboto">Member <em></em></h5>
        </div>


        <!-- end section -->

    </div>
</div>